<h2>Treffen Sie uns hier:</h2>

<div class="agenda-item">
  <h3>Kongress "Vernetzte Gesundheit"</h3>
  <p class="info">17.-18. Januar | Kiel</p>
  <p>
    Potenziale heben – Innovationen leben: Unternehmung Gesundheit.
  </p>
  <a href="http://www.vernetzte-gesundheit.de" target="_blank">Weitere Infos</a>
</div>
