<h2>Treffen Sie uns hier:</h2>

<article class="agenda-item">
  <header>
    <h3>
      Kongress "Vernetzte Gesundheit"
    </h3>
  </header>
  <p class="info">
    17.-18. Januar | Kiel
  </p>
  <p>
    Potenziale heben – Innovationen leben: Unternehmung Gesundheit.
  </p>
  <a href="http://www.vernetzte-gesundheit.de" target="_blank" title="Vernetze Gesundheit">Weitere Infos</a>
</article>
