<h2>Bezoek ons hier:</h2>

<article class="agenda-item">
  <header>
    <h3>
      State of the Art Marketing Event 2017
    </h3>
  </header>
  <p class="info">
    13 januari 2017 | Windesheim, Zwolle
  </p>
  <p>
    Bezoek ons in Zwolle tijdens het het SAM evenement op hogeschool Windesheim. We zijn hier aanwezig om te laten zien hoe je kennis makkelijk en snel deelt met <a href="http://www.learningspaces.nl" target="_blank" title="LearningSpaces">LearningSpaces</a>. Wil je ook aanwezig zijn? <a href="/contact/#form">Neem dan contact met ons op</a>, we hebben nog enkele kaarten beschikbaar.
  </p>
</article>

<article class="agenda-item">
  <header>
    <h3>
      Noorder eHealth-symposium
    </h3>
  </header>
  <p class="info">
    25 januari 2017 | UMCG, Groningen
  </p>
  <p>
    Technologie vindt steeds beter zijn weg naar de patiënt. Tijdens het Noorder eHealth Symposium in het UMCG geven we twee workshops. We leggen je graag uit hoe we met <a href="http://www.learningspaces.nl" target="_blank" title="LearningSpaces">LearningSpaces</a> belangrijke informatie op een interactieve manier aan de patiënt leveren. Wil je aanwezig zijn? <a href="/contact/#form">Neem dan contact met ons op</a>.
  </p>
</article>
