<h2>Bezoek ons hier:</h2>

<div class="agenda-item">
  <h3>State of the Art Marketing Event 2017</h3>
  <p class="info">13 januari 2017 | Windesheim, Zwolle</p>
  <p>
    13 januari staat team LearningSpaces in Zwolle op Hogeschool Windesheim tijdens <a href="http://samevent.nl" target="_blank">het SAM evenement</a>.
  </p>
</div>

<div class="agenda-item">
  <h3>Noorder eHealth-symposium</h3>
  <p class="info">25 januari 2017 | UMCG, Groningen</p>
  <p>
    25 januari staat team LearningSpaces op <a href="https://www.ehealthweek.net/event/noorder-ehealth-symposium/" target="_blank">het Noorder eHealth-symposium</a> in het UMCG.
  </p>
</div>
