<section class="feature-list three">
  <div class="row">

    <div class="headline">
      <h2>
        Der Grundstein jeder modernen Akademie und Fortbildungsabteilung. Einladend, zuverlässig und simpel.
      </h2>
    </div>

    <div class="col">
      <%= image_tag "icons/leren-blue.png", alt: "Bilden" %>
      <h3>Bilden</h3>
      <p>Bieten Sie Ihren Teilnehmern ein einzigartiges Lernerlebnis mit verschiedenen Lernformaten, von Präsenz bis hin zu E-Learning, und einem einfachen Lernprozess.</p>
      <hr>
      <ul class="checklist">
        <li>Fortbildungskatalog</li>
        <li>Blended Learning</li>
        <li>E-Learning</li>
        <li>Digitale Lernplattform</li>
        <li>Seminarverwaltung</li>
      </ul>
    </div>

    <div class="col">
      <%= image_tag "icons/ontwikkelen-blue.png", alt: "Entwickeln" %>
      <h3>Entwickeln</h3>
      <p>Unterstützen Sie Ihre Mitarbeiter bei der persönlichen und professionellen Entwicklung mit den Lösungen von CAPP Entwickeln.</p>
      <hr>
      <ul class="checklist">
        <li>E-Portfolio</li>
        <li>Kompetenzmanagement</li>
        <li>Talentmanagement</li>
        <li>Jahresgespräche</li>
      </ul>
    </div>

    <div class="col">
      <% locale_link_to "/kwaliteitspaspoort.html" do %>
        <%= image_tag "icons/borging-blue.png", alt: "Qualifikationen" %>
        <h3>Qualitätspass</h3>
      <% end %>
      <p>Ein personenbezogenes Profil in dem die Qualifikationen und Fähigkeiten auf einem Blick sichtbar sind, sowohl für Arbeitnehmer, Arbeitgeber und aufsichtsführendes Personal.</p>
      <hr>
      <ul class="checklist">
        <li>Qualitätsmonitor</li>
        <li>Akkreditierung</li>
        <li>Zertifizierung</li>
        <li>Management Informationen</li>
      </ul>
    </div>

  </div>
</section>
