<section>
  <article>

    <div class="row">
      <p>Onder het motto 'Developing People' helpt Defacto organisaties, in het bijzonder bedrijfsacademies of opleidingsafdelingen, bij het opleiden en ontwikkelen van hun medewerkers. De dynamiek in jouw sector vraagt waarschijnlijk bijna automatisch een continue investering in de kennisontwikkeling en opleiding van werknemers.</p>

      <p><em>CAPP LMS</em> is een digitale leeromgeving voor alle medewerkers. Een leeromgeving die blended-learning mogelijk maakt: e-learning, klassikale trainingen, praktijktrainingen, seminars, congressen, ze worden allemaal ondersteund met CAPP LMS.</p>

      <p class="featured"><span class="star">*</span>CAPP is een open leermanagement systeem waarin de e-learningmodules van alle leveranciers kunnen worden afgespeeld. Ook ondersteunt Defacto de LTI-standaard waarmee externe content buiten CAPP naadloos wordt geïntegreerd.</p>
    </div>

    <div class="row">
      <div class="col">
        <p>Maak een eigen digitale opleidingscatalogus en stel die voor de gehele organisatie beschikbaar. Ook opleidingen die je inkoopt kunnen in CAPP LMS worden opgenomen. De cursusadministratie oftewel de complete planning en administratieve afhandeling vindt geautomatiseerd plaats en zorgt voor en een enorme kostenbesparing. Bovendien zorgt de beschikbaarheid van het leerplatform ervoor dat iedereen op elk gewenst moment de e-learning modules kan volgen.</p>
      </div>
      <div class="col">
        <p>
          <figure>
            <%= image_tag "capp-catalogus.png", title: "CAPP Cursuscatalogus", alt: "CAPP Cursuscatalogus" %>
            <figcaption>CAPP Cursuscatalogus</figcaption>
          </figure>
        </p>
      </div>
    </div>

    <div class="row">
      <p>De resultaten van de opleidingen worden in CAPP LMS vastgelegd en zijn op individueel niveau zichtbaar in elk persoonlijk digitaal portfolio, ook wel e-portfolio genoemd.</p>

      <p>Als manager is het mogelijk de performance van het team of de afdeling overzien in allerlei views en overzichten.</p>
    </div>

    <div class="row">
      <div class="col">
        <p>
          <figure>
            <%= image_tag "capp-portfolio.png", title: "CAPP Portfolio", alt: "CAPP Portfolio" %>
            <figcaption>CAPP Portfolio</figcaption>
          </figure>
        </p>
      </div>
      <div class="col">
        <p>Zo legt CAPP LMS de basis waarop met CAPP Ontwikkelen kan worden geïnvesteerd in Talentmanagement. Het ontwikkelen van talent en het op de juiste manier inzetten ervan is een wezenlijk behoefte van elke kennisintensieve organisaties. Met CAPP Ontwikkelen kunt u Competentiemanagement, Jaargesprekken, Coachinggesprekken, 360 graden feedback inzetten in uw HR-beleid.</p>
      </div>
    </div>

    <div class="row">
       <div class="col">
        <p>De integratie van het Leer- en Ontwikkelplein maakt het voor de medewerkers eenvoudig om zelf de regie over hun leeractiviteiten en hun persoonlijke ontwikkeling te hebben. Met de aangeboden hulpmiddelen als Jaargesprekken, Competentiemanagement, Persoonlijk Ontwikkelplan (POP), 360 feedback en het E-Portfolio kan er individueel, maar ook als team, worden gewerkt aan een continue verbetering.</p>
      </div>
      <div class="col">
        <p>
          <figure>
            <%= image_tag "360-feedback.png", title: "360feedback", alt: "360feedback" %>
            <figcaption>360 Feedback</figcaption>
          </figure>
        </p>
      </div>
    </div>

  </article>
</section>
