<section>
  <div class="row">
    <article>

      <p>Onder het motto 'Developing People' helpt Defacto organisaties, in het bijzonder bedrijfs-academies of opleidingsafdelingen, bij het opleiden en ontwikkelen van hun medewerkers. De dynamiek in uw sector vraagt waarschijnlijk bijna automatisch een continue investering in de kennisontwikkeling en opleiding van uw werknemers.</p>

      <p><em>CAPP LMS</em> is een digitale leeromgeving voor alle medewerkers. Een leeromgeving die blended-learning mogelijk maakt: e-learning, klassikale trainingen, praktijktrainingen, seminars, congressen, ze worden allemaal ondersteund met CAPP LMS.</p>

      <p class="featured"><span class="star">*</span>CAPP is een open systeem Leermanagement systeem waarin de e-learningmodules van alle leveranciers kunnen worden afgespeeld. Ook ondersteunt Defacto de LTI-standaard waarmee externe content buiten CAPP naadloos wordt geïntegreerd.</p>

      <p>[PLAATJE CATALOGUS]</p>
      <figcaption></figcaption>

      <p>Maak uw eigen digitale opleidingscatalogus en stel die voor de gehele organisatie beschikbaar. Ook opleidingen die u inkoopt kunnen in CAPP LMS worden opgenomen. De cursusadministratie oftewel de complete planning en administratieve afhandeling vindt geautomatiseerd plaats en zorgt voor en een enorme kostenbesparing. Bovendien zorgt de beschikbaarheid van het leerplatform ervoor dat iedereen op elk gewenst moment de e-learning modules kan volgen.</p>

      <p>De resultaten van de opleidingen worden in CAPP LMS vastgelegd en zijn op individueel niveau zichtbaar in elk persoonlijk digitaal portfolio, ook wel e-portfolio genoemd.</p>

      <p>Als manager kunt u performance van uw team of uw afdeling overzien in allerlei views en overzichten.</p>

      <p>Zo legt CAPP LMS de basis waarop met CAPP Ontwikkelen kan worden geïnvesteerd in Talentmanagement. Het ontwikkelen van talent en het op de juiste manier inzetten ervan is een wezenlijk behoefte van elke kennisintensieve organisaties. Met CAPP Ontwikkelen kunt u Competentiemanagement, Jaargesprekken, Coachinggesprekken, 360 graden feedback inzetten in uw HR-beleid.</p>

      <p>[PLAATJE PORTFOLIO EN 360]</p>
      <figcaption></figcaption>

      <p>De integratie van het Leer- en Ontwikkelplein maakt het voor de medewerkers eenvoudig om zelf de regie over hun leeractiviteiten en hun persoonlijke ontwikkeling te hebben. Met de aangeboden hulpmiddelen als Jaargesprekken, Competentiemanagement, Persoonlijk Ontwikkelplan (POP), 360 feedback en het E-Portfolio kan er individueel, maar ook als team, gewerkt aan een continue verbetering.</p>

    </article>
  </div>
</section>
