<section>
  <article>

    <div class="row">

      <p>
        CAPP Entwickeln ist eine Software für das Kompetenzmanagement und die Personalentwicklung. Unsere Lösung unterstützt wichtige Prozesse der Mitarbeiterentwicklung, wie Jahresgespräche und Zielvereinbarungen und erweitert so das Bildungsmanagement von <a href="/capp-bilden/">CAPP Bilden</a>.
      </p>

      <h2>Mitarbeitergespräche</h2>

    </div>

    <div class="row">

      <div class="col">
        <p>
          Mit unserer Personalentwicklungssoftware können Sie jede Art von Gesprächen schnell und einfach einplanen, von Gesprächen der Personalentwicklung wie Jahresgespräche und Mitarbeitergespräche bis hin zu Projektbesprechungen und Coaching-Sitzungen.
        </p>

        <p>
          Pro Gespräch können Themen bestimmt und Dokumente zur Verfügung gestellt werden. Bei Jahresgesprächen und Mitarbeitergesprächen erhalten Sie zudem eine Übersicht mit dem Status eines jeden Mitarbeiters. Dadurch planen Sie Folgegespräche effizienter ein.
        </p>

        <p>
          Erstellen Sie ein digitales Gesprächsprotokoll, dass jederzeit von den Beteiligten eingesehen und bearbeitet werden kann. Integrieren Sie darüber hinaus ihre Genehmigungsworkflows und behalten Sie so den Überblick.
        </p>
      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "mitarbeitergesprache.png", title: "Mitarbeitergespräche", alt: "Mitarbeitergespräche", class: "center screenshot" %>
            <figcaption>Einplanung eines Jahresgespräches</figcaption>
          </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <h2>Zielvereinbarungen</h2>

    </div>

    <div class="row">

      <div class="col">

        <p>
          Zielvereinbarungen sind ein wesentlicher Teil der Personalentwicklung und Arbeitsorganisation. Sie bieten Mitarbeitern wie Führungskräften die Möglichkeit Leistungsziele, Lernziele oder bestimmte Verhaltensziele zu definieren und in CAPP Entwickeln als Aufgaben festzulegen. Auf diese Weise werden Aufgaben, die während eines Gespräches abgesprochen werden, direkt festgehalten und mit Deadlines versehen.
        </p>

      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "zielvereinbarungen.png", title: "Zielvereinbarungen", alt: "Zielvereinbarungen", class: "center screenshot" %>
            <figcaption>Zielvereinbarungen</figcaption>
          </figure>
        </p>
      </div>
    </div>

    <div class="row">

      <h2>Kompetenzen</h2>

    </div>

    <div class="row">

      <div class="col">

        <p>
          CAPP Entwickeln ermöglicht die digitale Umsetzung Ihres Kompetenzkatalogs, egal ob ein hauseigenes oder international anerkanntes Modell, wie z.B. CanMEDS. Kompetenzen können sowohl organisationsweit als auch auf Abteilungsebene festgelegt werden. Für jeden Bedarf das perfekte Kompetenzmodell!
        </p>

        <p>
          Bewerten Sie die Soft Skills (z.B. Stressprävention, Motivation) und Hard Skills (z.B. Patientenversorgung) Ihrer Mitarbeiter und sichern Sie die Qualität in Ihrem Krankenhaus. In einem persönlichen E-Portfolio werden die Ergebnisse für den Mitarbeiter grafisch dargestellt.
        </p>

      </div>

      <div class="col">

        <p>
          <figure>
            <%= image_tag "eportfolio-2.png", title: "E-portfolio", alt: "E-portfolio", class: "center screenshot" %>
            <figcaption>E-portfolio</figcaption>
          </figure>
        </p>

      </div>

    </div>

  </article>
</section>
