<section class="feature-list three">
  <div class="row">

    <div class="headline">
      <h2>
        De basis van elke moderne academie of opleidingsafdeling. Uitnodigend, betrouwbaar en super eenvoudig.
      </h2>
    </div>

    <div class="col">
      <%= image_tag "icons/leren-blue.png", alt: "Leren" %>
      <h3>Leren</h3>
      <p>Bied uw deelnemers een unieke leerbeleving, met een rijk mix aan leervormen zowel klassikaal als via E-Learning en een eenvoudige leerproces.</p>
      <hr>
      <ul class="checklist">
        <li>Opleidingscatalogus</li>
        <li>Blended learning </li>
        <li>E-Learning omgeving </li>
        <li>Digitaal Leerportaal </li>
        <li>Cursusadministratie</li>
      </ul>
    </div>

    <div class="col">
      <%= image_tag "icons/ontwikkelen-blue.png", alt: "Ontwikkelen" %>
      <h3>Ontwikkelen</h3>
      <p>Speciaal om uw medewerkers te helpen bij hun persoonlijke en professionele ontwikkeling biedt CAPP Ontwikkelen enkele bijzondere oplossingen:</p>
      <hr>
      <ul class="checklist">
        <li>E-Portfolio</li>
        <li>Compententiemanagement</li>
        <li>Jaargesprekken</li>
      </ul>
    </div>

    <div class="col">
      <% locale_link_to "/kwaliteitspaspoort.html" do %>
        <%= image_tag "icons/borging-blue.png", alt: "Borging" %>
        <h3>Kwaliteitspaspoort</h3>
      <% end %>
      <p>Een persoonsgebonden profiel waarin de bekwaamheden en bevoegdheden in één keer inzichtelijk zijn voor werknemer, werkgever en toezichthoudende instanties.</p>
      <hr>
      <ul class="checklist">
        <li>Kwaliteitsmonitor altijd actueel</li>
        <li>Accrediteren</li>
        <li>Certificeren</li>
        <li>Managementinformatie</li>
      </ul>
    </div>

  </div>
</section>
