<section>
  <article>

    <div class="row">

      <p>CAPP Bilden ist eine Software für das <strong>Bildungsmanagement</strong> im Gesundheitswesen, mit der jegliche Veranstaltungen organisiert und verwaltet werden können. Übersichtlich und einfach! Die Möglichkeiten erstrecken sich von Präsenzschulungen und berufspraktischen Trainings bis hin zu <strong>E-Learning</strong> und Blended Learning. Erzielen Sie Zeit- und Kostenersparnisse indem Sie die Arbeitsschritte der Kursadministration automatisieren und strukturieren.</p>

      <p class="featured"><span class="star">*</span>Ein offenes Learning Management System, das sich nahtlos an Ihre Personalsoftware integriert und E-Learning Module von allen Anbietern abspielt.</p>

      <p>Erstellen Sie ein krankenhausbreites, <strong>digitales Fortbildungsangebot</strong> und bieten Sie Ihren Mitarbeitern eine persönliche Lernumgebung, die jederzeit und von überall erreichbar ist. Sie stellen damit die Qualität Ihrer Mitarbeiter sicher und bieten die Möglichkeit, sich weiter zu entwickeln. Mit CAPP Bilden erhalten Sie Übersichten über alle Qualifikationen Ihrer Mitarbeiter, fördern eigenständiges Lernen durch die Teilverantwortung, die sie Ihren Mitarbeitern geben und schaffen Transparenz in der Lernkultur Ihres Hauses. Der Qualitätspass für Ihre Mitarbeiter erhöht die Selbstständigkeit des Lernens und motiviert die Mitarbeiter, da Sie zu jeden Zeitpunkt genau wissen, wo Sie in Ihrer Entwicklung stehen.</p>

    </div>

    <div class="row">

      <div class="col">
        <h3>Kursverwaltung</h3>

        <p>Durch CAPP haben Sie die Möglichkeit alle Arten von Veranstaltungen zentral zu verwalten. Ob es sich um Seminare, Präsenzschulungen, Blended Learning, E-Learning oder Workshops handelt, alles kann in einem zentralen Kurskatalog aufgenommen werden.</p>

        <p>Die Automatisierung von Kursplanungen, Anmeldeverfahren, Benachrichtigungen, Räumen und Wartelisten ist einer der klaren Vorteile des Systems und spart wertvolle Zeit.</p>
      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "capp-kurskatalog.png", title: "Kurskatalog", alt: "Kurskatalog", class: "center screenshot" %>
            <figcaption>Ein Ausschnitt vom CAPP Kurskatalog mit einigen Beispielkursen</figcaption>
          </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <p>Auch für die Verwaltung von Punkten ist CAPP eine hervorragende Lösung. Leistungspunkte der Ärztekammer oder RbP Punkte für die Pflege können eingetragen werden und direkt von den Mitarbeitern oder Fortgesetzen eingesehen werden.</p>

    </div>

    <div class="row">
      <div class="featured-transparant">

        <h3>Beispiel: Jährliche Hygieneschulung</h3>

        <p>Der Fortbildungsbeauftragte hat eine Kursvorlage für die Hygieneschulung erstellt und kann die verschiedenen Kurse nun innerhalb weniger Sekunden einplanen. Diese erscheinen im Fortbildungskatalog und alle Mitarbeiter können sich digital anmelden. Bestätigungen und Genehmigungsanfragen werden automatisch versendet und das benötigte Kursmaterial steht direkt zur Verfügung. Simpel oder?</p>

      </div>
    </div>

    <div class="row">

      <div class="col">
        <h3>Lernplattform</h3>

        <p>CAPP bietet eine digitale Lernplattform, die von überall aus zu erreichen ist. Hier können Ihre Mitarbeiter sich das komplette Lernangebot ansehen und Kurse, an denen sie teilnehmen, verfolgen.</p>

        <p>Gleichzeitig erhalten sie ein persönliches E-Portfolio und haben so einen Überblick über ihren Lernverlauf. Fördern Sie somit die Motivation und das Verantwortungsgefühl Ihrer Mitarbeiter.</p>

      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "eportfolio.png", title: "CAPP E-portfolio", alt: "CAPP E-portfolio", class: "center screenshot" %>
            <figcaption>Ausschnitt eines E-Portfolios mit einer Liste von Beispielkursen</figcaption>
        </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <p>Zusätzlich können Sie die Entwicklung der individuellen Portfolios auch mitverfolgen und bekommen dadurch eine gute Einsicht in den Lernfortschritt eines jeden Mitarbeiters. Für ein komplettes E-Portfolio können Leistungsnachweise hier hinterlegt werden.</p>

      <p class="featured"><span class="star">*</span>Gestalten Sie eine Umgebung im Stil ihres Hauses für eine intuitive Lernplattform mit Wiedererkennungswert.</p>

    </div>

    <div class="row">

      <div class="col">

        <h3>E-Learning</h3>

        <p>CAPP ist ein offenes E-Learning System und spielt E-Learning Module jeglicher Anbieter oder auch selbst erstellte Module ab. Von Thieme über Bibliomed bis hin zu Campus Med. </p>

        <p>Integrieren Sie E-Learning und Blended Learning in Ihr Fortbildungsangebot und bieten Sie Ihren Mitarbeitern dadurch die Freiheit, individuell und ungebunden zu Lernen. Das bedeutet, dass jeder Mitarbeiter selbst bestimmen kann, wann und wo er Theorie lernt und die E-Learning Module durcharbeitet. Es ist ganz einfach!</p>
        
      </div>

      <div class="col">
        <p>
          <figure>
            <%= image_tag "capp-e-learning.png", title: "CAPP E-portfolio", alt: "CAPP E-portfolio", class: "center screenshot" %>
            <figcaption>E-Learning Module</figcaption>
        </figure>
        </p>
      </div>

    </div>

    <div class="row">

      <p>Die Resultate werden für den jeweiligen Teilnehmer sichtbar und die erfolgreiche Absolvierung der Lernmodule wird dokumentiert. Mit einem Klick erhalten Sie eine Übersicht über den Lernfortschritt Ihrer Mitarbeiter.</p>

      <p class="featured"><span class="star">*</span>Gesundheitseinrichtungen nutzen mehr und mehr „Blended Learning“ was soviel bedeutet wie „gemischtes Lernen“. Hierbei werden E-Learning Module mit dem praktischen Teilen gemischt, um dem Mitarbeiter die Theorie, aber auch die Praxis effektiv zu vermitteln.</p>

    </div>
  </article>
</section>
