<section>
  <article>

    <div class="row">
      <p>Unter dem Motto ‘Developing People’ hilft Defacto Organisationen, im Besonderen Betriebsakademien und Fortbildungsabteilungen, bei der Weiterbildung und Entwicklung ihrer Mitarbeiter. Die Dynamik in Ihrem Sektor bedarf wahrscheinlich beinahe automatisch eine kontinuierliche Investition in die Wissensentwicklung und Weiterbildung von Ihren Mitarbeitern.</p>

      <p><em>CAPP LMS</em> ist eine digitale Lernumgebung für alle Mitarbeiter. Eine Lernumgebung, die Blended Learning ermöglicht: E-Learning, Frontalunterricht, Workshops, berufspraktische Trainings, Seminare und Kongresse werden alle im CAPP LMS unterstützt. </p>

      <p class="featured"><span class="star">*</span>CAPP ist ein offenes Lernmanagement System worin die E-Learning Module von allen Lieferanten abgespielt werden können. Ebenso unterstützt Defacto den LTI-Standard womit Inhalte außerhalb CAPPs nahtlos in CAPP integriert werden können.</p>
    </div>

    <div class="row">
      <div class="col">
        <p>Erstellen Sie Ihren eigenen Kurskatalog und veröffentlichen Sie diesen für die gesamte Organisation. Auch eingekaufte Kurse können im CAPP LMS mitaufgenommen werden. Die Kursadministration bzw. die gesamte Planung und administrative Abwicklung findet automatisiert statt und sorgt für eine enorme Kostenersparnis. Zudem sorgt die Verfügbarkeit der Lernplattform über das Internet dafür, dass jeder Mitarbeiter zu jedem erdenklichen Moment E-Learning Module folgen kann.</p>
      </div>
      <div class="col">
        <p>
          <figure>
            <%= image_tag "capp-kurskatalog.png", title: "CAPP Kurskatalog", alt: "CAPP Kurskatalog" %>
            <figcaption>CAPP Kurskatalog</figcaption>
          </figure>
        </p>
      </div>
    </div>

    <div class="row">
      <p>Die Resultate der Kurse werden im CAPP LMS festgehalten. Diese sind auf individuellen Niveau, im persönlichen digitalen Portfolio, oder auch E-Portfolio genannt, sichtbar.</p>

      <p>Als Manager können Sie die Performance von Ihrem Team oder Ihrer Abteilung in verschiedensten Übersichten überblicken.</p>
    </div>

    <div class="row">
      <div class="col">
        <p>
          <figure>
            <%= image_tag "capp-e-portfolio.png", title: "CAPP E-Portfolio", alt: "CAPP E-Portfolio" %>
            <figcaption>CAPP E-Portfolio</figcaption>
          </figure>
        </p>
      </div>
      <div class="col">
        <p>So legt CAPP LMS die Basis, mit CAPP Entwickeln kann in Talentmanagement investiert werden. Das Entwickeln von Talent und das richtige Einsetzen dieses ist ein wesentliches Bedürfnis jeder wissensintensiven Organisation. Mit CAPP Entwickeln können Sie Kompetenzmanagement, Jahresgespräche, Coaching-Gespräche und 360 Grad Feedback in Ihrer Personalführung einsetzen.</p>
      </div>
    </div>

    <div class="row">
      <p>Die Integration der Lern- und Entwicklungsplattform vereinfacht es den Mitarbeitern selbst die Regie über ihre Lernaktivitäten und ihre persönliche Entwicklung zu führen. Mit den dargebrachten Hilfsmitteln, wie Jahresgespräche, Kompetenzmanagement, Persönlicher Entwicklungsplan, 360 Feedback und das E-Portfolio, kann individuell aber auch im Team an einer kontinuierlichen Verbesserung gearbeitet werden. </p>
    </div>

  </article>
</section>
