<div class="proof-item">
  <h3 class="number">
    <span class="number-integer">200.000</span>
    <span class="words">cursisten</span>
  </h3>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra eros ex, vel commodo est pretium et. Curabitur finibus arcu et malesuada ullamcorper.</p>
</div>

<div class="proof-item">
  <h3 class="number">
    <span class="number-integer">139.319</span>
    <span class="words">certificaten</span>
  </h3>
  <p class="description">Maecenas pharetra condimentum leo, at interdum purus ullamcorper in. Sed quis ipsum libero. Quisque non dignissim nulla. Phasellus nec aliquam mi.</p>
</div>

<div class="proof-item">
  <h3 class="number">
    <span class="number-integer">100.000</span>
    <span class="words">sessies per maand</span>
  </h3>
  <p class="description">Sed libero arcu, consequat nec placerat eget, egestas et sapien. Etiam in nibh convallis, vulputate mauris in, vestibulum enim. Curabitur est dui.</p>
</div>
