<div class="sidebar">
  <nav>
    <ul>
      <li><%= nav_link_to "Over Defacto", "/over-ons.html" %></li>
      <li><span>Klanten & Testimonials</span></li>
      <li><%= nav_link_to "Techniek & Security", "/technisch.html" %></li>
      <li><span>Blog</span></li>
      <li><%= nav_link_to "Contact", "/contact.html" %></li>
    </ul>
  </nav>
</div>
