<div class="sidebar">
  <nav>
    <ul>
      <li><%= nav_link_to t("about_us.about_defacto"), "/over-ons" %></li>
      <li><%= nav_link_to t("about_us.testimonials"), "/testimonials" %></li>
      <li><%= nav_link_to t("about_us.references"), "/referenties" %></li>
      <li><%= nav_link_to t("about_us.contact"), "/contact" %></li>
    </ul>
  </nav>
</div>
