<div class="sidebar">
  <nav>
    <ul>
      <li><%= nav_link_to t("about.about_defacto"), "/over-ons.html" %></li>
      <li><%= nav_link_to t("about.testimonials"), "/testimonials.html" %></li>
      <li><%= nav_link_to t("about.references"), "/referenties.html" %></li>
      <li><%= nav_link_to t("about.contact"), "/contact.html" %></li>
    </ul>
  </nav>
</div>
