<section id="team">
  <ol>

    <% data.team.sort { |a, b| a.lastname <=> b.lastname }.each do |person| %>
      <li class="person">

        <% if href = team_avatar_url(person) %>
          <%= image_tag href, :alt => person.firstname + " " + person.lastname %>
        <% else %>
          <div class="placeholder no-image"></div>
        <% end %>

        <h5>
          <span><%= person.firstname %></span>
          <span><%= person.lastname %></span>
        </h5>
      </li>
    <% end %>

    <li class="you">
      <a href="http://jobs.defacto.nl" target="_blank">
        <div class="placeholder">jij?</div>
        <h5>
          <span>Werken bij</span>
          <span>Defacto</span>
        </h5>
      </a>
    </li>

  </ol>
</section>



