<div class="headline">
  <h2>Ontwikkel jezelf of je organisatie door van alle kanten feedback te krijgen.</h2>
</div>

<div class="col">
  <%= image_tag "icons/leren-blue.png" %>
  <h3>Vraag om feedback</h3>
  <p>Stuur een verzoek om feedback in drie eenvoudige stappen: Kies het onderwerp, selecteer een vragenlijst en stuur een uitnodiging naar collega’s, managers, cliënten of anderen.</p>
</div>

<div class="col">
  <%= image_tag "icons/ontwikkelen-blue.png" %>
  <h3>Word beoordeeld</h3>
  <p>De beoordelaars die je geselecteerd hebt krijgen per mail een uitnodiging. Via de uitnodiging komen ze direct uit bij de vragenlijst. Ze hoeven behalve de vragenlijst niks in te vullen, en blijven anoniem.</p>
</div>

<div class="col">
  <%= image_tag "icons/borging-blue.png" %>
  <h3>Bekijk de resultaten</h3>
  <p>De resultaten zijn direct in te zien, in overzichtelijke grafieken. De mogelijkheden tot ontwikkeling springen er meteen uit.</p>
</div>
