<section class="feature-list three">
  <div class="row">

    <div class="headline">
      <h2>Entwickeln Sie sich selbst oder Ihre Organisation in dem Sie von allen Seiten Feedback erhalten.</h2>
    </div>

    <div class="col">
      <h3>Um Feedback fragen</h3>
      <p>Senden Sie Bitte um Feedback in drei einfachen Schritten: Thema wählen, Frageliste selektieren und Einladung senden an Kollegen, Vorgesetzte, Kunden oder sonstige.</p>
    </div>

    <div class="col">
      <h3>Beurteilt werden</h3>
      <p>Diejenigen die Sie um Feeback gefragt haben, erhalten eine Einladung per E-Mail. Über die Einladung kommen sie direkt zu der Frageliste. Abgesehen von der Frageliste müssen sie nichts ausfüllen und bleiben anonym.</p>
    </div>

    <div class="col">
      <h3>Resultate einsehen</h3>
      <p>Die Evaluationen können direkt eingesehen werden in einer übersichtlichen Graphik. Ihre Entwicklungsmöglichkeiten werden sofort deutlich.</p>
    </div>

  </div>
</section>
