<div class="sidebar">
  <h3>Branches</h3>
  <nav>
    <ul>
      <li><%= nav_link_to "Zorg", "/zorg" %></li>
      <li><%= nav_link_to "Overheid", "/overheid" %></li>
      <li><%= nav_link_to "Bedrijfsleven", "/bedrijfsleven" %></li>
    </ul>
  </nav>
</div>
