.announcement {
  .quote {
    $avatar-size: 80px;
    $bubble-color: #fff;
    $bubble-shadow-color: #ddd;
    $bubble-shadow-width: 1px;
    $buddle-arrow-size: 16px;

    position: relative;
    max-width: 660px;
    margin: 0px auto;

    .avatar {
      height: $avatar-size;
      left: 0;
      position: absolute;
      width: $avatar-size;

      @include media ($small-only) {
        left: auto;
        margin-bottom: 30px;
        position: static;
        height: $avatar-size * 0.75;
        width: $avatar-size * 0.75;
      }
    }

    .bubble {
      background-color: $bubble-color;
      border-radius: 4px;
      box-shadow: -$bubble-shadow-width $bubble-shadow-width 0px $bubble-shadow-color;
      margin-bottom: 3px;
      margin-left: 40px + $avatar-size;
      padding: 1.6em;
      position: relative;
      text-align: left;

      @include media ($small-only) {
        margin-left: 0;
        text-align: center;
      }

      h2, h3, h4 {
        margin: 0 0 0.6em;

        &:last-child {
          margin: 0;
        }
      }

      h2 {
        font-size: 2em;
        line-height: 1.1;
      }

      h3 {
        font-size: 1.4em;
      }

      p:last-child {
        margin-bottom: 0;
      }

      &:before,
      &:after {
        @include transform(rotate(-45deg));
        border: $buddle-arrow-size solid transparent;
        border-left-color: $bubble-color;
        content: "";
        height: 0;
        left: -$buddle-arrow-size + 1px;
        position: absolute;
        top: 25px;
        width: 0;

        @include media ($small-only) {
          @include transform(rotate(-90deg));
          bottom: 100%;
          left: 50%;
          margin-left: -$buddle-arrow-size;
          top: auto;
        }
      }

      &:before {
        border-left-color: $bubble-shadow-color;
        margin-left: -$bubble-shadow-width;
        margin-top: $bubble-shadow-width;

        @include media ($small-only) {
          margin-left: -$bubble-shadow-width - $buddle-arrow-size;
        }
      }
    }
  }
}
