.blog .main,
.blog-featured {
  $blog-link-color: darken($blue, 10);

  a {
    @include transition(color 0.1s linear);
    color: $blog-link-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: darken($blog-link-color, 15%);
    }
  }
}

.blog {
  .main {
    .row {
      padding: 3em 1em;
    }

    .page-step {
      background-color: $orange;
      color: $white;

      @include media($large-down) {
        display: none;
      }

      &:hover,
      &:active {
        background-color: darken($orange, 10%);
        color: $white;
      }
    }
  }

  article {
    float: none;
    margin: 0;
    max-width: none;
    width: 100%;
  }

  .post-meta {
    color: $post-meta;
    display: block;
    font-size: 0.9em;
  }

  time {
    display: inline-block;
    white-space: nowrap;

    &::before {
      color: $post-meta;
      content: "–";
      display: inline;
      margin: 0 0.5em 0 0.4em;
    }
  }

  .post-body {
    img {
      @include transform(translateX(-50%));
      display: block;
      left: 50%;
      padding: 0.6em 0;
      position: relative;
    }
  }

  .post-related {
    padding: 0;
    text-align: left;

    li {
      border-top: $light-gray 1px solid;
      padding: 1em 0;

      a {
        font-weight: 700;
      }
    }

    .post-meta {
      display: inline-block;
      white-space: nowrap;
    }
  }
}

// Blog index
.blog_index {
  .blog-header {
    $background-color: #fcfcfc;
    @include linear-gradient(darken($background-color, 2), $background-color 120px, $fallback: $background-color);
    padding: 0;

    h1 {
      margin: 0;
    }
  }

  .blog-list {

    li:first-child article {
      padding-top: 0;
    }

    li {
      border-bottom: $post-border 1px solid;
      padding: 3em 0;
    }
  }
}

// Pagination
.text-center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 4em 0;
  padding: 0;

  li {
    display: inline;
  }

  .current {
    background-color: $blue;
    color: $white;
    padding: 0.5em 1em;
  }

  a {
    padding: 0.5em 1em;

    &:hover {
      background-color: $light-gray;
    }
  }

  .prev {

    @include media($medium-up) {
      margin-right: 3em;
    }

    &::before {
      content: "« ";
    }
  }

  .next {

    @include media($medium-up) {
      margin-left: 3em;
    }

    &::after {
      content: " »";
    }
  }
}

// Blog article
.blog-article {
  .main {
    .col {
      @include span-columns(12);

      @include media($large-up) {
        @include span-columns(8);
        @include shift(2);
      }
    }

    .post-header {
      $background-color: #fcfcfc;
      @include linear-gradient(darken($background-color, 2), $background-color 120px, $fallback: $background-color);

      h1 {
        margin-bottom: 0.5em;
      }
    }

    .post-body {
      h2 {
        font-size: 1.8em;
      }

      h3 {
        font-size: 1.4em;
      }
    }

    .post-footer {
      .author {
        border-top: $post-border 1px solid;
        padding: 3em 0 0;
        position: relative;
        text-align: center;
      }

      .author-name {
        font-weight: 700;
      }

      .avatar {
        $avatar-size: 80px;

        @include avatar-size($avatar-size);
        background-color: $white;
        box-shadow: $post-shadow 0 0 0 1px;
        box-sizing: border-box;
        display: block;
        left: 50%;
        margin-left: -$avatar-size / 2;
        padding: 6px;
        position: absolute;
        top: -$avatar-size / 2;
        z-index: 2;
      }
    }
  }
}

// Blog featured
.blog-featured {
  padding: 4em 1em 5em;
  text-align: center;

  .headline {
    color: $medium-gray;
  }

  .button {
    margin-top: 3em;
  }
}
