.blog {
  .blog-post {
    h1, h2, h3, h4, h5 {
      font-family: "Montserrat-Bold", Helvetica, sans-serif;
    }

    h1 {
      font-size: 2.25em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.125em;
    }

    h4 {
      font-size: 0.875em;
    }

    p {
      font-family: "Open Sans", Helvetica, sans-serif;
      font-size: 0.875em;
    }
  }
}
