body.capp-lms,
body.capp-bilden,
body.capp-entwickeln {
  .hero {
    @include radial-gradient(circle at 50%,
      $blue 33%,
      rgba($blue, 0.5) 33%,
      rgba($blue, 0.5) 66%,
      $blue-alt 66%,
      $fallback: $blue-alt);

    background-attachment: scroll;

    h1 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 2.4em;
      font-weight: 700;
      margin: 0 auto 1.5em;
      max-width: 900px;
      text-align: center;
    }

    h2 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 2em;
      text-align: center;
    }

    .hero-inner {
      padding: 4em 0;
    }

    .hero-copy {
      padding: 2em;

      h2 {
        @include media($large-up) {
          text-align: left;
        }
      }
    }
  }

  .row {
    padding: 0 2em;
  }

  .col {
    @include media($large-up) {
      @include span-columns(6);
    }
  }

  figure {
    @include media($large-down) {
      text-align: center;
    }
  }
}
