.capp {
  .hero {
    @include radial-gradient(circle at 50%,
      $blue 33%,
      rgba($blue, 0.5) 33%,
      rgba($blue, 0.5) 66%,
      $blue-alt 66%,
      $fallback: $blue-alt);

    background-attachment: scroll;

    h1 {
      font-family: 'Montserrat', $base-font-family;
      margin-bottom: 0.5em;
      font-weight: 700;
    }
  }

  .solutions-overview {
    padding-bottom: 3em;

    .headline {
      margin-bottom: 4em;
      max-width: 820px;
    }

    .col {
      @include span-columns(12);
      clear: none;

      @include media($large-up) {
        @include span-columns(4);
        clear: none;
      }
    }
  }

  .gray {
    text-align: center;
  }
}
