.cta-workshop {
  background: transparant;
  color: #ffffff;
  padding: 2em 0 0 0;
  border: 1px solid $orange;
  max-width: 600px;
  margin: 0 auto;

  h4 {
    margin: 0.5em 0.2em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
  }

  .phone {
    display: inline-block;
    font-weight: 400;
    padding: 0 0.1em;
    white-space: nowrap;
  }

  .appointment-button {
    font-size: initial;
    margin: 0.5em 0.2em;
    vertical-align: middle;
    background: $orange;
    color:#fff;
  }

  form {
    display: none;
  }
}