.cta-workshop {
  background: transparent;
  border: 1px solid rgba($orange, 0.8);
  border-radius: $base-border-radius;
  color: #fff;
  margin: 0 auto -3em;
  max-width: 610px;
  padding: 2.2em;

  p {
    font-size: 1.14em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    vertical-align: middle;
  }

  .button {
    margin: 0 !important;
  }
}
