/*
Diensten
*/

.diensten_index {
  text-align: center;

  .solitions-list {
    > li {
      background-color: #fff;
      margin-bottom: 2em;

      @include media($medium-up) {
        @include fill-parent();
        @include row(table);
        min-height: 300px;
      }
    }

    .col {
      @include pad();
      vertical-align: middle;

      p {
        font-size: 1.3em;

        &:last-child {
          margin: 0;
        }

        a {
          color: inherit;
          font-weight: 700;
        }
      }

      &.left {
        color: #fff;
        display: table;
        height: 200px;
        text-align: center;
        width: 100%;

        @include media($medium-up) {
          @include span-columns(5);
          height: auto;
        }

        h2 {
          display: table-cell;
          font-family: 'Montserrat', $base-font-family;
          font-size: 3em;
          font-weight: 700;
          margin: 0;
          vertical-align: middle;

          @include media($medium-up) {
            display: block;
          }
        }

        img {
          max-width: 240px;
          vertical-align: text-top;
        }
      }

      &.right {
        text-align: left;

        @include media($medium-up) {
          @include span-columns(7);
          @include reset-display;
        }
      }
    }

    // CAPP
    .capp {
      .left {
        @include radial-gradient(circle at 50%,
          $blue 33%,
          rgba($blue, 0.5) 33%,
          rgba($blue, 0.5) 66%,
          $blue-alt 66%,
          $fallback: $blue-alt);
      }
    }

    // LearningSpaces
    .learningspaces {
      .left {
        background-color: $green;
        background-image: url(../images/learningspaces-pattern.svg);
        background-position: center;
      }
    }

    .starterkit {
      .left {
        @include radial-gradient(circle at 50%,
          $turquoise 33%,
          rgba($blue, 0.5) 33%,
          rgba($blue, 0.5) 66%,
          darken($turquoise, 5%),
          $fallback: $turquoise);
      }
    }

    .three-sixty {
      .left {
        @include radial-gradient(circle at 50%,
          $orange 33%,
          rgba($orange, 0.5) 33%,
          rgba($orange, 0.5) 66%,
          darken($orange, 10%),
          $fallback: $orange);
      }
    }
  }
}
