body.error {
  background-color: #333;

  .gray {
    @include radial-gradient(#fbfbfb, #dfdfdf, $fallback: #fbfbfb);
  }

  .error-image {
    margin: 0 0 1em;
    opacity: 0.9;
    width: 150px;
  }
}
