.events-overview {
  h2 {
    color: $medium-gray;
    text-align: center;
  }

  h3 {
    color: $medium-gray;
  }

  .agenda-item {
    border-bottom: $post-border 1px solid;
    margin: 0 auto;
    max-width: 900px;
    padding: 2.8em 0;

    .info {
      color: $post-meta;
    }
  }
}
