.feature-list {
  color: $medium-gray;
  text-align: center;

  a {
    color: $blue-alt;
  }

  h1, h2, h3 {
    color: $base-font-color;

    a {
      color: $base-font-color;
    }
  }

  img {
    margin-bottom: 10px;
    max-height: 110px;
  }

  .headline {
    margin-bottom: 4em;
    max-width: 790px;

    h2 {
      font-size: 2em;

      @include media($large-up) {
        font-size: 2.4em;
      }
    }
  }

  .row {
    @include clearfix;
    max-width: 1580px;
  }

  .col {
    margin-bottom: 2em;
    padding: 0 1em;
    position: relative;

    &:last-of-type {
      a {
        color: $green;
      }
    }

    h3 {
      font-size: 1.4em;
      font-weight: 500;

      a {
        color: $dark-gray !important;
      }
    }
  }

  &.four .col {
    @include media(min-width $medium-screen max-width $xlarge-screen - 1) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($xlarge-up) {
      @include span-columns(3);
    }
  }

  &.three .col {
    @include media($large-up) {
      @include span-columns(4);
    }
  }

  ul.checklist {
    display: inline-block;
  }

  ul.dividers {
    li {
      padding: 0.65em;
      position: relative;

      &::before {
        background-color: $light-gray;
        content: '';
        height: 1px;
        left: 50%;
        margin-left: -10px;
        position: absolute;
        top: 1px;
        width: 20px;
      }

      &:first-child::before {
        display: none;
      }
    }

    a {
      font-weight: 700;
    }
  }
}

.feature-keywords {
  $background-color: #fcfcfc;

  @include linear-gradient(darken($background-color, 2), $background-color 120px, $fallback: $background-color);
  display: none;
  padding-bottom: 2em;

  @include media($xlarge-up) {
    display: block;
    padding-bottom: 3em;
  }

  h4 {
    display: inline-block;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
  }

  ul {
    margin-top: 2em;
    padding: 0.5em;
  }

  .col::before {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #fff;
    content: '';
    display: block;
    left: 50%;
    margin-left: -16px;
    position: absolute;
    top: 0;
    width: 0;
  }
}
