
// ------------------------------------------------------------
// Google Fonts
// ------------------------------------------------------------

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

// ------------------------------------------------------------
// Icons (https://icomoon.io/app)
// ------------------------------------------------------------

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?iesdxk');
	src:url('../fonts/icomoon.eot?#iefixiesdxk') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?iesdxk') format('truetype'),
		url('../fonts/icomoon.woff?iesdxk') format('woff'),
		url('../fonts/icomoon.svg?iesdxk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-paperplane:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-github:before {
	content: "\eab1";
}
.icon-linkedin:before {
	content: "\eac9";
}
