
// ------------------------------------------------------------
// Google Fonts
// ------------------------------------------------------------

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

// ------------------------------------------------------------
// Icons (https://icomoon.io/app)
// ------------------------------------------------------------

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?u4h9al');
	src:url('../fonts/icomoon.eot?#iefix-u4h9al') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?u4h9al') format('truetype'),
		url('../fonts/icomoon.woff?u4h9al') format('woff'),
		url('../fonts/icomoon.svg?u4h9al#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before {
	content: "\e608";
}
.icon-twitter2:before {
	content: "\e604";
}
.icon-linkedin2:before {
	content: "\e605";
}
.icon-google-plus:before {
	content: "\e606";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-github:before {
	content: "\eab1";
}
.icon-linkedin:before {
	content: "\eac9";
}
.icon-location:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-paperplane:before {
	content: "\e603";
}
.icon-xing:before {
  content: "\e900";
}
