#footer {
  background-color: #333;
  color: #666;
  clear: both;
  padding-top: 2em;
  position: relative;
  text-align: center;

  .col {
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: left;

    @include media($medium-only) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($large-up) {
      @include span-columns(3);
    }

    h6 {
      border-bottom: 1px solid #444;
      margin-bottom: 5px;
      padding: 0 0 0.6em;
    }

    a {
      color: #999;
      display: inline-block;
      padding: 5px 0;

      &:active,
      &:focus,
      &:hover {
        color: lighten(#999, 30%);
      }

      @include media($medium-only) {
        padding: 3px 0;
      }
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  .contact {
    a {
      padding: 0
    }
  }

  .social-links {
    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      font-size: 1.6em;
      margin-right: 12px;
      vertical-align: middle;
    }
  }

  .copyright {
    border-top: 1px solid #444;
    margin-top: 1em;
    padding: 1em 0;
  }
}
