footer {
  background: #333;
  color: #666;
  clear: both;
  padding-top: 3em;
  position: relative;
  text-align: center;

  .col {
    @include span-columns(12);
    text-align: left;

    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 10px;
      font-size: 1.6em;
      vertical-align: middle;
    }

    h6 {
      border-bottom: 1px solid #444;
      padding: 0 0 0.6em;
    }

    a {
      color: #999;
    }

    @include media($medium-up){
      @include span-columns(3);
    }
  }

  .copyright {
    border-top: 1px solid #444;
    margin-top: 1em;
    padding: 1em 0;
  }
}
