.german-video {

  h2 { 
    text-align: center; 
  }

	.col {
    padding-bottom: 4em;
    padding-top: 4em;
    
    .inner {
      margin: 0 auto;
      padding: 0 1em;

      @include media($medium-up) {
        max-width: 700px;
        padding: 0;
        width: 90%;
      }
    }
  }

  @include media($medium-up) {
    .col {
      @include span-columns(6);
    }
  }

  th {
    &.when { 
      width: 25%; 
    } 
    &.event { 
      width: 60%; 
    }
    &.where { 
      width: 15%;
    }
  }
}
