.german-news {
  h2 {
    text-align: center;
  }

  .agenda {
    margin: 0 auto;
    max-width: 900px;

    th {
      &.when {
        width: 15%;
      }

      &.event {
        width: 65%;
      }

      &.where {
        width: 20%;
      }
    }

    td {
      padding-right: 1em;
    }
  }
}
