.german-news {
  h2 {
    text-align: center;
  }

  .agenda {
    margin: 0 auto;
    max-width: 900px;

    th {
      &.when {
        width: 25%;
      }

      &.event {
        width: 60%;
      }

      &.where {
        width: 15%;
      }
    }
  }
}
