.hero {
  $hero-color: #fff;

  background-color: $orange-alt;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: $hero-color;
  // padding: $header-height 0 1em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 7em 2em;
    text-align: center;

    button,
    .button {
      font-size: 1.3em;
      margin: 0 1em;
    }
  }

  .hero-copy {
    text-align: center;
  }

  h1 {
    font-size: 1.6em;
    margin-bottom: 0.6em;

    // font-family: 'Montserrat', $base-font-family;
    // margin-bottom: 0.5em;
    // font-weight: 700;

    img {
      max-width: 400px;
    }

    @include media($large-up) {
      font-size: 4em;
    }
  }

  p {
    // font-weight: 200;
    line-height: 1.4em;
    margin: 0 auto 2em auto;

    @include media($large-up) {
      font-size: 1.6em;
      max-width: 80%;
    }
  }

  .since {
    position: relative;
    display: inline-block;
    top: -20px;
    padding: 0 .8em;
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: .3;
    text-align: center;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      width: 40px;
      border-bottom: 1px solid #eee;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    }
    &:after {
      left: auto;
      right: 100%;
    }
  }
}
