.hero {
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: #fff;
  $hero-image: '../images/mood3.jpg';

  background-image: url($hero-image);
  background-position: 0 -150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-size: 1729px 700px;

  // background-color: #324766; // dark blue
  // background-color: #83ccd3; // light blue
  // background-color: #73bbcb; // blue
  // background-color: #E6EFC2; // light green
  // background-color: #40b383; // medium green
  // background-color: #95a105; // lime green
  background-color: $orange-alt;

  padding: $header-height 0 1em;
  width: 100%;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 7em 2em;
    text-align: center;

    button,
    .button {
      font-size: 1.3em;
    }
  }

  .hero-copy {
    text-align: center;

    h1 {
      font-size: 1.6em;
      margin-bottom: 0.6em;

      @include media($large-screen) {
        font-size: 4em;
      }
    }

    p {
      font-weight: 200;
      line-height: 1.4em;
      margin: 0 auto 2em auto;

      @include media($large-screen) {
        font-size: 1.6em;
        max-width: 80%;
      }
    }
  }

  .since {
    position: relative;
    display: inline-block;
    top: -20px;
    padding: 0 .8em;
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: .3;
    text-align: center;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      width: 40px;
      border-bottom: 1px solid #eee;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    }
    &:after {
      left: auto;
      right: 100%;
    }
  }
}
