.index {

  .header-image {
    background-size: cover;

    .header {
      background: transparent;

      @include media($large-up) {
        .header-menu a {
          color: $white;

          @include media($large-down) {
            color: $gray-menu;
          }

          &:visited {
            color: $white;
          }

          &.active {
            color: $orange;
          }

          &:hover,
          &:focus,
          &:active {
            color: $orange;
          }
        }
      }
    }

    .hero {
      background: transparent;
    }
  }

  &.nl {
    .header-image {
      $hero-image: "../images/mood3.jpg";
      background-image: url($hero-image);
    }
  }

  &.de {
    .header-image {
      $hero-image: "../images/mood-health.jpg";
      background-image: url($hero-image);
    }
  }

  h1 {
    font-size: 2em;
    font-weight: 300;
    margin: 0 auto 1em;
    max-width: 900px;

    @include media($large-up) {
      font-size: 2.8em;
    }
  }

  h2 {
    font-size: 1.6em;
    margin: 0 auto 1.4em;
    max-width: 860px;

    @include media($large-up) {
      font-size: 2.2em;
    }
  }

  .hero-inner {
    padding: 5em 1em 6em;
  }
}
