.index {
  .hero {
    $hero-image: '../images/mood3.jpg';

    // background-color: #324766; // dark blue
    // background-color: #83ccd3; // light blue
    // background-color: #73bbcb; // blue
    // background-color: #E6EFC2; // light green
    // background-color: #40b383; // medium green
    // background-color: #95a105; // lime green

    background-image: url($hero-image);
    // background-position: 0 -100px;
    // background-size: 1729px 700px;
  }

  .cta {
    color: lighten($medium-gray, 20);
    padding: 2em 0;

    h3 {
      display: inline-block;
      margin: 0.5em 0.2em;
      vertical-align: middle;
    }

    .phone {
      display: inline-block;
      font-weight: 400;
      padding: 0 0.1em;
      white-space: nowrap;
    }

    .button {
      margin: 0.5em 0.2em;
      vertical-align: middle;
    }
  }

  .solutions-overview {
    padding-bottom: 0;

    .col {
      margin-bottom: 1em;
    }
  }
}
