.de .homepage {
  $hero-image: "../images/mood-health.jpg";
  background-image: url($hero-image);
}

.nl .homepage {
  $hero-image: "../images/mood3.jpg";
  background-image: url($hero-image);
}

.index {
  h1 {
    font-size: 2.8em;
    font-weight: 300;
    margin: 0 auto;
    max-width: 900px;
  }

  .homepage {
    background-position: no-repeat center fixed;
    background-size: cover;

    #header {
      background: transparent;

      @include media($large-up) {

        #header-menu {

          a {
            color: $white;

            @include media($large-down) {
              color: $gray-menu;
            }

            &:visited {
              color: $white;
            }

            &.active {
              color: $orange;
            }

            &:hover,
            &:focus,
            &:active {
              color: $orange;
            }
          }
        }
      }
    }

    .hero {
      background: transparent;
    }
  }
}
