.kwaliteitspaspoort {
  $color: lighten($turquoise, 5);

  .hero {
    @include radial-gradient(circle at 50%,
      lighten($color, 10) 33%,
      rgba($color, 0.3) 33%,
      rgba($color, 0.3) 66%,
      lighten($color, 5) 66%,
      $fallback: lighten($color, 10));

    background-attachment: scroll;
    padding-bottom: 0;

    @include media($medium-down) {
      .logo {
        max-width: 80%;
      }
    }

    + section {
      box-shadow: 0 -20px 20px -20px rgba($black, 0.2);
      position: relative;
    }

    h2 {
      font-size: 2em;
    }

    .hero-inner {
      padding: 5em 1em 0;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    h1 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 2.4em;
      font-weight: 700;
      margin: 0 auto 0.5em;
      max-width: 800px;

      @include media($large-down) {
        font-size: 2em;
      }
    }

    p {
      font-style: italic;
      margin: 0 auto;

      @include media($large-down) {
        font-size: 1.6em;
      }
    }
  }

  .row {
    padding: 0;

    @include media($large-down) {
      padding: 1em;
    }
  }

  .kpp-list {
    .col {
      @include media($large-up) {
        @include span-columns(6);
      }
    }
  }

  .capp-steps {
    .col {
      @include media($medium-up) {
        @include span-columns(4);
      }
    }

    img {
      max-height: 160px;
    }
  }
}
