.kwaliteitspaspoort {
  .hero {
    padding-bottom: 0em;

    @include radial-gradient(circle at 50%,
      $blue 33%,
      rgba($blue, 0.5) 33%,
      rgba($blue, 0.5) 66%,
      $blue-alt 66%,
      $fallback: $blue-alt);

    background-attachment: scroll;

    h1 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 2.4em;
      font-weight: 700;
      margin: 0 auto 0.5em;
      max-width: 800px;

      @include media($large-down) {
        font-size: 2em;
      }
    }

    p {
      font-style: italic;
      margin: 0 auto;

      @include media($large-down) {
        font-size: 1.6em;
      }
    }
  }

  .row {
    padding: 0;

    @include media($large-down) {
      padding: 1em;
    }
  }

  .kpp-list {
    .col {
      @include media($large-up) {
        @include span-columns(6);
      }
    }
  }

  .capp-steps {
    .col {
      @include media($medium-up) {
        @include span-columns(4);
      }
    }

    img {
      max-height: 160px;
    }
  }
}
