
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

* {
  @include box-sizing(border-box);
}

body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', $body-font;
  line-height: 1em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }

  &:visited {
    color: darken($link-color, 10%);
  }
}

.center {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  position: relative;
  width: 100%;
  display: table;
  table-layout: fixed;

  .col {
    display: table-cell;
    padding: 40px;
    vertical-align: top;
  }

  &.border .col {
    border-right: 1px solid #ddd;

    &:last-child {
      border: 0;
    }
  }
}

.border-top {
  border-top: 1px solid #ddd;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.section-header {
  padding: 60px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #484848;
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: center;
}


/*
Header
*/

header {
  max-width: 1920px;
  margin: 0 auto;
  padding: 25px 85px;

  .logo {
    float: left;
  }

  nav {
    margin-top: 6px;
    font-family: 'Montserrat', $body-font;
    font-weight: 700;
    text-transform: uppercase;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        display: inline;
        margin: 0 20px;

        a {
          text-decoration: none !important;
          color: #444;

          &:visited {
            color: #444;
          }

          &.active {
            //color: #bbb;
            color: $defacto-orange;
          }

          &:hover,
          &:focus,
          &:active {
            color: $defacto-orange;
          }
        }
      }
    }

    a#pull {
      display: none;
    }
  }

  // .phone {
  //   float: right;

  //   a {
  //     padding-left: 40px;
  //     color: #333;
  //     font-weight: 100;
  //     font-size: 2em;
  //     line-height: 1.1;
  //     text-decoration: none;
  //     background: url('../images/phone-icon.png') 0px 8px no-repeat;
  //   }
  // }
}


/*
Mood
*/

#mood {
  height: 550px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  background: url('../images/mood2.jpg') no-repeat center top;
  background-size: cover;

  // body.index & {
  //   background-image: url('../images/mood2.jpg');
  // }

  body.healthcare & {
    background-image: url('../images/mood-healthcare.jpg');
    height: 400px;
  }

  body.government & {
  background-image: url('../images/mood-government.jpg');
  height: 400px;
  }

  body.business & {
  background-image: url('../images/mood-business.png');
  height: 400px;
  }

  body.references & {
  background-image: url('../images/mood-business.png');
  height: 400px;
  }

  body.innovation & {
    background-image: url('../images/mood-innovation.png');
    height: 400px;
  }

  .center {
    max-width: 1020px;
  }

  h1 {
    margin-bottom: .5em;
    font-size: 6em;
  }

  h2 {
    margin-bottom: 2em;
    font-size: 2em;
    line-height: 1.2;
  }

  .btn-border {
    padding: 1.3em 1.8em;
    font-family: 'Montserrat', $body-font;
    font-size: 1em;
    //font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .since {
    position: relative;
    display: inline-block;
    top: -20px;
    padding: 0 .8em;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: .3;
    text-align: center;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      width: 40px;
      border-bottom: 1px solid #eee;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    }
    &:after {
      left: auto;
      right: 100%;
    }
  }
}


/*
Clients
*/

#clients {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #ddd;

  .logos {
    img {
      margin: 0 35px;
      opacity: 0.6;
      filter: url('grayscale.svg#grayscale'); /* Firefox 4+ */
      filter: gray; /* IE 6-9 */
      @include filter (grayscale(100%));
    }
  }
}


/*
Branches
*/

#branches {

  .section-header {
    padding: 60px 0 70px;
  }

  .row {
    .col {
      position: relative;
      width: 33.33%;
      padding: 0 45px 40px;
      //text-align: center;

      .icon {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: -37px;
        margin-left: -37px;
        width: 74px;
        height: 74px;
        text-align: center;
        border-radius: 50%;
        background: $link-color;

        img {
          width: 68%;
          margin-top: 16%;
        }
      }

      h2, a {
        color: $link-color !important;
      }

      h2 {
        position: relative;
        margin-top: 0;
        padding-top: 2em;
        font-size: 1.8em;
      }

      p {
        color: #666;
        font-size: 1.3em
      }

      &.green {
        .icon {
          background: $green;
          img { margin-top: 19%; }
        }
        h2, a {
          color: $green !important;
        }
      }
      &.blue {
        .icon {
          background: $blue;
        }
        h2, a {
          color: $blue !important;
        }
      }
      &.red {
        .icon {
          background: $red;
        }
        h2, a {
          color: $red !important;
        }
      }
    }
  }
}


/*
Solutions
*/


#highlights {
  background: #fbfbfb;

  .row {
    max-width: 1600px;
    margin: 0 auto;
    //border-top: 1px solid #ddd;

    .col {
      position: relative;
      width: 33.33%;
      padding: 45px 45px;

      h1 {
        margin-top: 0;
        //color: #999;
        font-family: $body-font;
        font-size: 1.8em;
        line-height: 1.3;
        font-weight: 400;
      }

      p {
        color: #666;
        font-size: 1.1em
      }

      &.image {
        padding: 0px;
        overflow: hidden;
        //vertical-align: bottom;

        div {
          position: relative;

          img {
            position: absolute;
            //bottom: -200px;
            //top: -200px;
            margin-top: -10%;
            right: 0;
            width: 100%;
            //min-width: 500px;
            max-width: 700px;
          }
        }
      }
    }
  }
}


/*
Solutions
*/

#solutions {
  position: relative;
  border-top: 1px solid #ddd;

  .cycle-prev,
  .cycle-next {
    position: absolute;
    left: 0;
    top: 300px;
    z-index: 9999;
  }

  .cycle-next {
    left: auto;
    right: 0;
  }

  #cycle-custom-pager {
    background: #508375;
    border-top: 1px solid #fff;
    text-align: center;

    a {
      display: inline-block;
      //margin-right: -3px;
      padding: 35px 40px;
      border-left: 1px solid #fff;
      font-family: 'Montserrat', $body-font;
      color: #fff;
      text-decoration: none;
      font-size: 1.250em;
      text-transform: uppercase;

      &:last-child {
        border-right: 1px solid #fff;
      }

      &.cycle-pager-active {
        background: #355b50;
      }
    }
  }

  .slide {
    //width: 80%;
    padding: 0 10%;
    background: url('../images/slider-back.jpg') repeat;
    overflow: auto;

    h2 {
      padding-top: 70px;
      padding-bottom: 60px;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.250em;
      color: #fff;
      letter-spacing: 2px;
    }
  }

  .slide-text,
  .slide img {
    float: left;
    width: 45%;
  }

  .right-box {
    margin-left: 5%;
  }

  .slide-text {
    margin-bottom: 20px;
    padding-top: 50px;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 100;
    border-top: 1px solid #fff;

    p {
      padding-bottom: 50px;
    }
  }
}


/*
Vision
*/

#vision {
  padding: 80px 0;
  color: #fff;
  text-align: center;
  background: url('../images/slider-back.jpg') center top;

  h2 {
    margin: 0 0 40px;
    font-size: 5em;
  }

  h3 {
    margin: 0 0 60px;
    font-family: $body-font;
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: 100;
  }
}


/*
Map
*/

#map {
  clear: both;
  position: relative;
  background: #fbfaf8;
  border-top: 1px solid #ddd;

  #map-canvas {
    width: 100%;
    height: 600px;
  }

  .contact-form {
    position: absolute;
    top: 75px;
    left: 160px;
    width: 350px;
    padding: 30px;
    background: #fbfaf8;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(#000, .1);

    input,
    textarea {
      display: block;
      width: 100%;
    }
  }
}


/*
Footer
*/

footer {
  position: relative;
  clear: both;
  text-align: center;
  background: #fbfaf8;
  border-top: 1px solid #ddd;

  .col {
    width: 33.33%;
    font-size: 1.2em;
    vertical-align: middle;

    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 10px;
      font-size: 1.6em;
      vertical-align: middle;
    }
  }

  #footer-bottom {
    padding: 20px 0;
  }
}






/*
Media Queries
*/

@media screen and (max-width: 1300px) {
  header {
    padding: 25px 85px 100px;
  }
  nav {
    float: left;
    clear: left;
    width: 100%;
    ul {
      text-align: left;
    }
  }
  .phone a {
    font-size: 1.8em;
    background-position: 0px 7px;
  }
  #clients .center {
    max-width: 750px;
  }
  .branches-info {
    padding: 20px 15% 50px;
    font-size: 1.5em;
  }
  .cycle-prev, .cycle-next {
    top: 200px;
  }
  .slide h2 {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .slide-text {
    padding-top: 20px;
    font-size: 1em;
    p {
      padding-bottom: 20px;
    }
  }
  #cycle-custom-pager a {
    padding: 25px 30px;
    font-size: 1em;
  }
  .reference {
    padding: 50px;
    background-position: 60px 150px;
    h2 {
      margin-bottom: 20px;
    }
  }
  .case {
    padding: 50px;
    h2 {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .mood-content {
    padding-top: 40px;
    h1 {
      margin-left: -6px;
      font-size: 5em;
    }
    .sub-title {
      font-size: 1em;
    }
    p {
      font-size: 1.3em;
      line-height: 1.4;
    }
  }
  .cycle-prev, .cycle-next {
    top: 150px;
  }
  .slide h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.75em;
  }
  .slide-text {
    padding-top: 10px;
    font-size: 0.8em;
    p {
      padding-bottom: 10px;
    }
  }
  .reference {
    padding: 40px;
    background-position: 40px 125px;
    h2 {
      margin-bottom: 15px;
      font-size: 1.8em;
    }
    p {
      font-size: 1.2em;
    }
  }
  .case {
    padding: 40px;
    h2 {
      margin-bottom: 15px;
      font-size: 1.8em;
    }
  }
}

@media screen and (max-width: 910px) {
  .phone a {
    font-size: 1.5em;
    background-position: 0px 5px;
  }
  .mood-content {
    h1 {
      margin-left: -4px;
      font-size: 4em;
    }
    p {
      font-size: 1.1em;
      line-height: 1.2;
    }
    .btn {
      padding: 5px 12px;
      font-size: 1.2em;
    }
  }
  .branches-info {
    padding: 20px 10% 50px;
    font-size: 1em;
  }
  #references, #cases {
    float: left;
    width: 100%;
  }
  .reference {
    background-position: 40px 60px;
    border-bottom: 1px solid #ddd;
    border-right: 0;
    h2 {
      padding-left: 190px;
      text-align: left;
    }
  }
  .secondary {
    padding: 5px 12px;
  }
  #map-canvas {
    display: none;
  }
  .contact-form {
    position: inherit;
    top: auto;
    left: auto;
    width: 320px;
    overflow: hidden;
    border-radius: 0;
    box-shadow: none;
    form {
      width: 350px;
    }
  }
}

@media screen and (max-width: 800px) {
  nav ul li {
    margin-left: 30px;
  }
  .mood-content {
    h1 {
      margin-left: -3px;
      font-size: 3em;
    }
    .sub-title {
      font-size: 0.9em;
    }
    p {
      font-size: 0.9em;
      line-height: 1;
    }
  }
  #clients {
    margin: 30px 0 30px 0;
    .center {
      max-width: 500px;
    }
  }
  .branche-block {
    float: left;
    width: 100%;
  }
  .slide h2 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 10px 0;
  }
  .logo {
    width: 40%;
    margin-left: 2%;
    text-align: left;
  }
  nav {
    float: none;
    clear: left;
    ul {
      display: none;
      height: auto;
      text-align: center;
      li {
        width: 100%;
        margin: 0;
        display: block;
      }
    }
    a#pull {
      position: relative;
      width: 100%;
      padding-left: 5px;
      display: block;
      background: #1e1e1c;
      font-family: 'Montserrat', $body-font;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      &:after {
        position: absolute;
        top: 3px;
        right: 0px;
        width: 30px;
        height: 30px;
        content: "";
        background: url('../images/nav-icon.png') no-repeat;
        display: inline-block;
      }
    }
  }
  .phone {
    float: right;
    width: 40%;
    margin-right: 2%;
    text-align: right;
    line-height: 0.7em;
  }
}

@media screen and (max-width: 550px) {
  .logo {
    width: 100%;
    text-align: center;
  }
  .phone {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    line-height: 0.7em;
  }
  .mood-content {
    padding-top: 15px;
    h1 {
      margin-left: -2px;
      font-size: 2em;
    }
    .sub-title {
      font-size: 0.7em;
    }
  }
  #clients .center {
    max-width: 300px;
  }
  .cycle-prev, .cycle-next {
    display: none;
  }
  .slide h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1em;
  }
  .slide-text {
    padding-top: 5px;
    font-size: 0.6em;
    p {
      padding-bottom: 5px;
    }
  }
  #cycle-custom-pager a {
    padding: 10px 10px;
    font-size: 0.7em;
  }
  .reference {
    background: 0;
    h2 {
      padding-left: 0;
      font-size: 1.5em;
    }
    p {
      padding-left: 0;
    }
  }
  .case h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 470px) {
  .mood-content {
    h1 {
      margin-left: 0px;
      font-size: 1.5em;
    }
    .sub-title {
      font-size: 0.6em;
    }
    .btn {
      padding: 3px 8px;
      font-size: 0.8em;
    }
  }
  .reference, .case {
    padding: 5px;
  }
  .secondary {
    padding: 3px 8px;
  }
  .contact-form {
    width: 243px;
    input, textarea {
      width: 230px;
    }
    input[type="submit"] {
      width: 252px;
    }
  }
}
