
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

section {
  padding: 2em 0;

  @include media($medium-up) {
    padding: 4em 0;
  }

  &.gray {
    background-color: #fbfbfb;
    // border-bottom: $base-border;
    // border-top: $base-border;
  }
}

.row {
  @include outer-container;
  position: relative;
  padding: 0 1em;
}

.sidebar {
  @include span-columns(4);
  background-color: #f9f9f9;
  padding: 1em;

  nav {
    li {
      border-bottom: 2px solid #eaeaea;

      &:last-child {
        border: none;
      }
    }

    a {
      display: block;
      font-weight: 700;
      padding: 0.5em 0;
    }

    // temp link placeholder
    span {
      color: darken($light-gray, 15);
      display: block;
      font-weight: 700;
      padding: 0.5em 0;
    }
  }
}

.content,
article {
  @include span-columns(8);

  ul {
    margin: $base-spacing 0 $base-spacing (2 * $base-spacing);
  }

  li {
    list-style-type: disc;
  }
}

.headline {
  margin: 0 auto 1em;
  // max-width: 560px;
  max-width: 712px;
  text-align: center;
}

.sub-headline {
  color: $medium-gray;
  font-size: 1.125em;
}

.checklist {
  li {
    position: relative;
    margin: 0 0 0.8em 0;
    padding: 0 0 0 30px;

    &:before {
      background-color: $blue;
      border-radius: 50%;
      color: #fff;
      content: '✔';
      height: 20px;
      font-size: 13px;
      left: 0;
      line-height: 20px;
      position: absolute;
      text-align: center;
      top: 2px;
      width: 20px;
    }
  }
}


/*
Highlights
*/

#highlights {
  background-color: #fbfbfb;
  padding: 0;

  .wrap {
    border-top: $base-border;
  }

  .col {
    @include span-columns(6);
    position: relative;
    padding: 45px 45px;

    h1 {
      margin-top: 0;
      font-size: 1.8em;
      line-height: 1.3;
      font-weight: 400;
    }

    p {
      color: #666;
      font-size: 1.1em
    }
  }

  .image {
    padding: 0px;
  }
}


/*
Vision
*/

#vision {
  padding: 80px 0;
  color: #fff;
  text-align: center;
  background: url('../images/slider-back.jpg') center top;

  h2 {
    margin: 0 0 40px;
    font-size: 5em;
  }

  h3 {
    margin: 0 0 60px;
    // font-family: $body-font;
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: 100;
  }
}


/*
Map
*/

#map {
  clear: both;
  position: relative;
  background: #fbfaf8;
  border-top: $base-border;

  #map-canvas {
    width: 100%;
    height: 600px;
  }

  .contact-form {
    position: absolute;
    top: 75px;
    left: 160px;
    width: 350px;
    padding: 30px;
    background: #fbfaf8;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(#000, .1);

    input,
    textarea {
      display: block;
      width: 100%;
    }
  }
}


/*
Contact info
*/

#contact-info {
  background: #fbfaf8;
  border-top: $base-border;
  clear: both;
  text-align: center;
  padding: 0;
  position: relative;

  .row {
    @include fill-parent();
    @include row(table);
    padding: 0;
  }

  .col {
    @include span-columns(4);
    @include pad();
    border-right: $base-border;
    font-size: 1.2em;
    vertical-align: middle;

    &:last-child {
      @include reset-display;
      border: none;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 10px;
      font-size: 1.6em;
      vertical-align: middle;
    }
  }
}

.screenshot {
  border: 10px solid rgb(251, 251, 251);
}
