
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

section {
  padding: 2em 0;

  @include media($medium-screen) {
    padding: 4em 0;
  }

  &.gray {
    background-color: #fbfbfb;
    border-bottom: $base-border;
    border-top: $base-border;
  }
}

.row {
  @include outer-container;
  position: relative;
  padding: 1em;
}

.sidebar {
  @include span-columns(4);
  background-color: #f9f9f9;
  padding: 1em;

  nav {
    li {
      border-bottom: 2px solid #eaeaea;

      &:last-child {
        border: none;
      }
    }
    a {
      display: block;
      font-weight: 700;
      padding: 0.5em 0;
    }
  }
}

.content {
  @include span-columns(8);
}

.headline {
  margin: 0 auto 1em;
  max-width: 560px;
  text-align: center;
}

.sub-headline {
  color: $medium-gray;
  font-size: 1.125em;
}


/*
Solutions
*/

#solutions {
  color: $medium-gray;
  text-align: center;

  a {
    color: $blue-alt;
  }

  h1, h2, h3 {
    color: $dark-gray;
    a {
      color: $dark-gray;
    }
  }

  img {
    margin-bottom: 10px;
    max-height: 120px;
  }

  .row {
    @include clearfix;
    padding-bottom: 1em;
  }

  .col {
    position: relative;
    padding: 0 1em;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(4n);
    }

    &:last-of-type {
      a {
        color: $green;
      }
    }

    h3 {
      a {
        color: $dark-gray !important;
      }
    }

    ul {
      // background-color: #f9f9f9;
      // border-top: $base-border;
      border-radius: $base-border-radius;
      margin-top: 2em;
      padding: 0.5em;
      // text-align: left;

      li {
        // border-bottom: $base-border;
        // border-bottom: 2px solid #fff;
        padding: 0.25em;
      }
      a {
        font-weight: 700;
      }
    }
  }
}


/*
Product highlights
*/

#product-highlights {
  border: none;
  color: #fff;
  padding: 0;
  text-align: center;

  .col {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  @include media($medium-screen) {
    @include fill-parent();
    @include row(table);

    .col {
      @include span-columns(6);
      padding-bottom: 4em;
      padding-top: 4em;
    }
  }

  .col-capp {
    @include radial-gradient(circle at 50%,
        $blue 33%,
        rgba($blue, 0.5) 33%,
        rgba($blue, 0.5) 66%,
        $blue-alt 66%,
        $fallback: $blue-alt);
    border-right: 1px solid #fff;
    // font-family: 'Montserrat', $base-font-family;
  }

  .col-ls {
    background-color: $green;
    background-image: url(../images/learningspaces-pattern.svg);
    background-position: center;
  }

  .inner {
    // background: rgba(#fff, .2);
    margin: 0 auto;

    @include media($medium-screen) {
      max-width: 600px;
      width: 80%;
    }
  }

  .headline {
    h2 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 3em;
      font-weight: 700;
    }
    img {
      max-width: 280px;
    }
  }

  .sub-headline {
    color: #fff;
    font-size: 1.5em;
    margin: 1.4em 0 1.6em ;

    a {
      color: #fff;
      font-weight: 700;
    }
  }

  [class^="button"],
  [class*=" button"] {
    margin: 0 0.5em;
  }
}


/*
Clients
*/

#clients {
  background-color: #f6f6f6;
  // border-top: 1px solid #ddd;
  padding: 40px 0;
  text-align: center;

  .logos {
    img {
      margin: 0 3em;
      opacity: 0.6;
      max-height: 50px;
      filter: url('grayscale.svg#grayscale'); /* Firefox 4+ */
      filter: gray; /* IE 6-9 */
      @include filter (grayscale(100%));
    }
  }
}


/*
Highlights
*/

#highlights {
  background: #fbfbfb;
  padding: 0;

  .wrap {
    border-top: $base-border;
  }

  .col {
    @include span-columns(6);
    position: relative;
    padding: 45px 45px;

    h1 {
      margin-top: 0;
      font-size: 1.8em;
      line-height: 1.3;
      font-weight: 400;
    }

    p {
      color: #666;
      font-size: 1.1em
    }
  }

  .image {
    padding: 0px;
  }
}


/*
Vision
*/

#vision {
  padding: 80px 0;
  color: #fff;
  text-align: center;
  background: url('../images/slider-back.jpg') center top;

  h2 {
    margin: 0 0 40px;
    font-size: 5em;
  }

  h3 {
    margin: 0 0 60px;
    // font-family: $body-font;
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: 100;
  }
}


/*
Map
*/

#map {
  clear: both;
  position: relative;
  background: #fbfaf8;
  border-top: $base-border;

  #map-canvas {
    width: 100%;
    height: 600px;
  }

  .contact-form {
    position: absolute;
    top: 75px;
    left: 160px;
    width: 350px;
    padding: 30px;
    background: #fbfaf8;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(#000, .1);

    input,
    textarea {
      display: block;
      width: 100%;
    }
  }
}


/*
Contact info
*/

#contact-info {
  background: #fbfaf8;
  border-top: $base-border;
  clear: both;
  text-align: center;
  padding: 0;
  position: relative;

  .row {
    @include fill-parent();
    @include row(table);
    padding: 0;
  }

  .col {
    @include span-columns(4);
    @include pad();
    border-right: $base-border;
    font-size: 1.2em;
    vertical-align: middle;

    &:last-child {
      @include reset-display;
      border: none;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 10px;
      font-size: 1.6em;
      vertical-align: middle;
    }
  }
}


/*
Footer
*/

footer {
  background: #333;
  color: #666;
  clear: both;
  padding-top: 3em;
  position: relative;
  text-align: center;

  .col {
    @include span-columns(3);
    text-align: left;

    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 10px;
      font-size: 1.6em;
      vertical-align: middle;
    }

    h6 {
      border-bottom: 1px solid #444;
      padding: 0 0 0.6em;
    }

    // li {
    //   &:before {
    //     content: "-";
    //   }
    // }

    a {
      color: #999;
    }
  }

  .copyright {
    border-top: 1px solid #444;
    margin-top: 1em;
    padding: 1em 0;
  }
}
