body.learningspaces_index {

  .hero {
    background-attachment: scroll;
    background-color: $green;
    background-image: url("../images/learningspaces-pattern.svg");
    background-position: center;

    p {
      @include media($large-down) {
        font-size: 1.4em;
      }
    }

    .col {
      @include media($large-up) {
        @include span-columns(6);
      }
    }
  }

  .hero-inner {
    @include media($large-up) {
      padding: 6em 0;
    }

    @include media($medium-down) {
      padding: 2em 0 1em;
    }
  }

  .logo-ls {
    max-width: 340px;
    width: 100%;

    @include media($large-down) {
      margin: 0 auto;
    }
  }

  .hero-copy {
    text-align: center;

    @include media($large-up) {
      text-align: left;
    }

    .button {
      @include media($large-up) {
        margin: 0 0.5em 0 0;
      }

      @include media($xlarge-down) {
        font-size: 1.1em;
      }
    }
  }

  .hero-video {
    @include media($large-down) {
      padding: 2em 2em 0;
    }

    @include media($medium-down) {
      padding: 0;
    }
  }

  .features {
    text-align: center;

    @include media ($medium-up) {
      text-align: left;
    }

    .row {
      border-bottom: $base-border;
      padding: 4em;

      &:last-of-type {
        border-bottom: 0;
      }

      .col {
        @include media($large-up) {
          @include span-columns(6);
        }
      }
    }

    h2 {
      font-size: 2em;
      font-weight: 700;
    }
  }
}
