.learningspaces {
  $browserbackground: #e9edf0;
  $browserbuttons: #d4dbdf;
  $browsershadow: #d9dee1;

  .hero {
    background-attachment: scroll;
    background-color: $green;
    background-image: url(../images/learningspaces-pattern.svg);
    background-position: center;
  }

  .col {
    @include media($large-up) {
      @include span-columns(6);
    }
  }

  .browser {
    background: $browserbackground;
    border: 1px solid $browsershadow;
    border-radius: 5px 5px 0;
    box-sizing: border-box;
    padding-top: 24px;
    position: relative;

    .browser-ooo {
      &, &:before, &:after {
        background: $browserbuttons;
        border-radius: 50%;
        content: " ";
        float: left;
        height: 8px;
        position: absolute;
        width: 8px;
      }

      left: 8px;
      top: 8px;

      &:before {
        left: 13px;
      }

      &:after {
        left: 26px;
      }
    }

    .browser-viewport {
      position: relative;
    }

    img {
      box-shadow: 0 0 0 1px $browsershadow;
      display: block;
      max-width: 100%;
    }

    &.intrinsic-ratio {
      .browser-viewport {
        &::before {
          content: "";
          display: block;
          padding-bottom: 71%;
        }
      }

      img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .hero-inner {
    @include media($large-up) {
      padding: 5em 0 0;
    }
  }

  .logo-ls {
    max-width: 320px;
    width: 100%;

    @include media($medium-down) {
      margin: 0 auto;
    }
  }

  .hero-copy {
    text-align: center;

    @include media($large-up) {
      padding: 3em 0;
      text-align: left;
    }

    .button {
      @include media($large-up) {
        margin: 0 0.5em 0 0;
      }
    }
  }

  .features {
    text-align: center;

    @include media ($medium-up) {
      text-align: left;
    }

    .row {
      border-bottom: $base-border;
      padding: 4em;

      &:last-of-type {
        border-bottom: 0;
      }
    }

    h2 {
      font-size: 2em;
      font-weight: 700;
    }
  }
}
