/*
Solutions
*/

.oplossingen_index {
  text-align: center;

  // solitions test 1
  .solitions-list1 {
    @extend .row;

    li {
      background-color: $lighter-gray;
      border-radius: $base-border-radius;
      padding: 2em;
      margin-bottom: 2em;

      @include media($medium-up) {
        @include span-columns(6);
        @include omega(2n);
      }
    }
  }

  // solitions test 2
  .solitions-list2 {
    > li {
      background-color: #fff;
      margin-bottom: 2em;

      @include media($medium-up) {
        @include fill-parent();
        @include row(table);
        min-height: 300px;
      }
    }

    .col {
      @include pad();
      vertical-align: middle;

      p {
        font-size: 1.3em;

        &:last-child {
          margin: 0;
        }

        a {
          color: inherit;
          font-weight: 700;
        }
      }

      &.left {
        color: #fff;
        display: table;
        height: 200px;
        text-align: center;
        width: 100%;

        @include media($medium-up) {
          @include span-columns(5);
          height: auto;
        }

        h2 {
          display: table-cell;
          font-family: 'Montserrat', $base-font-family;
          font-size: 3em;
          font-weight: 700;
          margin: 0;
          vertical-align: middle;

          @include media($medium-up) {
            display: block;
          }
        }

        img {
          max-width: 240px;
          vertical-align: text-top;
        }
      }

      &.right {
        text-align: left;

        @include media($medium-up) {
          @include span-columns(7);
          @include reset-display;
        }
      }
    }

    // CAPP
    .capp {
      .left {
        @include radial-gradient(circle at 50%,
          $blue 33%,
          rgba($blue, 0.5) 33%,
          rgba($blue, 0.5) 66%,
          $blue-alt 66%,
          $fallback: $blue-alt);
      }
    }

    // LearningSpaces
    .learningspaces {
      .left {
        background-color: $green;
        background-image: url(../images/learningspaces-pattern.svg);
        background-position: center;
      }
    }
  }

  // solitions test 3
  .solitions-list3 {
    @include media($medium-up) {
      @include display(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);

      padding: 5px;
    }

    li {
      // background-color: #fff;
      border-radius: $base-border-radius;
      padding: 1em;

      @include media($medium-up) {
        padding: 2em;
        width: 50%;

        background-color: $lighter-gray;
        flex: 1 1 auto;
        margin: 5px;
      }

      @include media($xlarge-up) {
        width: 33.3333333%;
      }
    }
  }
}
