.product-highlights {
  border: none;
  color: #fff;
  padding: 0;
  text-align: center;

  .col {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  @include media($medium-up) {
    @include fill-parent();
    @include row(table);

    .col {
      @include span-columns(6);
      padding-bottom: 4em;
      padding-top: 4em;
    }
  }

  .col-capp {
    @include reset-display;
    @include radial-gradient(circle at 50%,
      $blue 33%,
      rgba($blue, 0.5) 33%,
      rgba($blue, 0.5) 66%,
      $blue-alt 66%,
      $fallback: $blue-alt);
    border-right: 1px solid #fff;
    // font-family: 'Montserrat', $base-font-family;
  }

  .col-ls {
    background-color: $green;
    background-image: url(../images/learningspaces-pattern.svg);
    background-position: center;
  }

  .inner {
    // background: rgba(#fff, .2);
    margin: 0 auto;

    @include media($medium-up) {
      max-width: 600px;
      width: 80%;
    }
  }

  .headline {
    h2 {
      font-family: 'Montserrat', $base-font-family;
      font-size: 3em;
      font-weight: 700;
    }

    img {
      max-width: 280px;
    }
  }

  .sub-headline {
    color: #fff;
    font-size: 1.5em;
    margin: 1.4em 0 1.6em ;

    a {
      color: #fff;
      font-weight: 700;
    }
  }

  [class^="button"],
  [class*=" button"] {
    margin: 0 0.5em;
  }
}
