.seminar {
  .hero {
    @include radial-gradient(circle at 50%,
        $blue 33%,
        rgba($blue, 0.5) 33%,
        rgba($blue, 0.5) 66%,
        $blue-alt 66%,
        $fallback: $blue-alt);

    background-attachment: scroll;

    h1 {
      font-family: 'Montserrat', $base-font-family;
      margin-bottom: 0.5em;
      font-weight: 700;
    }
  }

  .col {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  @include media($medium-up) {
    @include fill-parent();
    @include row(table);

    .col {
      @include span-columns(6);
      padding-bottom: 4em;
      padding-top: 4em;
    }
  }

  .gray {
    text-align: center;
  }

  .description {
    color: $base-font-color;

    ul {
      font-size: 1.5em;
      list-style-type: disc;
      text-align: left;
    }
  }
}



