.solutions {
  padding: 0 0 1.8em;

  .row {
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    margin-top: -5em;

    @include media($medium-down) {
      margin: 0;
    }
  }

  a {
    color: $base-font-color;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 400;
  }

  .solution {
    margin: 0 auto;
    padding: 1.8em 0.4em 6em;
    position: relative;
    text-align: center;
    width: 270px;
  }

  .button {
    @include transform(translateX(-50%));
    bottom: 2.4em;
    left: 50%;
    position: absolute;
  }

  .solution-icon {
    display: inline-block;
    padding: 1em;
  }

  img {
    height: 90px;
  }
}
