.solutions {
  .row {
    @include media($large-up) {
      display: flex;
    }
  }

  a {
    color: $base-font-color;
  }

  h3 {
    font-size: 1.5em;
  }

  .solution {
    border: 1px solid #ddd;
    margin-bottom: 3em;
    padding: 2em;
    text-align: center;

    @include media($large-down) {
      margin-bottom: 6em;
    }

  .solution-checklist {
    width: 100%;
  }

  .checklist {
    display: inline-block;
  }

  li {
    padding: 0 0 0 30px;
    position: relative;
  }

  .button {
    margin-top: 1em;
  }

  .solution-icon {
    background: #fff;
    display: inline-block;
    margin-top: -6em;
    padding: 1em;
  }

  img {
    height: 90px;
  }

  @include media($large-up) {
    @include span-columns(6);
    }
  }
}
