#team {
  background-color: #f6f6f6;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 1em 1em;
  }

  .avatar {
    margin-bottom: 8px;
  }

  li.you {
    .avatar {
      @include transition(background 0.1s linear);
      background-color: $blue-alt;
      color: #fff;
    }

    a:hover .avatar {
      background-color: darken($blue-alt, 15%);
    }

    a {
      color: $blue-alt;
      display: block;

      &:active,
      &:focus,
      &:hover {
        color: darken($blue-alt, 15%);
      }
    }
  }

  h5 {
    font-size: 0.8em;
    font-weight: 700;

    span {
      display: block;
    }
  }

  @include media($medium-up) {
    .avatar {
      @include avatar-size(80px);
    }

    h5 {
      font-size: 1em;
    }
  }
}
