.testimonials {
  background-color: #fff;
  text-align: center;

  &.inverted {
    background-color: $lighter-gray;
  }
}

.testimonial-list {
  $quote-background: $lighter-gray;
  // $quote-border: 1px solid #ededed;
  $quote-border: none;
  $arrow-size: 25px;
  $avatar-size: 50px;

  margin: 0 auto;
  max-width: 800px;
  text-align: left;

  li {
    @include clearfix;
    margin-bottom: 1em;
    padding: 1em 0;
  }

  &.cols {
    margin: 0;
    max-width: none;

    li {
      @include media($large-up) {
        @include span-columns(6);
        @include omega(2n);
      }
    }
  }

  .quote {
    background-color: $quote-background;
    border: $quote-border;
    border-radius: $base-border-radius;
    color: #888;
    font-size: 1.1em;
    font-style: italic;
    line-height: 1.4em;
    margin-bottom: 15px;
    padding: 1.5em;
    position: relative;

    p {
      margin: 0;
      position: relative;
      z-index: 2;
    }

    &:before {
      @include transform(rotate(45deg));
      background-color: $quote-background;
      border: $quote-border;
      border-top: none;
      border-left: none;
      bottom: -$arrow-size/2;
      content: "";
      display: block;
      height: $arrow-size;
      left: 60px;
      position: absolute;
      width: $arrow-size;
    }

    .inverted & {
      background-color: #fff;
      &:before {
        background-color: #fff;
      }
    }
  }

  .author {
    margin: $avatar-size/2 0 0;
    position: relative;
  }

  .avatar {
    border-radius: 50%;
    height: $avatar-size;
    width: $avatar-size;
    margin: 0 $avatar-size/4 0 $avatar-size/2;
    float: left;
  }

  .name {
    margin: 5px 0;
  }

  .company {
    color: #999;
    display: block;
    font-size: 0.8em;
  }
}
