
// ------------------------------------------------------------
// Variables
// ------------------------------------------------------------

// Text
$body-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-size: 15px;
$body-line-height: 1.7;

// Colors
$text-color: #333;
$link-color: #5ba4e5;
$defacto-orange: #dbb10c;

$green: #6bb6a1;
$blue: #6ba1cb;
$red: #ec766c;
$gray: #a3b6bb;
