.workshop {
  .hero {
    @include radial-gradient(circle at 50%,
        $blue 33%,
        rgba($blue, 0.5) 33%,
        rgba($blue, 0.5) 66%,
        $blue-alt 66%,
        $fallback: $blue-alt);

    background-attachment: scroll;

    .hero-inner {
      padding: 7em 1em 3em;
    }

    h1 {
      font-family: 'Montserrat', $base-font-family;
      margin-bottom: 0.5em;
      font-weight: 700;
    }
  }

  @include media($medium-up) {
    .col {
      @include span-columns(6);
    }
  }

  section {
    font-size: 1.1em;

    p {
      text-align: left;
    }

    ul {
      list-style-type: disc;
      text-align: left;
      margin: 1em 0;
      padding-left: 20px;
    }

    .button {
      margin-top: 1em;
      padding: 6px 12px;
      font-size: 1em;
    }
  }

  .gray {
    text-align: center;
  }

  .intro {
    h2 {
      text-align: left;
      margin-bottom: 1em;
    }
  }

  .description {
    color: $base-font-color;
    text-align: left;

    li {
      margin-bottom: 1em;
    }
  }

  .program {
    text-align: left;
    font-size: 1.1em;
    text-align: center;

    .program-heading {
      font-weight: 700;

      span {
        font-weight: 400;
      }
    }

    .col {
      text-align: left;
    }

    ul.program-list {
      border-bottom: 1px solid #dedede;
      list-style: none;
      padding: 0;
      margin: 1em 0;

      > li {
        border-top: 1px solid #dedede;
        padding: 1em 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      h4 {
        font-size: 0.8em;
        font-weight: 500;
      }

      h5 {
        font-size: 0.8em;
        font-weight: 500;
      }
    }

    .time {
      color: #79c5d6;
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }

  .locations {
    border-bottom: 2px solid #dedede;
    padding: 0;

    .row {
      max-width: 1000px;
      padding: 0;
    }

    .col {
      border: 1px solid #dedede;
      border-width: 0 1px;
      padding: 4em 2em;
      // margin-left: 1px;

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }

    p {
      text-align: center;
      margin: 0;
    }
  }
}
