.workshop-convenant-mt {
  .hero {
    @include radial-gradient(circle at 50%,
      $blue 33%,
      rgba($blue, 0.5) 33%,
      rgba($blue, 0.5) 66%,
      $blue-alt 66%,
      $fallback: $blue-alt);

    background-attachment: scroll;

    .hero-inner {
      padding: 5em 1em 0em;

      .cta-big {
        font-size: 1em;
        font-weight: 700;
      }
    }

    .hero-copy {
      font-size: 1em;

      h1 {
        font-size: 2.4em;
        max-width: 80%;
        margin: 0 auto 1em auto;
      }
    }

    h1 {
      font-family: "Montserrat", $base-font-family;
      margin-bottom: 0.3em;
      font-weight: normal;
      font-size: 2.4em;
    }
  }

  section {
    font-size: 1.1em;

    p {
      text-align: left;
    }

    ul {
      list-style-type: disc;
      text-align: left;
      margin: 1em 0;
      padding-left: 20px;
    }

    .button {
      margin-top: 1em;
      padding: 6px 12px;
      font-size: 1em;
    }
  }

  .gray {
    text-align: center;
  }

  .intro {
    h2 {
      text-align: left;
      margin-bottom: 1em;
    }
  }

  .description {
    color: $base-font-color;
    text-align: left;

    li {
      margin-bottom: 1em;
    }
  }

  .program {

    ul.program-list {
      border-top: 1px solid #dedede;
      text-align: left;
      list-style: none;
      padding: 0;

      @include media ($medium-up) {
        padding-top: 1em;
        width: 70%;
        margin: 0 auto;
      }

      > li {
        border-bottom: 1px solid #dedede;
        margin-bottom: 1em;
        padding-bottom: 1em;
        position: relative;

        ul {
          list-style: disc;
        }

        @include media ($medium-up) {
          padding-left: 265px;
        }
      }

      h4 {
        font-weight: 400;
      }

      .time {
        color: $blue;
        font-weight: 400;

        @include media ($medium-up) {
          left: 0;
          position: absolute;
          top: 0;
        }

        @include media ($small-only) {
          margin-bottom: 1em;
          margin-top: 1em;
        }
      }

      h5 {
        margin-bottom: 0;
      }
    }
  }

  .locations {
    border-bottom: 2px solid #dedede;
    padding: 0;

    .row {
      max-width: 1000px;
      padding: 0;
    }

    .col {
      border: 1px solid #dedede;
      border-width: 0 1px;
      padding: 4em 2em;

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }

    p {
      text-align: center;
      margin: 0;
    }
  }

  .register {
    .register-inner {
      @include outer-container;
      @include clearfix;
      margin: auto;
      text-align: center;

      input {
        border-color: transparent;
        box-shadow: none;
      }

      button,
      .button {
        margin: 1.5em 0.5em 1.5em;
        font-size: 0.8em;
      }
    }

    p {
      line-height: 1.2em;
      margin: 0 auto;
      max-width: 500px;
      text-align: center;

      @include media($large-up) {
        font-size: 1.6em;
        max-width: 720px;
      }

      button,
      .button {
        margin: 1.5em 0.5em 0.5em 0;
      }
    }
  }
}
