@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "components/base";

@import "fonts";
@import "layout";
@import "header";
@import "footer";
@import "testimonials";
@import "clients";
@import "team";
@import "feature_list";

@import "home";
@import "producten";
@import "capp";
@import "kpp";
@import "learningspaces";
@import "elearning_starterkit";
@import "markets";
@import "360";
@import "references";
@import "blog";
@import "error";
@import "bedankt";
@import "german_news";
@import "convenant";
@import "solutions";

// Fluid video wrapper
.fluid-width-video-wrapper {
  margin-bottom: 1em;
}

// Hide Google Conversion iframe
iframe[name="google_conversion_frame"] {
  display: none !important;
  float: left;
  font-size: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  margin-top: -13px;
  width: 0 !important;
}
