<html>
  <head>
    <% target_url = current_page.url.sub("/#{I18n.locale}/", full_url("/", I18n.locale)) -%>
    <link rel="canonical" href="<%= target_url %>">
    <meta name="robots" content="noindex,follow">
    <meta http-equiv="refresh" content="0; url=<%= target_url %>">
    <meta http-equiv="cache-control" content="no-cache">
  </head>
  <body>
    <script type="text/javascript">
      window.location.replace('<%= target_url %>');
    </script>
  </body>
</html>
