<section class="other-cases">
  <h2>Bekijk andere cases</h2>
  <div class="row">

    <div class="case-item">
      <a href="#">
        <div class="case-img">
            <%= image_tag "cases/case-mumc.jpg", alt: "MUMC" %>
        </div>
        <div class="case-info">
          <h3>MUMC</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur nisl eu nisl vulputate varius.</p>
          <%= locale_link_to "Meer over MUMC", "/cases/zinn.html", class: "button small orange" %>
        </div>
      </a>
    </div>

    <div class="case-item">
      <a href="#">
        <div class="case-img">
            <%= image_tag "cases/case-amarant.jpg", alt: "amarant" %>
        </div>
        <div class="case-info">
          <h3>Amarant</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur nisl eu nisl vulputate varius.</p>
          <%= locale_link_to "Meer over Amarant", "/cases/zinn.html", class: "button small orange" %>
        </div>
      </a>
    </div>

  </div>
</section>
