---
title:
  nl: Case ZINN
description:
  nl: Hoe gebruikt ZINN CAPP en andere applicaties van Defacto?
unique_for_locale: true
---

<div class="hero">
  <div class="hero-inner">

    <div class="row">
      <div class="hero-header">
        <h1>Case ZINN</h1>
      </div>
    </div>

  </div>
</div>

<section>
  <div class="row">
    <article class="sidebar-content">

      <h2>Zinn zorgt voor ouderen</h2>
      <p>In luctus nunc diam, eu ornare lacus bibendum vel. Phasellus risus nisl, convallis non luctus sit amet, mattis ut ligula. Vestibulum blandit sodales tempus. Nunc pulvinar aliquet turpis, laoreet tempor lorem vestibulum quis. Aliquam egestas mi eros, bibendum vehicula ipsum suscipit nec. Nunc interdum sodales mauris quis volutpat. Pellentesque tristique lacus id malesuada molestie.</p>

      <h3>Vivamus nec velit ex</h3>
      <p>Quisque nisl nunc, tempus sit amet varius vel, hendrerit non sem. Nulla ornare orci fringilla, venenatis mauris et, semper turpis. Proin a nulla vestibulum, pharetra libero ac, fringilla nisi. Vestibulum viverra maximus quam id convallis. Phasellus pulvinar felis eu erat aliquam, et porttitor arcu cursus. Pellentesque feugiat leo eu risus placerat finibus. Vestibulum fringilla id nisi id imperdiet. Nam dapibus odio pretium nulla cursus, non commodo arcu volutpat.</p>

      <h3>Donec nisi tellus, rutrum nec vestibulum eget</h3>
      <p>Sollicitudin id lorem. Nunc nulla libero, rhoncus sit amet rhoncus at, dictum eu felis. Donec sollicitudin ligula in nibh faucibus, eu congue nunc posuere. Nunc congue lorem enim, eget convallis purus sodales vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ex mi, rutrum et arcu id, dignissim efficitur augue. Vivamus imperdiet et nisl ut accumsan. Quisque eget velit non augue sagittis mattis in sed ex. Integer ac elementum libero. Nunc elementum blandit tellus, id ultrices risus placerat sed. Nunc quis bibendum eros, eu finibus justo. Suspendisse dui turpis, ullamcorper in elit et, hendrerit blandit neque. Maecenas nec consequat urna, sit amet gravida odio.</p>

      <h3>How would a video look?</h3>
      <iframe src="https://www.youtube.com/embed/dRjE1JwdDLI" frameborder="0" allowfullscreen></iframe>

      <h3>Etiam a facilisis purus</h3>
      <p>Quisque egestas augue dapibus dapibus imperdiet. Fusce vel turpis eu enim commodo molestie id bibendum nisl. Integer vitae elit vitae mauris finibus viverra in bibendum diam. Morbi fermentum erat eros, ut molestie nulla egestas vulputate. Cras eu lobortis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lectus tellus, vestibulum sed rutrum quis, accumsan at lectus. Proin facilisis libero sit amet turpis luctus, sed luctus nisl fermentum. Ut nec auctor nisi, ut faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et faucibus leo, eget blandit sapien. Duis at vestibulum nulla. Cras eu mi sed arcu accumsan facilisis quis nec leo. Morbi elementum vitae odio eleifend interdum. Vestibulum nec nulla elementum, scelerisque nulla in, vestibulum metus.</p>

    </article>
    <div class="sidebar">
      <h3>Profiel</h3>
      <%= image_tag "cases/zinn-logo.png", alt: "Logo ZINN" %>
      <dl>
        <dt>Locatie:</dt>
        <dd>Groningen</dd>
        <dt>Aantal medewerkers:</dt>
        <dd>2000</dd>
        <dt>CAPP sinds:</dt>
        <dd>2013</dd>
        <dt>Aantal actieve gebruikers:</dt>
        <dd>1987</dd>
        <dt>Website:</dt>
        <dd><a href="http://www.zinnzorg.nl" target="_blank">Zinnzorg.nl</a></dd>
        <dt>Type:</dt>
        <dd>Ouderenzorg</dd>
      </dl>
    </div>
  </div>
</section>

<%= partial "cases/other-cases" %>
