<section class="feature-list three">
  <div class="row">
    <div class="col">
      <h3>3-2-1 Liftoff!</h3>
      <p>Geef je corporate university een boost, begin je eigen MOOC of deel kennis met je collega’s - met LearningSpaces ben je in no time op gang.</p>
    </div>
    <div class="col">
      <h3>Verbind en stimuleer</h3>
      <p>Stimuleer informeel leren en kennisdeling. Met LearningSpaces is iedereen leerling én leraar. Vind en bewaar de verborgen kennis in je organisatie!</p>
    </div>
    <div class="col">
      <h3>Rijke content</h3>
      <p>Maak je eigen content of embed bestaand materiaal. Upload afbeeldingen en bestanden, creëer toetsen en opdrachten en chat met je collega’s.</p>
    </div>
  </div>
</section>
