<section class="feature-list three">
  <div class="row">
    <div class="col">
      <h3>3-2-1 Los</h3>
      <p>GOb du deine Organisationsuniverität starten, dein eigenen MOOC erstellen oder ganz einfach dein Wissen mit Kollegen teilen möchtest - mit LearningSpaces kannst du in ein paar Minuten loslegen.</p>
    </div>
    <div class="col">
      <h3>Engage</h3>
      <p>Stimulier informelles Lernen und Wissen teilen. Mit LearningSpaces kann jeder lernen und eigene Kurse erstellen die andere folgen können.</p>
    </div>
    <div class="col">
      <h3>Multimedia Inhalt</h3>
      <p>Schreibe deine eigenen Kurse und nutze deine Materialien. Lade Bilder und Dateien hoch, erstelle Quizze und Aufgaben und arbeite zusammen mit anderen Teilnehmern.</p>
    </div>
  </div>
</section>
