<section class="feature-list three">
  <div class="row">
    <div class="col">
      <h3>Kennis centraal</h3>
      <p>Instructies. Werkwijzen. Tips en trucs. In LearningSpaces delen specialisten binnen teams en bedrijven hun kennis met elkaar.</p>
    </div>
    <div class="col">
      <h3>Leerling en leraar</h3>
      <p>Met LearningSpaces is iedereen leerling én leraar. Deel kennis met collega's, ga in discussie en daag elkaar uit met quizzen en opdrachten.</p>
    </div>
    <div class="col">
      <h3>Altijd up-to-date</h3>
      <p>Abonneer je op specialismen van anderen en volg nieuwe hoofdstukken en reacties. Zo is kennis van iedereen en altijd actueel.</p>
    </div>
  </div>
</section>
