<section class="features">
  <div class="row">
    <div class="col">
      <%= image_tag "spaces-small.png", title: "Spaces", alt: "Spaces" %>
    </div>
    <div class="col">
      <h2>3-2-1 Los</h2>
      <p>Ob du deine Organisationsuniverität starten, dein eigenen MOOC erstellen oder ganz einfach dein Wissen mit Kollegen teilen möchtest - mit LearningSpaces kannst du in ein paar Minuten loslegen.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "questions-small.png", title: "Questions", alt: "Questions" %>
    </div>
    <div class="col">
      <h2>Engage</h2>
      <p>Stimulier informelles Lernen und Wissen teilen. Mit LearningSpaces kann jeder lernen und eigene Kurse erstellen die andere folgen können.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "path-small.png", title: "Paths", alt: "Paths" %>
    </div>
    <div class="col">
      <h2>Multimedia Inhalt</h2>
      <p>Schreibe deine eigenen Kurse und nutze deine Materialien. Lade Bilder und Dateien hoch, erstelle Quizze und Aufgaben und arbeite zusammen mit anderen Teilnehmern.</p>
    </div>
  </div>
</section>
