---
title: 360&deg;-Feedback
---

<div id="solutions">
    <div class="">
        <div class="slide" >
            <h2><%= t(:"360_title") %></h2>
            <div class="slide-text right-box">
                <p><%= t(:"360_description") %></p>
            </div>
        </div>
    </div>
</div>


