---
title:
  nl: 404 - Pagina niet gevonden
  de: 404 - Seite nicht gefunden
  en: 404 - Page not found
directory_index: false
robots: noindex,nofollow
---

<section class="gray">
  <div class="row">
    <%= image_tag "warning.gif", class: "header-icon" %>
    <h1><%= t("error.heading") %></h1>
    <p><%= markitdown t("error.text_md") %></p>
  </div>
</section>

<%= partial "contact-info" %>
