<section class="announcement gray">
  <div class="row">
	 <div class="quote">
      <%= image_tag "team/isabela.jpg", alt: "Isabela Wojtowicz", class: "avatar" %>
      <div class="bubble">
        <h3>Besuchen Sie uns auf <a href="http://www.learntec.de/de/home/homepage.jsp" rel="nofollow" target="_blank">der Learntec</a> in Karlsruhe vom 26.-28. Januar 2016. Halle 1 Stand F70.</h3>
      </div>
    </div>
  </div>
</section>
