<div id="clients" >
    <div class="center">
        <%= t("what_we_do_html", :href => link_to(t("what_we_do_href"), '#showcase')) %></a>
    </div>

    <div class="logos">
        <img src="images/logos/kpn.jpg" alt="KPN logo" title="KPN">
        <img src="images/logos/achmea.jpg" alt="Achmea logo" title="Achmea">
        <img src="images/logos/zinn.jpg" alt="ZINN logo" title="ZINN">
        <img src="images/logos/unit4.jpg" alt="UNIT4 logo" title="UNIT4">
        <img src="images/logos/uwv.jpg" alt="UWV logo" title="UWV">
        <img src="images/logos/maandag.jpg" alt="Maandag logo" title="maandag">
    </div>
</div>
