<section id="contact-info">
  <div class="row border">
    <div class="col">
      <span class="icon-location"></span>
      <span>Zuiderpark 3, 9724 AD Groningen</span>
    </div>
    <div class="col">
      <span class="icon-phone"></span>
      <a href="tel:+31503144832">++31 (0)50 3144832</a>
    </div>
    <div class="col">
      <span class="icon-mail"></span>
      <a href="mailto:info@defacto.nl">info@defacto.nl</a>
    </div>
  </div>
</section>
