<section class="contact-info">
  <div class="row">
    <div class="col">
      <span class="icon-location"></span>
      <span>Zuiderpark 3, 9724 AD Groningen <%= "(NL)" unless I18n.locale == :nl %></span>
    </div>
    <div class="col">
      <span class="icon-phone"></span>
      <%= link_to t("contact.phone"), "tel://#{t("contact.phone_link")}" %>
    </div>
    <div class="col">
      <span class="icon-mail"></span>
      <a href="mailto:info@defacto.nl">info@defacto.nl</a>
    </div>
  </div>
</section>
