<section class="cta-banner">
  <div class="row">
    <h3>
      Defacto ist auf der <a href="http://medica.de" target="_blank">Medica</a>.<br>
      Besuchen Sie uns in Halle 15 Stand D 05
    </h3>
  </div>
</section>
