<section class="cta-workshop">
  <p>
    Op <strong>donderdag 28 januari 2016</strong> organiseren wij de workshop
    <strong>‘Hoe borg ik het Convenant Medische Technologie?’</strong>
  </p>
  <a href="/workshop-convenant-mt" class="button">Meer informatie</a>
</section>
