<section class="cta-banner">
  <div class="row">
    <h3>
      Op <strong>dinsdag 24</strong> en <strong>donderdag 26 november</strong> organiseren wij de workshop <br>‘Hoe borg ik het Convenant Medische Technologie?’. <a href="/workshop"><strong>Schrijf je nu in</strong></a>
    </h3>
  </div>
</section>
