<section class="cta-workshop">
  <div class="row">
    <h4>
      Op <strong>donderdag 28 januari 2016</strong> organiseren wij de workshop <br><strong>‘Hoe borg ik het Convenant Medische Technologie?’</strong>. <br><br><a href="/workshop" class="appointment button"><strong>Ik wil dit niet missen &raquo;</strong></a>
    </h4>
    <!-- 
    <%= partial "cta_appointment" %>
    -->
  </div>
</section>
