<section class="cta-workshop">
    <p>
      Op <strong>donderdag 28 januari 2016</strong> organiseren wij de workshop
      <strong>‘Hoe borg ik het Convenant Medische Technologie?’</strong>
    </p>
    <a href="/workshop" class="button">Ik wil dit niet missen &raquo;</a>
</section>
