<footer>
    <div id="footer-top" class="center">
        <div class="row border">
        	<div class="col">
        		<span class="icon-location"></span>
        		<span>Zuiderpark 3, 9724 AD Groningen</span>
        	</div>
        	<div class="col">
        		<span class="icon-phone"></span>
        		++31 (0)50 3144832
        	</div>
        	<div class="col">
        		<span class="icon-mail"></span>
        		<a href="mailto:info@defacto.nl">info@defacto.nl</a>
        	</div>
        </div>
    </div>

    <div id="footer-bottom" class="border-top">
	    <div class="center">
	        <p>&copy; 2014 Defacto</p>
	    </div>
    </div>
</footer>
