<footer>
    <div id="map-canvas"></div>
    <div class="contact-form">
        <form action="#" method="POST">
            <input type="text" name="name" placeholder="Naam">
            <input type="text" name="company" placeholder="Bedrijf of Organisatie">
            <input type="text" name="phone" placeholder="Telefoon">
            <input type="text" name="email" placeholder="E-mail">
            <textarea name="message" placeholder="Bericht"></textarea>
            <input type="submit" name="submit" value="Verstuur bericht">
        </form>
    </div>
</footer>
