<footer>
  <div>
    <div class="row">

      <div class="col">
        <h6>Leren</h6>
        <ul>
          <li><a href="#">Opleidingsadministratie</a></li>
          <li><a href="#">Leermanagament</a></li>
          <li><a href="#">E-Learning / ELO</a></li>
          <li><a href="#">Certifcering</a></li>
        </ul>
      </div>

      <div class="col">
        <h6>Ontwikkelen</h6>
        <ul>
          <li><a href="#">360 feedback</a></li>
          <li><a href="#">Compententies</a></li>
          <li><a href="#">Jaargesprekken</a></li>
          <li><a href="#">Portfolio</a></li>
        </ul>
      </div>

      <div class="col">
        <h6>Kwaliteitsborging</h6>
        <ul>
          <li><a href="#">Kwaliteitspaspoort</a></li>
          <li><a href="#">Functie- en vereistenprofielen</a></li>
          <li><a href="#">Meetbare resultaten</a></li>
        </ul>
      </div>

      <div class="col">
        <h6>Contact</h6>
        Defacto<br>
        Zuiderpark 3<br>
        9724 AD Groningen<br>
        <br>
        T +31 (0)50 3144832<br>
        F +31 (0)50 3186332<br>
        <a href="mailto:info@defacto.nl">info@defacto.nl</a><br>
      </div>

    </div>
  </div>

  <div class="copyright">
    <div class="row">
      &copy; 1987 - <%= Time.now.year %> Defacto
    </div>
  </div>
</footer>
