<section class="german-news">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="agenda">
      <table>
        <tr>
          <th class="when">Wann</th>
          <th class="event">Event</th>
          <th class="where">Wo</th>
        </tr>
        <tr>
          <td>5. Oktober</td>
          <td>Workshop bei <a href="http://www.6k-kliniken.de/" target="_blank">6-K Verbund</a></td>
          <td>Neumünster</td>
        </tr>
        <tr>
          <td>16. November</td>
          <td>Seminar bei <a href="https://www.mumc.nl/" target="_blank">MUMC</a></td>
          <td>Maastricht (NL)</td>
        </tr>
      </table>
    </div>

  </div>
</section>
