<section class="german-news">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="agenda">
      <table>
        <tr>
          <th class="when">Wann</th>
          <th class="event">Event</th>
          <th class="where">Wo</th>
        </tr>
        <tr>
          <td>8.- 10. Juni</td>
          <td><a href="http://www.hauptstadtkongress.de/" target="_blank">Hauptstadtkongress<br>Medizin und Gesundheit</a></td>
          <td>Berlin</td>
        </tr>
      </table>
    </div>

  </div>
</section>
