<section class="german-news">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="agenda">
      <table>
        <tr>
          <th class="when">Wann</th>
          <th class="event">Event</th>
          <th class="where">Wo</th>
        </tr>
        <tr>
          <td>5. Oktober</td>
          <td>Workshop <a href="http://www.6k-kliniken.de/" target="_blank">beim FEK</a>: Qualit채t sichern durch Bildungsmanagement</td>
          <td>Neum체nster</td>
        </tr>
        <tr>
          <td>16. November</td>
          <td>Seminar <a href="https://www.mumc.nl/" target="_blank">beim MUMC</a>: Der holl채ndische Weg zu einem eigenst채ndigen, qualifizierten Pflegepersonal</td>
          <td>Maastricht (NL)</td>
        </tr>
      </table>
    </div>

  </div>
</section>
