<section class="german-news">
  <div class="row">

    <h2>Treffen Sie uns hier:</h2>

    <div class="agenda-item">
      <h3>E-Learning Workshop</h3>
      <p class="info"><span>9. December 2016</span> | <span class="location">Mannheim</span></p>
      <p>Arbeitgeberattraktivität, Wissensmanagement, Einweiserbindung: Wie Sie mittels E-Learning Zukunftsthemen bewegen.</p>
    </div>

    <div class="agenda-item">
      <h3>Kongress "Vernetzte Gesundheit"</h3>
      <p class="info"><span>17.-18. Januar</span> | <span>Kiel</span></p>
      <p>Potenziale heben – Innovationen leben: Unternehmung Gesundheit.</p>
      <a href="http://www.vernetzte-gesundheit.de" target="_blank">Weitere Infos</a>
    </div>

  </div>
</section>
