<!-- <section id="german-video">
  <div class="row">
    <div class="headline">
      <h2>Was wir sagen</h2>
    </div>
    
</section>
--> 

<section class="german-video">
  <div class="headline">
    <h2>Was wir sagen</h2>
  </div>
  <div class="row video-row">
    <iframe width="600" height="338" src="https://www.youtube.com/embed/T3vnuBY4h7c?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
>>>>>>> Add german video
