<div class="highlight" id="ebook">
  <a href="#" class="close">
    <%= image_tag "close.svg" %>
  </a>

  <div class="highlight-header">
    <h2 class="highlight-title">Download gratis ons E-Learning Handboek</h2>
    <%= image_tag "boek.png", alt: "E-Learning Handboek Leren & Laten Leren" %>
  </div>

  <div class="highlight-bottom">
    <form>
      <input type="email" placeholder="E-mail" required="required">
      <button>Download</button>
    </form>
  </div>
</div>
