<div id="highlights">
    <div class="row border-top">
        <div class="col image">
            <div>
                <img src="images/boek.png">
            </div>
        </div>
        <div class="col">
            <h1>Maak nu je eigen e-learning materiaal met de E-Learning Starter Kit</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt magna et molestie feugiat. Fusce ut auctor magna. Etiam posuere rhoncus mi, a egestas odio mollis in. Vivamus ut aliquet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi adipiscing at est nec tincidunt. Fusce risus velit, pretium at lectus id, blandit accumsan dolor.</p>
        </div>
    </div>
</div>
