<div id="highlights">

    <div class="border-top">
        <div class="row">
            <div class="col image">
                <div>
                    <img src="images/boek.png">
                </div>
            </div>
            <div class="col">
                <h1>Maak nu je eigen e-learning materiaal met de E-Learning Starter Kit</h1>

                <p><%= t(:"solutions_page_starter_kit_description") %></p>

                <a href="#" class="btn">Bestel de Starterkit</a>
            </div>
        </div>
    </div>

    <div class="border-top">
        <div class="row">
            <div class="col">
                <h1>Samen een business case maken om te kijken hoeveel je met CAPP kunt besparen?</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt magna et molestie feugiat. Fusce ut auctor magna. Etiam posuere rhoncus mi, a egestas odio mollis in. Vivamus ut aliquet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

                <a href="#" class="btn">Ik wil een businesscase maken</a>
            </div>
            <div class="col image">
                <div>
                    <img src="images/bb.png">
                </div>
            </div>
        </div>
    </div>

    <div class="border-top">
        <div class="row">
            <div class="col image">
                <div>
                    <img src="images/screen.png" style="width: 70%;">
                </div>
            </div>
            <div class="col">
                <h1>Haal je accreditatie met het Kwaliteitspaspoort &trade;</h1>

                <p><%= t(:"solutions_content") %></p>

                <a href="#" class="btn">Ik wil aan de slag met mijn Accreditatie!</a>
            </div>
        </div>
    </div>

    <div class="border-top">
        <div class="row">
            <div class="col">
                <h1>Goeie Tagline voor 360&deg;-Feedback</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt magna et molestie feugiat. Fusce ut auctor magna. Etiam posuere rhoncus mi, a egestas odio mollis in. Vivamus ut aliquet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi adipiscing at est nec tincidunt.</p>

                <a href="#" class="btn">Ik wil een businesscase maken</a>
            </div>
            <div class="col image">
                <div>
                    <img src="images/360screen.png">
                </div>
            </div>
        </div>
    </div>

</div>
