<div id="highlights">

    <div class="border-top">
        <div class="row">
            <div class="col image">
                <div>
                    <img src="images/boek.png">
                </div>
            </div>
            <div class="col">
                <h1>Maak nu je eigen e-learning materiaal met de E-Learning Starter Kit</h1>

                <p><%= t(:"solutions_page_starter_kit_description") %></p>

                <a href="#" class="btn">Bestel de Starterkit</a>
            </div>
        </div>
    </div>

    <div class="border-top">
        <div class="row">
            <div class="col">
                <h1>Samen een business case maken over hoeveel je kunt besparen met CAPP?</h1>

                <p>Elke organisatie is anders. Wil je concreet voor je zien wat de CAPP jóuw organisatie oplevert? Onze consultants komen graag langs om samen een duidelijk beeld te schetsen van hoe de toekomst er voor jouw organisatie uit zou zien met CAPP.</p>

                <a href="#" class="btn">Ik wil een businesscase maken</a>
            </div>
            <div class="col image">
                <div>
                    <img src="images/bb.png">
                </div>
            </div>
        </div>
    </div>

    <div class="border-top">
        <div class="row">
            <div class="col image">
                <div>
                    <img src="images/screen.png" style="width: 70%;">
                </div>
            </div>
            <div class="col">
                <h1>Haal je accreditatie met het Kwaliteitspaspoort&trade;</h1>

                <p><%= t(:"solutions_content") %></p>

                <a href="#" class="btn">Ik wil aan de slag met mijn Accreditatie!</a>
            </div>
        </div>
    </div>

    <div class="border-top">
        <div class="row">
            <div class="col">
                <h1>Kijk in de spiegel met 360&deg;-Feedback</h1>

                <p>Maak een efficiëntieslag in je HRD. 360° Feedback maakt het voor medewerkers doodeenvoudig hun zelfkennis te vergroten en ontwikkeldoelen op te stellen.</p>

               <p><a href="#" class="btn">360&deg;-Feedback gratis proberen</a> of <a href="360.html">meer weten?</a></p>
            </div>
            <div class="col image">
                <div>
                    <img src="images/360screen.png">
                </div>
            </div>
        </div>
    </div>

</div>
