<div id="map">
    <div id="map-canvas"></div>
    <div class="contact-form">
        <form action="" method="">
          <script type="text/javascript" src="http://form.jotformeu.com/jsform/41622913819356"></script>
        </form>
    </div>
</div>
