
<div id="mood" data-parallax="background" data-parallax-speed="2" data-parallax-offset="-30">
    <div class="center">
        <h1>
        	<span>Developing people</span>
        	<span class="since">Since 1987</span>
        </h1>
        <h2><%= t(:tagline) %></h2>
        <a class="btn btn-lg" href="#map-canvas"><%= t(:header_call_to_action) %></a>
    </div>
</div>