<div class="popup" id="popup-ebook">
  <a href="#" class="close">
    <%= image_tag "close.svg" %>
  </a>

  <div class="popup-header">
    <label for="ebook-email">
      <h2 class="popup-title">Download gratis ons <span class="pre">E-Learning</span> Handboek</h2>
      <%= image_tag "boek.png", alt: "E-Learning Handboek Leren & Laten Leren" %>
    </label>
  </div>

  <div class="popup-bottom">
    <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="ebook download">
      <input type="email" name="email" id="ebook-email" placeholder="E-mailadres" required>
      <button type="submit">Download</button>
    </form>
  </div>
</div>
