<section class="product-highlights">

    <div class="col col-capp">
      <div class="inner">
        <div class="headline">
          <h2>CAPP</h2>
          <p class="sub-headline">
            <a href="#">CAPP</a> helpt uw medewerkers of klanten op optimale wijze op te leiden en hun vakmanschap te bevorderen.
          </p>
        </div>
        <%= link_to "Lees verder", "capp.html", class: "button-white outline" %>
        <%= link_to "Demo", "capp.html", class: "button-white outline" %>
        <%= link_to "Productsheets", "capp.html", class: "button-white outline" %>
      </div>
    </div>

    <div class="col col-ls">
      <div class="inner">
        <div class="headline">
          <%= image_tag 'logos/learningspaces-white.png', :title => 'LearningSpaces' %>
          <p class="sub-headline">
            <a href="#">LearningSpaces</a> is een laagdrempelig social-learning platform dat leren en kennisdeling stimuleert.
          </p>
        </div>
        <a href="http://www.learningspaces.io" target="_blank" class="button-white outline">Bezoek de website</a>
      </div>
    </div>

</section>
