<div class="between-block">
    <div id="references">
        <div class="reference">
            <h2>Wat anderen zeggen</h2>
            <p>
                <img src="images/quote-icon.png" alt="" title="">Pellentesque sem nisi, aliquam ut varius nec, rutrum non mauris. Morbi et vestibulum odio. Donec sodales aliquam posuere. Suspendisse potenti. Fusce quam ante, imperdiet eget volutpat eget, imperdiet non turpis. Sed ullamcorper nec velit sit amet adipiscing.
                <br>
                <br>
                <span>- Herman Hofs, Achmea</span>
            </p>
        </div>
    </div>

    <div id="cases">
        <div class="case">
            <h2>Case: Gemeente Den Haag</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum auctor nulla, vel adipiscing lacus tincidunt non. Phasellus sed urna diam. In ultrices, metus sit amet dapibus varius, sapien urna sollicitudin urna, ut tristique ligula neque sit amet dui. Nam mattis vulputate ornare. Nunc ultricies varius eros, quis mattis nunc fermentum eget.</p>
            <a href="#leesmeer" class="btn secondary purple">Lees verder</a>
        </div>
    </div>
</div>
