<section id="solutions">
  <div class="row">
    <div class="headline">
      <h2>Access a wealth of knowledge</h2>
      <p class="sub-headline">We've created an extensive set of applications and solutions to develop people.</p>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <a href="#">
        <img src="http://zurb.com/university/assets/university/paper-circle-42a23fe06df3e496a6c24b6eef248247.png">
      </a>
      <h3>
        <a href="#">Leren</a>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis condimentum turpis. Aenean imperdiet diam massa.
      </p>
      <ul>
        <li>
          <a href="#">ELO</a>
        </li>
        <li>
          <a href="#">Opleidingsadministratie</a>
        </li>
        <li>
          <a href="#">Leermanagament</a>
        </li>
        <li>
          <a href="#">E-Learning</a>
        </li>
      </ul>
      <!-- <a href="#">Lees verder...</a> -->
    </div>

    <div class="col">
      <a href="#">
        <img src="http://zurb.com/university/assets/university/book-circle-9ae60e1e378a948add2d0b34605406cb.png">
      </a>
      <h3>
        <a href="#">Ontwikkelen</a>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis condimentum turpis. Aenean imperdiet diam massa.
      </p>
      <a href="#">Lees verder...</a>
    </div>

    <div class="col">
      <a href="#">
        <img src="http://zurb.com/university/assets/university/feedback-circle-bc0423df1208b27ad2b7a76e0fe67ac3.png">
      </a>
      <h3>
        <a href="#">Borgen</a>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis condimentum turpis. Aenean imperdiet diam massa.
      </p>
      <a href="#">Lees verder...</a>
    </div>

  </div>
</section>
