<section id="solutions">
  <div class="row">
    <div class="headline">
      <h2>Access a wealth of knowledge</h2>
      <p class="sub-headline">We've created an extensive set of applications and solutions to develop people.</p>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <a href="#">
        <%= image_tag 'icons/leren-blue.png' %>
      </a>
      <h3>
        <a href="#">Leren</a>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis condimentum turpis. Aenean imperdiet diam massa.
      </p>
      <ul>
        <li><a href="#">Opleidingsadministratie</a></li>
        <li><a href="#">Leermanagament</a></li>
        <li><a href="#">E-Learning / ELO</a></li>
        <li><a href="#">Certifcering</a></li>
      </ul>
      <!-- <a href="#">Lees verder...</a> -->
    </div>

    <div class="col">
      <a href="#">
        <%= image_tag 'icons/ontwikkelen-blue.png' %>
      </a>
      <h3>
        <a href="#">Ontwikkelen</a>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis condimentum turpis. Aenean imperdiet diam massa.
      </p>
      <ul>
        <li><a href="#">360 feedback</a></li>
        <li><a href="#">Compententies</a></li>
        <li><a href="#">Jaargesprekken</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>

    <div class="col">
      <a href="#">
        <%= image_tag 'icons/borging-blue.png' %>
      </a>
      <h3>
        <a href="#">Kwaliteitsborging</a>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis condimentum turpis. Aenean imperdiet diam massa.
      </p>
      <ul>
        <li><a href="#">Kwaliteitspaspoort</a></li>
        <li><a href="#">Functie- en vereistenprofielen</a></li>
        <li><a href="#">Meetbare resultaten</a></li>
      </ul>
    </div>

    <div class="col">
      <a href="#">
        <%= image_tag 'icons/informeel-green.png' %>
      </a>
      <h3>
        <a href="#">Informeel Leren</a>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis condimentum turpis. Aenean imperdiet diam massa.
      </p>
      <ul>
        <li><a href="#">Sociaal leren</a></li>
        <li><a href="#">Kennisnetwerken</a></li>
        <li><a href="#">Kennis maken en delen</a></li>
      </ul>
    </div>

  </div>
</section>
