
    <div id="solutions">
        <div class="">

            <div class="slide" >
                <h2><%= t(:solutions_title) %></h2>
                <img src="images/screen.png" alt="" title="">
                <div class="slide-text right-box">
                    <p><%= t(:solutions_content) %></p>
                    <a href="#leesmeer" class="btn secondary"><%= t(:solutions_call_to_action) %></a>
                </div>
            </div>
            <div id="cycle-custom-pager">
                <a href="#" class="">E-Learning Starter kit</a>
                <a href="#" class="">CAPP Kwaliteitspaspoort&trade;</a>
                <a href="#" class="">360&deg;feedback</a>
            </div>
        </div>
        </div>

    </div>
