<div id="branches">
    <div class="branches-info">
        <p>
            <%= t(:team_intro) %>
        </p>
    </div>
    <div class="team-block">
        <div class="green">
            <h2><%= t(:team_title) %></h2>
        </div>
    </div>
</div>
