<section id="testimonials">

  <div class="headline">
    <h2>Wat anderen zeggen</h2>
    <!-- <p class="sub-headline">
      <a href="">Meer testimonials</a>
    </p> -->
  </div>

  <div class="row">
    <ul class="testimonial-list">

      <li>
        <div class="quote">
          <p>
            Met CAPP LMS plannen en organiseren wij al meer dan tien jaar ons hele cursusaanbod. Defacto is een ideale partner, of het nou om support of maatwerkrapportes gaat.
          </p>
        </div>
        <div class="author">
          <%= image_tag 'http://dev.defacto.nl/defacto-website/images/team/jurre.jpg', :class => 'avatar', alt: 'Henk Belsebos' %>
          <div class="name">Henk Belsebos</div>
          <a class="company" href="#">CEO bij Phoenix</a>
        </div>
      </li>

      <li>
        <div class="quote">
          <p>
            Wij werken al vanaf begin dit millenium samen met Defacto. In CAPP hebben we gezamenlijk een aantal ontwikkeltrajecten gedaan. De samenwerking is altijd prettig, we hebben vorig jaar zelfs een medewerker van Defacto ingelijfd.
          </p>
        </div>
        <div class="author">
          <%= image_tag 'http://dev.defacto.nl/defacto-website/images/team/patrik.jpg', :class => 'avatar', alt: 'Trudie de Vrij' %>
          <div class="name">Trudie de Vrij</div>
          <a class="company" href="#">LUMC</a>
        </div>
      </li>

    </ul>
  </div>
</section>
