<section id="testimonials">

  <div class="headline">
    <h2>Wat anderen zeggen</h2>
    <!-- <p class="sub-headline">
      <a href="">Meer testimonials</a>
    </p> -->
  </div>

  <div class="row">
    <ul class="testimonial-list">

      <li>
        <div class="quote">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus justo, condimentum ac iaculis ut, dignissim non arcu. Aenean aliquam felis vel felis varius tristique. Pellentesque ante ligula, feugiat in arcu dapibus, molestie vestibulum ligula.
          </p>
        </div>
        <div class="author">
          <%= image_tag 'team/jurre.jpg', :class => 'avatar' %>
          <div class="name">Henk Belsebos</div>
          <a class="company" href="#">CEO at Epic</a>
        </div>
      </li>

      <li>
        <div class="quote">
          <p>
            In aliquam a turpis a molestie. Donec pharetra pharetra turpis, non lacinia odio feugiat sit amet. In pellentesque augue efficitur, euismod ante sit amet, lacinia ligula. Duis commodo ultrices molestie. Suspendisse vehicula euismod ligula eu tristique. Duis ac nibh arcu.
          </p>
        </div>
        <div class="author">
          <%= image_tag 'team/patrik.jpg', :class => 'avatar' %>
          <div class="name">Johan Greuber</div>
          <a class="company" href="#">Glebber Enterprises</a>
        </div>
      </li>

    </ul>
  </div>
</section>
