---
title: Bedrijfsleven
---

<section class="gray">
  <div class="row">
    <h2>Zakelijk: Samen innoveren, automatiseren en besparen!</h2>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "branches/sidebar" %>

    <div class="content">
      <h2>Kwaliteit & Compliance</h2>

      <p>Creëer inzicht in de ontwikkeling van je medewerkers en teams. Zet de koers en geef richting aan de toekomst van de Human Capital van jouw organisatie. Met Defacto kan je direct aan de slag met de ontwikkeling en certificering van jouw organisatie. Bespaar op verletkosten en dure trainingen door slimme inzet van E-Learning. Voorzie medewerkers met eenvoudige apps om eigen kennis te delen en ondersteun zo het informele leren van je organisatie!</p>

      <h2>Uw Businesscase</h2>

      <p>Partner worden van Defacto loont. Altijd. Maak samen met ons een businesscase en zie direct wat je kunt besparen op:</p>

      <ul class="checklist">
        <li>
          <strong>Administratie</strong><br>
          Bespaar tot ruim 1fte op cursusadministratie en registratie!
        </li>
        <li>
          <strong>Trainingkosten</strong><br>
          De inzet van E-Learning kan tot 80% van de kosten van een training afhalen.
        </li>
        <li>
          <strong>Onboarding</strong><br>
          Defacto maakt intuitieve, moderne software zodat er bijna geen handleiding nodig is.
        </li>
        <li>
          <strong>Inzicht</strong><br>
          Medewerkers, managers en bestuur krijgen inzicht dat ze nodig hebben om verder te ontwikkelen.
        </li>
        <li>
          <strong>Primaire taken eerst</strong><br>
          Focus op taken die er toe doen. Rondom ontwikkeling en zorgen voor de rest.
        </li>
      </ul>

      <p><a href="#">Ja, ik wil een business case maken</a></p>

      <h2>Kwaliteitspaspoort</h2>

      <p>Leg de verantwoordelijkheid bij de juiste persoon. Dat is wat het Kwaliteitspaspoort voor je doet. Het Kwaliteitspaspoort maakt het voor medewerker en manager in een oogopslag zichtbaar waar ze staan. Individueel en in teamverband. Rol een persoonlijke ontwikkelingsagenda uit die aantoonbare meerwaarde creëert voor je organisatie en het team.</p>

      <p>Het Kwaliteitspaspoort is de kers op de taart als het gaat om compliance, mobiliteit en stuurinformatie.</p>
    </div>

  </div>
</section>
