---
title: Bedrijfsleven
---

<section class="gray">
  <div class="row">
    <h2>Samen innoveren, automatiseren en besparen!</h2>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "branches/sidebar" %>

    <article class="sidebar-content">
      <h2>Wat kan CAPP voor uw Academie betekenen? </h2>

      <p>Onder het motto 'Developing People' helpt Defacto organisaties, in het bijzonder bedrijfsacademies of opleidingsafdelingen, bij het opleiden en ontwikkelen van hun medewerkers. De dynamiek in uw sector vraagt waarschijnlijk bijna automatisch een continue investering in de kennisontwikkeling en opleiding van uw werknemers. Defacto is een innovatieve en creatieve partner die samen met vele academies een dergelijke opdracht zo effectief en efficiënt probeert in te vullen. Dit doen wij door op het snijvlak van leren & opleiden en een duurzaam HRD-beleid resultaatgerichte digitale leeroplossingen te leveren. </p>

      <h2>Uw Businesscase</h2>

      <p>Partner worden van Defacto loont. Altijd. Maak samen met ons een business case en zie direct wat je kunt besparen op:</p>

      <ul class="checklist">
        <li>
          <strong>Administratie</strong><br>
          Bespaar tot ruim 1fte op cursusadministratie en registratie!
        </li>
        <li>
          <strong>Trainingkosten</strong><br>
          De inzet van E-Learning kan tot 80% van de kosten van een training afhalen.
        </li>
        <li>
          <strong>Onboarding</strong><br>
          Defacto maakt intuitieve, moderne software zodat er bijna geen handleiding nodig is.
        </li>
        <li>
          <strong>Inzicht</strong><br>
          Medewerkers, managers en bestuur krijgen inzicht dat ze nodig hebben om verder te ontwikkelen.
        </li>
        <li>
          <strong>Primaire taken eerst</strong><br>
          Focus op taken die er toe doen. Rondom ontwikkeling en zorgen voor de rest.
        </li>
      </ul>

      <section class="gray">
        <div class="row">
         <h2>Samen een business case maken over hoeveel je kunt besparen met CAPP Leren?</h2>
          <div class="modal">
            <label for="business-case">
              <span class="button orange">Ja, ik wil een business case maken</span>
            </label>
            <input class="modal-state" id="business-case" type="checkbox">
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="business-case"></label>
                <h3>Maak een business case</h3>
                <form accept-charset="UTF-8" action="https://formkeep.com/f/5e43c8b3f2c8" method="POST">
                  <input type="hidden" name="utf8" value="✓">
                  <input type="text" name="name" placeholder="Naam">
                  <input type="text" name="company" placeholder="Bedrijf of organisatie">
                  <input type="tel" name="phone" placeholder="Telefoon">
                  <input type="email" name="email" placeholder="E-mail">
                  <button type="submit" class="btn">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <h2>Kwaliteitspaspoort</h2>

      <p>Vanuit de gedachte van permanente educatie, compliance en integriteit kunt u eenvoudig leerplannen en deskundigheidsprofielen (CAPP Kwaliteitspaspoort™) koppelen aan uw medewerker. Zo ontstaat een integrale kwaliteitsmonitor die een aanjager zal blijken voor de eigen verantwoordelijkheid van uw medewerker en een effectief stuurmiddel voor compliance van vakmanschap.</p>

      <p>Het Kwaliteitspaspoort is de kers op de taart als het gaat om compliance, mobiliteit en stuurinformatie.</p>
    </article>

  </div>
</section>
