---
title: CAPP
---

<div id="solutions">
    <div class="">
        <div class="slide" >
            <h2><%= t(:"capp_title") %></h2>
            <div class="slide-text right-box">
                <p><%= t(:"capp_description") %></p>
            </div>
        </div>
    </div>
</div>

