---
title: Contact
---

<section class="gray">
  <div class="row">
    <h1>Aangenaam</h1>
    <h3>We maken graag kennis, bij jullie, of bij ons in Groningen.</h3>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "over-ons/sidebar" %>

    <article class="sidebar-content">
      <p>Kom gerust een keertje met ons kennismaken of gewoon bijkletsen, de deur staat altijd open. Lunch met ons mee in het souterain met afsluitend een potje tafelvoetbal, of kom vrijdags gezellig mee borrelen onder het genot van een biertje of een wijntje?</p>
      <p>Ons mooie pand is 2 minuten lopen vanaf het Centraal station in Groningen en we hebben genoeg parkeerplekken als je met de auto komt. </p>
      <h2>Contactgegevens</h2>
      <p>
        Defacto <br>
        Zuiderpark 3 <br>
        9724 AD Groningen <br>
      </p>
      <p>
        T +31 (0)50 3144832 <br>
        F +31 (0)50 3186332 <br>
        info@defacto.nl
      </p>
    </article>

  </div>
</section>

<%= partial "contact-info" %>
<%= partial "map" %>
