---
title: Contact
---

<section class="gray">
  <div class="row">
    <h2>Aangenaam</h2>
    <h3>We maken graag kennis, bij jullie, of bij ons in Groningen.</h3>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "over-ons/sidebar" %>

    <div class="content">
      <p>...</p>
      <p>Kom gerust een keertje met ons kennismaken. Bijvoorbeeld op ons kantoor tijdens de brown-bag-lunch of onze vrijdag-middag-borrel onder het genot van een drankje.</p>
    </div>

  </div>
</section>

<%= partial "contact-info" %>
<%= partial "map" %>
