---
title: E-Learning
---

<section class="gray">
  <div class="row">
    <h1>Met Defacto als ervaren en technisch onderlegde partner, wordt de toepassing van E-Learning in jouw organisatie onherroepelijk een succes.</h1>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "diensten/sidebar" %>

    <div class="content">
      <p>
        Defacto is een ervaren E-Learning partner. Van de allereerste webinars nog in de jaren ‘90 tot aan de veelvoudige mogelijkheden van vandaag. Dat betekent voor jouw organisatie dat we naadloos kunnen aansluiten bij de vraag en de behoefte. Of het nou gaat om een eenvoudige module of een <a href="http://vimeo.com/86035039" target="_blank">hoogwaardige mediaproductie</a>. Met Defacto als zowel onderwijskundig en technisch onderlegde partner, wordt de toepassing van E-Learning in jouw organisatie onherroepelijk een succes.
      </p>
      <p>
      <div class="video">
        <div class="video-wrapper">
          <iframe src="//player.vimeo.com/video/86035039" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div class="video-wrapper">
        <br>
          <a href="http://vimeo.com/86035039" target="_blank">High Risk Medication Awareness</a>, gemaakt in samenwerking met het <a href="http://mcl.nl" target="_blank">MCL</a>.
      </div>
      </p>
      <h3>Cocreatie</h3>
      <p>
        Co-creatie is onze favoriete vorm van samenwerking. Bij Defacto geloven wij in de kracht van jouw organisatie. Door gezamenlijk met jou E-Learning scholing te ontwikkelen bundelen we de krachten: Inhoud en kennis van jullie, technische en onderwijskundige degelijkheid van Defacto. Zo maken we modules waar je blij van wordt.
      </p>


      <h3>Ontwikkelen van modules</h3>
      <p>
        Natuurlijk kunnen wij het ontwikkelen van E-Learning ook op ons nemen. Onze onderwijskundigen gaan dan aan de slag met de technische mensen en in een mum van tijd kunnen wij de gevraagde module leveren. Snel en adequaat, zo staan we bij onze klanten bekend.
      </p>

      <blockquote>
        <h3>
          E-Learningcontent van Defacto is SCORM-compliant en dus vrij te gebruiken in bijna alle leeromgevingen.
        </h3>
      </blockquote>

      <h3>E-Learning Starterkit</h3>
        <p>
          Met de E-learning Starterkit ontwikkel je betaalbaar, snel en eenvoudig E-learning modules. Maak E-Learning gericht op specifieke vakkennis, gedragscodes of zelfs digitale toetsen. De Starterkit bestaat uit een totaalpakket van hardware, software en consultancy.

        </p>
          De voordelen van de Starterkit op een rij.
          <p>
            <ul>
              <li>Eenmalige investering</li>
              <li>Geen verborgen kosten</li>
              <li>Volledige controle over het lesmateriaal</li>
              <li>Korte doorlooptijd</li>
              <li>Direct en laagdrempelig aan de slag</li>
            </ul>
          </p>
        <p class="conversion">
          <div class="modal">
            <label for="nu-beginnen">
              <div class="button">Begin nu met het zelf maken van E-Learning</div>
            </label>
            <input class="modal-state" id="nu-beginnen" type="checkbox">
            <div class="modal-window">
              <div class="modal-inner">
                <h3>Ik wil zelf E-learning maken</h3>
                <form accept-charset="UTF-8" action="https://formkeep.com/f/eb01a315df5e" method="POST">
                  <input type="hidden" name="utf8" value="✓">
                  <input type="text" name="name" placeholder="Naam">
                  <input type="text" name="company" placeholder="Bedrijf of organisatie">
                  <input type="tel" name="phone" placeholder="Telefoon">
                  <input type="email" name="email" placeholder="E-mail">
                  <button type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </p>

      <h3>Onafhankelijk advies</h3>
      <p>
        Of wij nou samenwerken, ontwikkelen of ondersteunen. Defacto streeft ernaar het beste voor jouw organisatie neer te zetten. Wij vinden niet graag het wiel opnieuw uit, omdat wij ons graag richten op nieuwe dingen. Als er E-Learning bestaat dat geschikt is voor jouw organisatie, gaan wij graag om tafel om samen met jou de voordelen en nadelen tegen elkaar af te wegen. Er is immers een groot en goed aanbod al in de wereld!
      </p>
    </div>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h3>Weten wat E-Learning voor jouw organisatie kan betekenen?</h2>
    <div class="modal">
      <label for="meer-weten">
        <div class="button">Meer weten</div>
      </label>
      <input class="modal-state" id="meer-weten" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <h3>Ik wil meer weten over E-Learning</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/184ba320d4bc" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="text" name="name" placeholder="Naam">
            <input type="text" name="company" placeholder="Bedrijf of organisatie">
            <input type="tel" name="phone" placeholder="Telefoon">
            <input type="email" name="email" placeholder="E-mail">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>

<%#= partial "markets" %>
<%#= partial "contact-info" %>

<%= partial "testimonials" %>
<%= partial "clients" %>
