---
title: E-Learning starterkit
---
<div class="hero">
  <div class="hero-inner">

    <div class="hero-copy">
      <h1>E-Learning Starterkit</h1>
      <p>Op eenvoudige en betaalbare wijze zelf uw lesmateriaal ontwikkelen</p>
    </div>

    <div class="modal">
      <label for="afspraak-maken">
        <span class="button white outline">Meer weten</span>
      </label>
      <input class="modal-state" id="afspraak-maken" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="afspraak-maken"></label>
          <h3>Maak een afspraak</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="form" value="starter-kit">
            <input type="email" name="email" placeholder="E-mail" required>
            <button type="submit">Vertel me meer</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<section>
  <div class="row">

    <article>
      <div class="">
        <h2>Meer gedaan krijgen met minder</h2>
        <p>
          Door de overstap te maken van traditioneel leren naar E-learning en het lesmateriaal zelf (in-house) te ontwikkelen, realiseert u op eenvoudige wijze een forse kostenbesparing.
          Geld dat u gráág ergens anders aan besteedt.
        </p>
      </div>

      <div class="">
        <h2>Hoe werkt het?</h2>
        <p>
          Met de E-learning Starterkit ontwikkelt u betaalbaar, snel en eenvoudig uw eigen E-learning modules, gericht op specifieke vakkennis, gedragscodes of zelfs digitale toetsen. De Starterkit bestaat uit een totaalpakket van hardware, software en consultancy.
        </p>
        <p>
          Defacto neemt u alle zorg uit handen en regelt de aanschaf van hardware en software, installatie en licenties voor u.
          Indien gewenst is aanvullende ondersteuning, zoals het ontwikkelen van complexere modules, het definiëren van uw E-learning beleid of ondersteuning bij capaciteitsgebrek altijd mogelijk.
        </p>
      </div>

      <div class="">
        <h2>Wat krijgt u?</h2>
        <ul>
          <li>Een laptop, met daarop:</li>
          <li>Zeer gebruiksvriendelijke Authoring software</li>
          <li>Voorbeeld-modules ter inspiratie</li>
          <li>Het boek: ‘Leren en Laten Leren’</li>
          <li>High Definition camera</li>
          <li>Microfoon</li>
          <li>Twee dagen training on the job</li>
          <li>Eén jaar helpdesk-support</li>
        </ul>
      </div>

      <div class="">
        <h2>Meteen inzetbaar</h2>
        <p>
          Aan het eind van de tweede trainingsdag bent u volledig opgeleid en in staat om zelfstandig lesmateriaal te ontwikkelen en zijn de eerste lesmodules en afrondende toetsen vaak al opgeleverd.
        </p>
        <p>
          Haal op eenvoudige en betaalbare wijze een enorme hoeveelheid kennis en expertise op het gebied van E-learning in huis.
        </p>
      </div>

      <div class="">
        <blockquote>
          De tijd van het afhankelijk zijn van dure leveranciers voor al je E-Learning materiaal is echt voorbij.
          Je kunt tegenwoordig zo gemakkelijk zelf, organisatie-eigen E-Learning maken.
        </blockquote>
        <span>- Hans Veeger,</span> <span>Directeur Defacto</span>
      </div>
    </article>

  </div>
</section>

<section class="gray" id="ebook-download">
  <div class="row">
    <h3>Download gratis ons E-Learning Handboek</h3>
    <%= image_tag 'boek.png', alt: 'E-Learning Handboek Leren & Laten Leren' %>
    <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="ebook download">
      <input type="email" name="email" placeholder="E-mail" required>
      <button type="submit" class="rounded">Download</button>
    </form>
  </div>
</section>
