---
title: E-Learning
---

<section class="gray">
  <div class="row">
    <h1><%= t("elearning.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "elearning/elearning" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h3>Weten wat E-Learning voor jouw organisatie kan betekenen?</h3>
    <div class="modal">
      <label for="meer-weten">
        <span class="button">Meer weten</span>
      </label>
      <input class="modal-state" id="meer-weten" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="meer-weten"></label>
          <h3>Ik wil meer weten over E-Learning</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="form" value="e-learning">
            <input type="email" name="email" placeholder="E-mail">
            <button type="submit">Vertel me meer</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>

<%#= partial "markets" %>
<%#= partial "contact-info" %>

<%#= partial "testimonials" %>
<%= partial "clients" %>
