---
title: E-Learning starterkit
---

<div class="hero">
  <div class="hero-inner">

    <div class="hero-copy">
      <h1>E-Learning Starterkit</h1>
      <p>Op eenvoudige en betaalbare wijze zelf uw lesmateriaal ontwikkelen</p>
    </div>

    <div class="modal">
      <label for="afspraak-maken">
        <span class="button white outline">Meer weten</span>
      </label>
      <input class="modal-state" id="afspraak-maken" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="afspraak-maken"></label>
          <h3>Maak een afspraak</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="form" value="starter-kit">
            <input type="email" name="email" placeholder="E-mail" required>
            <button type="submit">Vertel me meer</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<section>
  <div class="row">
    <article>
      <%= partial "elearning/elearning-starterkit" %>
    </article>
  </div>
</section>

<section class="gray" id="ebook-download">
  <div class="row">
    <h3>Download gratis ons E-Learning Handboek</h3>
    <%= image_tag 'boek.png', alt: 'E-Learning Handboek Leren & Laten Leren' %>
    <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="form" value="ebook download">
      <input type="email" name="email" placeholder="E-mail" required>
      <button type="submit" class="rounded">Download</button>
    </form>
  </div>
</section>
