---
directory_index: false
---

<section class="gray">
  <div class="row">
    <%= image_tag "error.gif", class: "error-image", alt: "Pagina niet gevonden" %>
    <h1>Sorry, deze pagina bestaat niet.</h1>

    <p>Dit betekend niet dat je iets verkeerd hebt gedaan, het kan zijn dat we de pagina hernoemd of verplaatst hebben.</p>
  </div>
</section>
