---
title: Zorg
---

<!-- mood zorg -->
<div id="mood" data-parallax="background" data-parallax-speed="4" data-parallax-offset="-120">
    <div class="center">
        <h1>
          <span>Topzorg leveren</span><br>
        </h1>
        <h2>Met Defacto bouwen aan kwaliteit in de zorg</h2>
    </div>
</div>

<!-- drie belangrijjkste healthcare producten -->
<div id="healthcare-solutions">
    <div class="section-header">
        <p class="center">
          Een greep uit onze oplossingen
        </p>
    </div>
    <div class="row border">
        <div class="col">
            <h2>CAPP Kwaliteitspaspoort</h2>
            <p>
               Kwaliteitsborging is van essentieel belang in alle lagen van de zorg. Ziekenhuizen en andere zorgverleners willen weten wie welke handelingen mag uitvoeren, inspecteurs en accrediterende organisaties willen aangetoond zien dat medewerkers de dingen mogen doen die ze doen, en medewerkers willen kunnen bijhouden wat ze moeten doen om meer bevoegdheden te behalen. Het CAPP Kwaliteitspaspoort voorziet in al deze behoeften door de bevoegdheden en bekwaamheden van een medewerker te bundelen in een helder en altijd up-to-date overzicht.
                <a href="CAPP.html">Meer weten?</a>
            </p>
        </div>
        <div class="col">
            <h2>E-Learning Starterkit</h2>
            <p>
                E-learning wordt in de zorg in toenemende mate gebruikt om bevoegdheden te ontwikkelen en vakkennis op peil te houden. Defacto biedt e-learningoplossingen voor zowel beginners als ervaren e-learninggebruikers. Voor organisaties in de oriënterende fase zitten bieden wij kosteloos het handboek ‘Leren en Laten Leren’ aan. Als je de productie van e-learningcontent in eigen hand wil nemen kunnen wij je in twee dagen volledig op weg helpen met de E-learning Starterkit: een doeltreffend pakket aan software, hardware en training waarmee de drempel om zelf e-learning te maken wordt weggenomen. Verder bieden wij een krachtig LMS, waarmee onder andere het inschrijven en certificeren rondom e-learning (en andere vormen van leren) volkomen moeiteloos wordt.
                <a href="elearning-starter-kit.html">Lees verder...</a>
            </p>
        </div>
        <div class="col">
            <h2>360&deg; Feedback</h2>
            <p>
                Voor elke organisatie is het een uitdaging maximaal gebruik te maken van de talenten van haar medewerkers. Defacto helpt je deze talenten in kaart te brengen, zowel voor leidinggevenden als voor medewerkers zelf. Op deze manier is de ontwikkeling van medewerkers transparant en duidelijk en werken leidinggevenden en medewerkers prettiger samen aan het bewerkstelligen van deze ontwikkeling.
                <a href="360.html">Meer...</a>
            </p>
        </div>
    </div>
</div>

<!-- visie & quote -->
<div id="vision">
    <div class="center">
        <h2>2020</h2>
        <div class="row">
            <p class="col">
                De meeste organisaties zoeken naar continuïteit, kwaliteit en duurzaamheid; een noodzaak in een steeds competitiever speelveld. De weg naar het jaar 2020 zou u kunnen plaveien met de unieke oplossing die Defacto u kan bieden. Met onze propositie, CAPP Leren, CAPP Ontwikkelen en CAPP Kwaliteitspaspoort investeert u in een duurzame modernisering.
            </p>
            <p class="col">
                Een investering waarmee uw organisatie competitief blijft en een investering waarmee u uw patiënten van betere zorg zult voorzien, uw medewerkers beter gecertificeerd en gemotiveerd houdt, de verzekeraars kunt duidelijk maken dat u kwalitatief goede zorg levert en de accrediterende organisaties als NIAZ / HKZ / V&VN meer dan tevreden houdt en waarin uw strategische personeelsplanning inzichtelijk wordt.
            </p>
        </div>
        <a href="#leesmeer" class="btn"><%= t(:case_call_to_action) %></a>
    </div>
</div>

<!--  -->
<div>
    <div class="center row border">
        <div class="col">
            <h2>Ik ontvang graag meer informatie</h2>
            <h3>Maak uw keuze ...</h3>
            <br>

            <form>
                <p>
                    <input type="checkbox" id="input1" name="options[]">
                    <label for="input1">CAPP Kwaliteitspaspoort</label>
                </p>
                <p>
                    <input type="checkbox" id="input2" name="options[]">
                    <label for="input2">E-Learning Starterkit</label>
                </p>
                <p>
                    <input type="checkbox" id="input3" name="options[]">
                    <label for="input3">360&deg; Feedback</label>
                </p>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<!-- referenties zorg -->
<!-- <div id="clients" class="border-top">
    <div class="logos">
        <img src="images/logos/lumc.png" alt="LUMC logo" title="LUMC">
        <img src="images/logos/mmc.png" alt="MMC logo" title="MMC">
        <img src="images/logos/gelre.png" alt="Gelre Ziekenhuizen logo" title="Gelre">
        <img src="images/logos/zinn.jpg" alt="ZINN logo" title="ZINN">
    </div>
</div> -->

