---
title:
  nl: Hosting en Security
  de: Hosting und Sicherheid
  en: Hosting and Security
---

<section class="gray">
  <div class="row">
    <h1><%= t("hosting.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "hosting/hosting" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients" %>
