---
title:
  nl: Hosting en Security
  de: Hosting und Sicherheid
  en: Hosting and Security
description:
  nl: Defacto biedt de mogelijkheid om CAPP LMS veilig en met betrouwbare security te hosten. Updates worden door Defacto geïnstalleerd en bijgewerkt.
  de: Defacto bietet die Möglichkeit, CAPP LMS mit zuverlässiger Sicherheit zu hosten. Updates werden von Defacto installiert und aktualisiert.
unique_for_locale: true
---

<section class="gray">
  <div class="row">
    <h1><%= t("hosting.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "hosting/hosting" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients/clients" %>
