---
title:
  nl: Implementaties
  de: Implementierungen
description:
  nl: Defacto heeft eigen implementatiemethodieken ontwikkeld waarin wij samen met onze klanten strategie en uitvoering waarborgen,
  de: Defacto hat eine eigene Implementierungsmethodik entwickelt wobei wir gemeinsam mit Ihrem Management Team die Strategie und Ausführung gewährleisten.
---

<section class="gray">
  <div class="row">
    <h1><%= t("implementaties.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "implementaties/implementaties" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients" %>
