---
title: Implementaties
---

<section class="gray">
  <div class="row">
    <h1><%= t("implementaties.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "implementaties/implementaties" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h2>Samen een business case maken over hoeveel je kunt besparen met CAPP Leren?</h2>
    <div class="modal">
      <label for="business-case">
        <span class="button">Maak een afspraak</span>
      </label>
      <input class="modal-state" id="business-case" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="business-case"></label>
          <h3>Maak een afspraak</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
          <input type="hidden" name="utf8" value="✓">
          <input type="hidden" name="form" value="business-case">
          <input type="email" name="email" placeholder="E-mail" required>
          <button type="submit" class="btn">Afspraak maken</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%#= partial "markets" %>
<%#= partial "testimonials" %>
<%#= partial "contact-info" %>
<%= partial "clients" %>
