---
title:
  nl: Implementaties
  de: Implementierungen
---

<section class="gray">
  <div class="row">
    <h1><%= t("implementaties.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "implementaties/implementaties" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients" %>
