---
title: Implementaties
---

<section class="gray">
  <div class="row">
    <h1>Implementaties hoeven niet ingewikkeld te zijn.</h1>
  </div>
</section>


<section>
  <div class="row">

    <article class="sidebar-content">
      <p>De ervaring heeft ons geleerd dat één van de belangrijkste aspecten van een succesvolle digitale leerstrategie direct gekoppeld is aan het implementatietraject. Daarom heeft Defacto een eigen implementatiemethodiek ontwikkeld waarin onze projectleider en consultants samen met uw management team de strategie en uitvoering waarborgen.Een gedegen implementatieproject is een bepalende voorwaarde voor het succesvol lanceren / in gebruik nemen van onze software. Niet dat het allemaal zo ingewikkeld is, maar als je gaat verhuizen moet je ook je woning inrichten. In ons geval moeten we samen met u de software inrichten. Niet ingewikkeld en wij leiden u soepel door dit proces heen.
      </p>
      <ul>
        <li>De afstemming met uw ICT-afdeling nemen wij voor onze rekening.</li>
        <li>We zorgen – indien gewenst - voor de koppeling met uw HR-systeem zodat u altijd over de meest recente gegevens beschikt </li>
        <li>We maken samen met u een digitale opleidingscatalogus </li>
        <li>We leiden de gebruikers op </li>
        <li>Ook helpen wij u bij de inrichting van jaargesprekken, kwaliteitspaspoort en wat dies meer zij. </li>
        <li>Desgewenst helpen wij u bij de introductie van het systeem in uw organisatie </li>
      </ul>
      <p>Bij grotere organisaties adviseren wij de oprichting van een Stuurgroep waarin uw en ons management vertegenwoordigd is, voor het creëren van voldoende draagvlak.</p>

      <p>Het uitvoerende werk vindt uiteraard plaats in de projectgroep, waarin uw en onze projectleider aan de hand van een duidelijk projectplan zorgen voor een feilloze implementatie.</p>
      <h3>Onafhankelijk advies</h3>
      <p>
        Of wij nou samenwerken, ontwikkelen of ondersteunen. Defacto streeft ernaar het beste voor jouw organisatie neer te zetten. Wij vinden niet graag het wiel opnieuw uit, omdat wij ons graag richten op nieuwe dingen. Als er E-Learning bestaat dat geschikt is voor jouw organisatie, gaan wij graag om tafel om samen met jou de voordelen en nadelen tegen elkaar af te wegen. Er is immers een groot en goed aanbod al in de wereld!
      </p>
    </article>

    <%= partial "diensten/sidebar" %>

  </div>
</section>

<section class="gray">
  <div class="row">
    <h2>Samen een business case maken over hoeveel je kunt besparen met CAPP Leren?</h2>
    <div class="modal">
      <label for="business-case">
        <span class="button">Maak een afspraak</span>
      </label>
      <input class="modal-state" id="business-case" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="business-case"></label>
          <h3>Maak een afspraak</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
          <input type="hidden" name="utf8" value="✓">
          <input type="hidden" name="form" value="business-case">
          <input type="email" name="email" placeholder="E-mail">
          <button type="submit" class="btn">Afspraak maken</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%#= partial "markets" %>
<%#= partial "contact-info" %>

<%#= partial "testimonials" %>
<%= partial "clients" %>
