---
title:
  nl: In de pers
  de: Presse
---

<section class="gray">
  <div class="row">
    <h1><%= t("press.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "in-de-media/in-de-media" %>
    </article>
    <%= partial "over-ons/sidebar" %>
  </div>
</section>
