---
title:
  nl: Koppelingen met HR Systemen
  de: Schnittstellen mit Quellsystemen
  en: Integrations
description:
  nl: Beaufort, People Soft, SAP en vele andere HR systemen integreren met CAPP door de HR Importer van Defacto.
  de: Durch unsere HR Importer erhält CAPP Daten aus Quellsystemen wie Beaufort, People Soft, SAP und vielen anderen Personalsystemen.
---

<section class="gray">
  <div class="row">
    <h1><%= t("koppelingen.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "koppelingen/koppelingen" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients" %>
