---
title: Hosting & Security
---

<section class="gray">
  <div class="row">
    <h1>Gecertificeerde koppelingen</h1>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "diensten/sidebar" %>

    <div class="content">
      <p>Defacto maakt gebruik van een standaard HR Importer. Via deze HR Importer wordt CAPP gevoed vanuit bronsystemen als Beaufort, People Soft, SAP en vele andere HR systemen. Defacto onderhoudt haar HR Importer als een product waardoor u standaard altijd de juiste versie bij uw CAPP versie zult gebruiken.</p>

      <p>Daarnaast heeft Defacto integratie gerealiseerd met meerdere systemen.</p>

      <h3>Verpleegkundigen &amp; Verzorgend Nederland (V&amp;VN)</h3>

      <p>Met V&amp;VN wordt de geaccrediteerde E-learning die uw medewerkers binnen CAPP volgen automatisch vastgelegd binnen PE Online. Hiermee hoeft u of uw medewerkers geen dubbele registratie te voeren.</p>

      <h3>Leerstation Zorg</h3>

      <p>Via onze koppeling met Leerstation Zorg is het mogelijk uw medewerkers na het volgen van E-learning binnen CAPP vervolgens direct getoetst kunnen worden binnen Leerstation Zorg. Natuurlijk worden de resultaten van de toetsing automatisch binnen CAPP vastgelegd. Ook hiermee vermijdt u weer dubbele registratie.</p>

      <h3>Learning Tools Interoperability (LTI)</h3>

      <p>Alle E-learning content die een LTI-koppeling ondersteunt, en die ergens anders gehost wordt, kan nu in CAPP getoond worden. Hierdoor bent u niet meer gebonden aan één leverancier en beslist u zelf waar u de E-learning content vandaan haalt. Zo kan op deze manier bijvoorbeeld de content van Profportaal Zorg naadloos worden afgespeeld in CAPP en worden de gegenereerde resultaten in de CAPP-omgeving getoond.</p>

      <h3>Medisch Onderwijs (MO)</h3>

      <p>Medisch Onderwijs.nl is bedoeld voor de distributie van ‘medical computer based training’. In Medisch Onderwijs werkt een groot aantal universiteiten en hoge scholen samen. Vanuit CAPP kunnen ook modules die in Medisch Onderwijs zijn vastgelegd, direct worden opgestart. Natuurlijk worden de resultaten teruggekoppeld.</p>

    </div>

  </div>
</section>
