---
title: Koppelingen
---

<section class="gray">
  <div class="row">
    <h1><%= t("koppelingen.heading") %></h1>
  </div>
</section>

<section>
  <div class="row">
    <article class="sidebar-content">
      <%= partial "koppelingen/koppelingen" %>
    </article>
    <%= partial "diensten/sidebar" %>
  </div>
</section>

<%= partial "clients" %>
