---
title: Kwaliteitspaspoort
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Kwaliteitspaspoort</h1>
      <p>Volledige compliance met CAPP Kwaliteitspaspoort</p>
    </div>
    <%#= link_to "Demo", "capp.html", class: "button white outline" %>
    <%#= link_to "Productsheets", "capp.html", class: "button white outline" %>
    <div class="modal">
      <label for="afspraak-maken">
        <span class="button">Meer weten</span>
      </label>
      <input class="modal-state" id="afspraak-maken" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <h3>Ik wil meer weten over het kwaliteitspaspoort</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="form" value="kwaliteitspaspoort">
            <input type="email" name="email" placeholder="E-mail">
            <button type="submit">Vertel me meer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="row">
    <div class="content">
      <h2>Het Kwaliteitspaspoort in het kort</h2>
      <ul>
        <li>Uw organisatie stelt profielen vast met daarin functie- en organisatie-eisen of de beroepsprofielen in uw sector.</li>
        <li>Deze vormen de basis van het Kwaliteitspaspoort van de medewerker, met alle interne en externe vereisten waaraan voldaan moet worden.</li>
        <li>Het individuele paspoort is een monitor voor de medewerker en helpt de medewerker zijn of haar bevoegd- en bekwaamheden op peil te houden.</li>
        <li>Een leidinggevende kan op individueel èn op teamniveau tijdig problemen signaleren en vertalen naar individuele of teamontwikkelplannen.</li>
        <li>HR beschikt over actuele en accurate stuurinformatie met betrekking tot aanwezige bevoegd- en bekwaamheden op elk organisatieniveau.</li>
        <li>De Raad van Bestuur kan hun bestuurlijke verantwoordelijkheid aantonen richting toezichthouders en accrediterende instanties.</li>
        <li>Het Kwaliteitspaspoort geeft ook de autorisaties af voor het gebruik van specialistische apparatuur, de toegangsniveaus binnen uw IT-systemen of voor een koppeling met externe kwaliteitsregisters</li>
      </ul>
      <h3>Eigen verantwoordelijkheid</h3>
      <p>Met CAPP kunnen medewerkers ook zelf leer- interventies, opleidingen en bijscholing opzoeken, zichzelf inplannen èn direct volgen via bijvoorbeeld het digitale E-Learning systeem binnen CAPP. Hierdoor komt een stuk verantwoordelijkheid bij de medewerker zelf te liggen en biedt het een uniek instrument om de bevoegd- en bekwaamheden tijdens het jaargesprek van een medewerker te bespreken.</p>
    </div>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h2>Nu beginnen met het behalen van je accreditaties met het Kwaliteitspaspoort?</h2>
    <div class="modal">
      <label for="afspraak-maken">
        <span class="button">Vertel me meer</span>
      </label>
      <input class="modal-state" id="vertel-me-meer" type="checkbox">
    </div>
  </div>
</section>

<%#= partial "testimonials" %>
<%= partial "clients" %>
