---
title: Kwaliteitspaspoort
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= t("kwaliteitspaspoort.hero.title") %></h1>
      <%= markitdown t("kwaliteitspaspoort.hero.text_md") %>
    </div>

    <div class="modal">
      <label for="afspraak-maken">
        <span class="button">Meer weten</span>
      </label>
      <input class="modal-state" id="afspraak-maken" type="checkbox">
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="afspraak-maken"></label>
          <h3>Ik wil meer weten over het kwaliteitspaspoort</h3>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/aff54030c202" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="form" value="kwaliteitspaspoort">
            <input type="email" name="email" placeholder="E-mail" required>
            <button type="submit">Vertel me meer</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<section>
  <div class="row">
    <article>
      <%= partial "kwaliteitspaspoort/kwaliteitspaspoort" %>
    </article>
  </div>
</section>

<section class="gray">
  <div class="row">
    <h2>Nu beginnen met het behalen van je accreditaties met het Kwaliteitspaspoort?</h2>
    <div class="modal">
      <label for="afspraak-maken">
        <span class="button">Vertel me meer</span>
      </label>
    </div>
  </div>
</section>

<%#= partial "testimonials" %>
<%= partial "clients" %>
