---
title: Kwaliteitspaspoort
---

<div class="row border border-bottom">
    <div class="col">
      <h2><%= t(:"kpp_title") %></h2>
      <br>
      <p><%= t(:"kpp_description") %></p>
    </div>
    <div class="col">
      <img src="../images/kpp.png">
    </div>

</div>

<div id="capp-steps">

    <div class="row border">
        <div class="col">
            <h2>Kennis</h2>
            <p>
               Geef kennis de ruimte in je organisatie. CAPP Leren is een krachtige en flexibele combinatie van LMS, ELO en cursusadminitratie. Medewerkers kunnen zich via de gebruiksvriendelijke interface van het CAPP LMS inschrijven op cursussen. Leidinggevenden krijgen gemakkelijk inzicht in het leertraject van medewerkers. Verder voorziet CAPP Leren in alle gemakken van koppeling met HR-systemen tot financiële administratie tot cursusevaluatie.
            </p>
        </div>
        <div class="col">
            <h2>Ontplooing</h2>
            <p>
                Motiveer je werknemers door ze beter te maken in hun werk. Een win-win situatie. CAPP biedt de voedingsbodem voor het ontwikkelen van talent en kwaliteit. Met CAPP Ontwikkelen houdt je moeiteloos het overzicht op alle competenties en kennis die medewerkers bezitten. Deze informatie kun je dan weer inzetten - ook via CAPP - om effectievere jaargesprekken te voeren en een ontwikkelplan uit te stippelen voor je medewerkers.
            </p>
        </div>
        <div class="col">
            <h2>Kwaliteit</h2>
            <p>
                CAPP maakt de kwaliteit in je organisatie herkenbaar en aantoonbaar. Met het CAPP Kwaliteitspaspoort krijgen zowel medewerkers als HR-professionals en leidinggevenden inzicht in de bekwaamheden en bevoegdheden van medewerkers. Of het nou is om verantwoording af te leggen aan accrediterende organisaties, effectief gebruik te maken van je medewerkers, of een persoonlijk ontwikkelplan uit te stippelen, CAPP maakt kwaliteit inzichtelijk waar en wanneer je het nodig hebt.
            </p>
        </div>
    </div>
</div>
<div class="section-header">
    <p class="center">
      Samen een business case maken over hoeveel je kunt besparen met CAPP Leren?
    </p>
    <p>
      <a class="btn btn-lg" href="#">Vertel me meer!</a>
    </p>
</div>

