---
title: Over ons
---

<section class="gray">
  <div class="row">
    <h2>Wij zijn Defacto</h2>
    <h3>Leren en ontwikkelen sinds 1987</h3>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "over-ons/sidebar" %>

    <div class="content">
      <p>Defacto is een bedrijf dat alle stormen in de ICT-wereld de afgelopen 30-jaar met gemak heeft doorstaan. Sterker, Defacto heeft zich als visionaire organisatie altijd onderscheiden van de mainstream. Eigenzinnigheid, autonomie, innovatie, kwaliteit, meerwaarde leveren voor de opdrachtgevers zijn kwalificaties die juist op Defacto van toepassing zijn. Kwaliteit verkiezen boven winstmaximalisatie, interessant werk verkiezen boven het monotone, in de mensen investeren ze, ze contiuniteit en groei waarborgen. </p>

      <p>Defacto is een softwarebedrijf pur sang. Technische uitdagingen is was boeit en bezighoudt, de opdrachtgever goed oplossingen bieden en voor problemen behoeden is onze missie.</p>

      <p>Integriteit naar de eigen organisatie, maar vooral ook integriteit naar de opdrachtgevers. Doen wat je zegt, zeggen wat je doet is ons devies/credo.</p>

      <p>Defacto kent een zeer platte organisatie en hoge mate van transparantie. De verantwoordelijkheid ligt op de werkvloer en niet bij het management dat wel kan managen maar onvoldoende detailkennis heeft.</p>

      <p>Defacto probeert een aantal beginselen van Ricardo Semler, beschreven in het bekende boek Semco Stijl, als leidraad te hanteren. Het is geen exacte kopie, maar een poging het naar de morgelijkheden die er zijn toe te passen..</p>

      <p>Defacto bestaat uit een aantal, frequent wisselende teams van developers, (technisch) consultants, commercie en staf.</p>

      <p>En Defacto bestaat 30 jaar, maar de gemiddelde leeftijd is 31 jaar. De jeugd heeft de toekomst, zeker in de ICT en de jeugd houdt ook de ouderen scherp.</p>

      <p>In de zeer open en vrije bedrijfscultuur kunnen mensen snel veel verantwoordelijkheid krijgen en nemen. Er zijn richtlijnen voor aanwezigheid. Op aanwezigheid beoordelen we niemand, maar we beoordelen elkaar wel op onze output en de kwaliteit daarvan. Vrije dagen: zelf weten. Vroeg naar huis: zelf weten. Laat beginnen: zelf weten. Bij Defacto houden de mensen elkaar scherp.</p>

      <p>Op vrijdag is er tijd om iets voor jezelf te doen. Nieuwe technieken te onderzoeken, een opleiding volgen, een seminar of workshop bezoeken, het kan allemaal.</p>
    </div>

  </div>
</section>

<section>
  <div class="headline">
    <h2>Defacto sinds 1987</h2>
    <p class="sub-headline">
      <!-- <em>visuele timeline met highlights?</em> -->
    </p>
  </div>
  <div class="row"></div>
</section>

<%= partial "over-ons/team" %>
<%#= partial "markets" %>
<%#= partial "contact-info" %>


