---
title: Overheid
---

<section class="gray" style="background: url(../images/mood-government.jpg); background-size: 100%;">
  <div class="row">
    <h2>Samen bouwen aan Functiegebouw Rijk</h2>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "branches/sidebar" %>

    <div class="content">
      <h2>Op naar 2020 en verder</h2>

      <p>De overheid is volop in ontwikkeling. Er is sprake van Functiegebouw Rijk, Ambtenaar 2.0 etc. Sinds begin jaren is Defacto ’90 betrokken geweest bij grote en kleine onderdelen van de overheid. Door in gesprek te gaan met overheidsklanten hebben wij samen met ministeries en gemeenten software ontwikkeld die naadloos aansluit bij de vraag van de overheid.</p>

      <h2>Ontwikkelportaal</h2>

      <p>Samen met Gemeente Den Haag ontwikkelde Defacto een portaal om eenvoudig door relevante opleidingen te bladeren, competenties bij te houden en ontwikkeling vorm te geven. <a href="#">Lees hier hoe we met de gemeente Den Haag een portaal voor opleiden en ontwikkelen uitrolden.</a></p>

      <h2>Jaargesprekken</h2>

      <p>Jaargesprekken, M&M gesprekken, ontwikkelgesprekken. Hoe je ze ook noemt, ze zijn er en ze zijn cyclisch. Defacto ontwikkelde een eenvoudige, op alle devices te gebruiken app om veilig jaargesprekken bij te houden.</p>

      <h2>Kwaliteitspaspoort</h2>

      <p>Waar sta je, en waar ga je heen? Als ambtenaar sta je nooit stil. Je verwerft competenties en zit vergaderingen voor. Wat je ook doet: Met het Kwaliteitspaspoort geef je je ontwikkeling richting, en maak je voor iedereen inzichtelijk waar je in je ontwikkeling staat!</p>
      <p><%= link_to "Begin nu met het behalen van je accreditaties", "Kwaliteitspaspoort.html", class: 'button orange' %></p>
    </div>

  </div>
</section>
