---
title: Over ons
---

<section class="gray">
  <div class="row">
    <h1>Wij zijn Defacto</h1>
    <h3>Leren en ontwikkelen sinds 1987</h3>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "over-ons/sidebar" %>

    <article>
    <p>Defacto is ouder dan de meeste van onze medewerkers. We zijn gevestigd in het centrum van Groningen, nabij het centraal station.</p>

    <p>Defacto kent een platte organisatie en hoge mate van transparantie. De verantwoordelijkheid ligt op de werkvloer bij de mensen zelf en wordt door de mensen zelf ook bewaakt.</p>

    <p>We geloven dat het belangrijk is om in een leuke omgeving te kunnen werken. Onze werktijden zijn flexibel, het gaat uiteindelijk om de kwaliteit die je aflevert. En elke vrijdagmiddag verdiepen we ons in nieuwe technieken, producten, etc.</p>

    <p>Ben jij iemand met een persoonlijkheid en steek je je mening niet onder stoelen en banken? Bij Defacto zijn we altijd <%= link_to "op zoek naar mensen", "http://jobs.defacto.nl" %> die ons inspireren.</p>

    </article>

  </div>
</section>

<%= partial "over-ons/team" %>
<%#= partial "markets" %>
<%#= partial "contact-info" %>


