---
title:
  nl: Producten
  de: Produkte
  en: Products
description:
  nl: Opleiden, leren en ontwikkelen met CAPP LMS, Kwaliteitspaspoort, LearningSpaces, E-Learning Starterkit en 360° Feedback.
  de: Ausbildung, Lernen und Entwicklung mit CAPP LMS, CAPP Qualitätspass, LearningSpaces, E-Learning Starterkit und 360° Feedback.
---

<section class="gray">
  <div class="row">
    <h1><%= t("products.title") %></h1>
    <br>
    <%= partial "producten/producten" %>
  </div>
</section>
