---
title:
  nl: Referenties
  de: Referenzen
  en: References
description:
  nl: Enkele van onze referenties zijn KPN, TUI, LUMC, MUMC+, MMC, Gelre, Spaarne, Kennemer, Sint Franciscus, Vlietland, Sogeti en Schiphol Group
  de: Einige Referenzen sind Evangelisches Krankenhaus Oldenburg, Friedrich Ebert Krankenhaus, Berendsohn, Maastricht UMC, TUI und Schiphol Group
---

<section class="gray">
  <div class="row">
    <h1><%= t("references.title") %></h1>
    <br>

    <%= partial "referenties/referenties" %>

  </div>
</section>
