---
title: Techniek & Security
---

<section class="gray">
  <div class="row">
    <h2>Techniek & Security</h2>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "diensten/sidebar" %>

    <div class="content">
      <ul>
        <li>Onze software is volledig web based en is altijd en overal bereikbaar.</li>
        <li>CAPP kan als SAAS-service en lokaal gehost afgenomen worden.</li>
        <li>CAPP biedt Standaard Signle Sign On (SSO integratie)</li>
        <li>Als old-school softwarebedrijf kennen wij alle ins en outs van de techniek en zijn wij een volwaardige partner voor uw ICT-organisatie. ICT gerelateerde problemen zult u met ons en onze software niet hebben.</li>
        <li>CAPP voldoet aan de ICT-Beveiligingsrichtlijnen voor web applicaties - Deel 1, Nationaal Cyber Security Centrum, Ministerie van Veiligheid en Justitie.</li>
        <li>CAPP kent een standaard HR-Importer die koppelingen met alle bekende nationale en internationale HR-systemen eenvoudig kan realiseren. </li>
        <li>CAPP kent talloze koppelingen met (kwaliteit)registers, toetsingssystemen, e-learning leveranciers.</li>

        <li>CAPP is een open systeem waarin u e-learning materiaal van alle bekende e-learning leveranciers kunt afspelen.</li>

        <li>CAPP is in zowel Nederlands, Engels als Duits te verkrijgen.</li>


      <hr>



      <h2>Hosting</h2>

      <p>Defacto biedt u de mogelijkheid om CAPP gehost aan te bieden. Op deze manier belast u uw systeembeheer amper, worden updates door Defacto voor u geïnstalleerd en bijgewerkt. Ook indien CAPP gehost wordt aangeboden, is het voor uw medewerkers vanuit uw website zonder apart in te loggen, rechtstreeks in CAPP terecht kunnen.</p>

      <p>De gegevens van uw medewerkers vanuit uw HR systeem worden – indien gewenst - elke nacht in CAPP ingelezen. Daarbij maakt Defacto gebruik van SSH File Transfer Protocol (sFTP). Tijdens de verzending van de data wordt deze (in tegenstelling tot FTP) geëncrypteerd en is daarmee zeer veilig.</p>

      <hr>

      <h2>Gecertificeerde koppelingen</h2>

      <p>Defacto maakt gebruik van een standaard HR Importer. Via deze HR Importer wordt CAPP gevoed vanuit bronsystemen als Beaufort, People Soft, SAP en vele andere HR systemen. Defacto onderhoudt haar HR Importer als een product waardoor u standaard altijd de juiste versie bij uw CAPP versie zult gebruiken.</p>

      <p>Daarnaast heeft Defacto integratie gerealiseerd met meerdere systemen.</p>

      <h3>Verpleegkundigen & Verzorgend Nederland (V&VN)</h3>

      <p>Met V&VN wordt de geaccrediteerde E-learning die uw medewerkers binnen CAPP volgen automatisch vastgelegd binnen PE Online. Hiermee hoeft u of uw medewerkers geen dubbele registratie te voeren.</p>

      <h3>Leerstation Zorg</h3>

      <p>Via onze koppeling met Leerstation Zorg is het mogelijk uw medewerkers na het volgen van E-learning binnen CAPP vervolgens direct getoetst kunnen worden binnen Leerstation Zorg. Natuurlijk worden de resultaten van de toetsing automatisch binnen CAPP vastgelegd. Ook hiermee vermijdt u weer dubbele registratie.</p>

      <h3>Learning Tools Interoperability (LTI)</h3>

      <p>Alle E-learning content die een LTI-koppeling ondersteunt, en die ergens anders gehost wordt, kan nu in CAPP getoond worden. Hierdoor bent u niet meer gebonden aan één leverancier en beslist u zelf waar u de E-learning content vandaan haalt. Zo kan op deze manier bijvoorbeeld de content van Profportaal Zorg naadloos worden afgespeeld in CAPP en worden de gegenereerde resultaten in de CAPP-omgeving getoond.</p>

      <h3>Medisch Onderwijs (MO)</h3>

      <p>Medisch Onderwijs.nl is bedoeld voor de distributie van ‘medical computer based training’. In Medisch Onderwijs werkt een groot aantal universiteiten en hoge scholen samen. Vanuit CAPP kunnen ook modules die in Medisch Onderwijs zijn vastgelegd, direct worden opgestart. Natuurlijk worden de resultaten teruggekoppeld.</p>

      <hr>
    </div>

  </div>
</section>
