---
title: Techniek & Security
---

<section class="gray">
  <div class="row">
    <h2>Techniek & Security</h2>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "over-ons/sidebar" %>

    <div class="content">

      <p>CAPP is een volledig web based applicatie: altijd en overal bereikbaar.<br>
      CAPP is gecertificeerd voor Windows 2008 R2 64bit.<br>
      CAPP is gecertificeerd voor SQL Server 2008 R2.<br>
      CAPP kan overweg met bestanden uit Microsoft Office 2003 en hoger.<br>
      Verschillende klanten draaien CAPP 11 succesvol op virtuele servers middels VMWare ESX.<br>
      Hardware: Minimaal Intel Xeon 2,5 GHz of vergelijkbare processor, minimaal 4 GB intern geheugen.<br>
      Van alle reguliere browsers worden twee laatste versies ondersteund.<br>
      Standaard Signle Sign On (SSO integratie)</p>

      <hr>

      <h2>SSO integratie door middel van OAUTH</h2>

      <p>Realisatie van SSO support in CAPP. Een SSO 'satelliet'-applicatie bevindt zich in het domein. De vertrouwensband tussen de SSO- en de CAPP webserver wordt gecreëerd door een gedeelde OAuth sleutel

      <h3>SSO door middel van ADFS</h3>

      <p>Realisatie van SSO support in CAPP. Een AD FS server is Identity Provider waarmee wordt ingelogd in het netwerk. Vervolgens wordt er via SAML2.0 een token aangevraagd aan de CAPP Server Provider. De vertrouwensband tussen de Identity Provider en CAPP webserver wordt gecreëerd door het installeren van het certificaat van CAPP.</p>

      <hr>

      <h2>Security</h2>

      <p>Door 25 jaar ervaring met ICT-implementaties bij grote (overheids) instanties weet Defacto bij uitstek dat een gedegen informatiebeveiliging van essentieel belang is. Defacto hanteert op dit gebied een systeem van kwaliteitsborging dat is gebaseerd op interne audits en directe verantwoordelijkheid, waarbij de nadruk ligt op het voorkomen van problemen – en niet op het documenteren en afhandelen daarvan. Defacto onderscheidt drie deelgebieden:</p>

      <h3>Intern beveiligingsbeleid</h3>

      <p>Onder het interne beveiligingsbeleid verstaat Defacto de security rondom het bedrijfsnetwerk. In een strak protocol is vastgelegd hoe er met wachtwoorden, databases, besturings-systemen, (applicatie) beheer, externe datadragers, bedreigingen van buitenaf en onge-wenste en/of schadelijke e-mail wordt omgegaan.</p>

      <h3>Beveiligingstandaard eigen producten</h3>

      <p>Binnen dit aspect van ons beveiligingsbeleid wordt vastgelegd en bewaakt dat de door Defacto ontwikkelde software voldoet aan internationaal geaccepteerde technische standaarden met betrekking tot de beveiliging van webapplicaties. Defacto geeft een hoge prioriteit aan het bijhouden van de laatste ontwikkelingen op het gebied van beveiligingsstandaarden en houdt daarnaast het framework van de ontwikkelomgeving up-to-date. Hierdoor beschikt Defacto over een rijke kennis om zaken te voorkomen als SQL– en JavaScript injectie, het afschermen van pagina’s die als deeplink worden aangeboden en het versleutelen van de persoonlijke informatie in de cookies zodat deze niet door derden uitgelezen kan worden.</p>

      <p>Aanvullend biedt Defacto ook de mogelijkheid tot het opleggen van restricties aan de vorm en omvang van wachtwoorden die toegang geven tot de applicatie. Daarnaast slaan onze producten nooit wachtwoorden onversleuteld op, maar verifiëren de toegang op basis van hashing in combinatie van een salt-waarde. Op moment van schrijven wordt hiervoor het welbekende SHA-256 hashing algoritme gebruikt.</p>

      <h3>Beveiliging van data</h3>

      <p>Er heerst bij Defacto een sterk bewustzijn van de gevaren die verbonden zijn aan het opslaan en benaderen van in potentie gevoelige data. Defacto tracht deze risico’s tot een minimum te beperken en versleutelt waar nodig deze data. Het datacentrum van Defacto is daarnaast ook nooit direct gekoppeld aan het Internet, maar slechts via een beveiligde verbinding benaderbaar. Hierbij kan gebruik gemaakt worden van een VPN verbinding al of niet in combinatie met LDAPS. Voor klantservice doeleinden gebruikt Defacto opgeslagen data indien nodig gescrambled, waardoor persoonlijke gegevens onleesbaar en onbruikbaar zijn geworden.</p>

      <h3>Technische Samenvatting</h3>

      <p>Applicatie beveiliging volgens OWASP richtlijnen.</p>
      <p>HTTPS verbinding tussen server en clients wordt gewaarborgd conform NEN 7510.</p>
      <p>CAPP11 voldoet aan de OWASP richtlijnen en de richtlijnen van het Nationaal Cyber Security Centrum van de Rijksoverheid.</p>
      <p>CAPP11 wordt minimaal eens per jaar extern geaudit door onder andere Le Reseau.</p>

      <hr>

      <h2>Hosting</h2>

      <p>Defacto biedt u de mogelijkheid om CAPP gehost aan te bieden. Op deze manier belast u uw systeembeheer amper, worden updates door Defacto voor u geïnstalleerd en bijgewerkt. Ook indien CAPP gehost wordt aangeboden, is het voor uw medewerkers vanuit uw website zonder apart in te loggen, rechtstreeks in CAPP terecht kunnen.</p>

      <p>De gegevens van uw medewerkers vanuit uw HR systeem worden – indien gewenst - elke nacht in CAPP ingelezen. Daarbij maakt Defacto gebruik van SSH File Transfer Protocol (sFTP). Tijdens de verzending van de data wordt deze (in tegenstelling tot FTP) geëncrypteerd en is daarmee zeer veilig.</p>

      <hr>

      <h2>Gecertificeerde koppelingen</h2>

      <p>Defacto maakt gebruik van een standaard HR Importer. Via deze HR Importer wordt CAPP gevoed vanuit bronsystemen als Beaufort, People Soft, SAP en vele andere HR systemen. Defacto onderhoudt haar HR Importer als een product waardoor u standaard altijd de juiste versie bij uw CAPP versie zult gebruiken.</p>

      <p>Daarnaast heeft Defacto integratie gerealiseerd met meerdere systemen.</p>

      <h3>Verpleegkundigen & Verzorgend Nederland (V&VN)</h3>

      <p>Met V&VN wordt de geaccrediteerde E-learning die uw medewerkers binnen CAPP volgen automatisch vastgelegd binnen PE Online. Hiermee hoeft u of uw medewerkers geen dubbele registratie te voeren.</p>

      <h3>Leerstation Zorg</h3>

      <p>Via onze koppeling met Leerstation Zorg is het mogelijk uw medewerkers na het volgen van E-learning binnen CAPP vervolgens direct getoetst kunnen worden binnen Leerstation Zorg. Natuurlijk worden de resultaten van de toetsing automatisch binnen CAPP vastgelegd. Ook hiermee vermijdt u weer dubbele registratie.</p>

      <h3>Learning Tools Interoperability (LTI)</h3>

      <p>Alle E-learning content die een LTI-koppeling ondersteunt, en die ergens anders gehost wordt, kan nu in CAPP getoond worden. Hierdoor bent u niet meer gebonden aan één leverancier en beslist u zelf waar u de E-learning content vandaan haalt. Zo kan op deze manier bijvoorbeeld de content van Profportaal Zorg naadloos worden afgespeeld in CAPP en worden de gegenereerde resultaten in de CAPP-omgeving getoond.</p>

      <h3>Medisch Onderwijs (MO)</h3>

      <p>Medisch Onderwijs.nl is bedoeld voor de distributie van ‘medical computer based training’. In Medisch Onderwijs werkt een groot aantal universiteiten en hoge scholen samen. Vanuit CAPP kunnen ook modules die in Medisch Onderwijs zijn vastgelegd, direct worden opgestart. Natuurlijk worden de resultaten teruggekoppeld.</p>

      <hr>

      <h2>Projectaanpak</h2>

      <p>De ervaring heeft ons geleerd dat één van de belangrijkste aspecten van een succesvolle digitale leerstrategie direct gekoppeld is aan het implementatietraject. Daarom heeft Defacto een eigen implementatiemethodiek ontwikkeld waarin onze projectleider en consultants samen met uw management team de strategie en uitvoering waarborgen.</p>

      <p>Deze methodiek is losjes gebaseerd op Prince2 principes waarbij met name wordt ingezet op samenwerking, kwaliteit en haalbaarheid van de planning en de doelstellingen.</p>
    </div>

  </div>
</section>
