---
title:
  nl: Testimonials
  de: Kundenreferenzen
  en: Testimonials
---

<section class="testimonials">
  <div class="headline">
    <h1><%= t("testimonials.title") %></h1>
  </div>
  <div class="row">
    <%= partial "testimonials" %>
  </div>
</section>
