---
title:
  nl: Testimonials
  de: Kundenreferenzen
  en: Testimonials
description:
  nl: Wat onze klanten zeggen over Defacto
  de: Was unsere Kunden sagen über Defacto
---

<section class="testimonials">
  <div class="headline">
    <h1><%= t("testimonials.title") %></h1>
  </div>
  <div class="row">
    <%= partial "testimonials" %>
  </div>
</section>
