---
title: Zorg
---

<section class="gray" style="background: url(../images/mood-healthcare.jpg) 0 -200px; background-size: 100%;">
  <div class="row">
    <h2>Zorg</h2>
  </div>
</section>

<section>
  <div class="row">

    <%= partial "branches/sidebar" %>

    <div class="content">
      <h2>Op naar 2020 en verder</h2>

      <p>Defacto helpt de zorg haar accreditaties eenvoudig inzichtelijk te maken. Dit doen wij door slimme software. Dat betekent dat medewerkers daarom meer tijd hebben om kwalitatieve zorg te leveren. Ook helpen wij door innovatie meer met minder te doen. Denk bijvoorbeeld aan jaargesprekken of voorbehouden handelingen. Ga gerust aan het werk, wij houden bij wanneer deze zaken weer gedaan dienen te worden. En zelfs de registratie van je handelingen doe je tijdens je werk. Dat scheelt!</p>
      <p>Samen met onze klanten is onze R&D afdeling continu bezig met het bedenken en ontwikkelen van leerinnovaties op het gebied van informeel leren, gamification en werkplekleren. Lees hier hoe je je spelenderwijs kunt voorbereiden op een Medisch Rekenen toets.</p>
      <p>Niet alleen creëeren wij inzicht voor medewerker en manager. Wij helpen ook nog eens het inzicht simpel te verzamelen wanneer er een accrediterende instantie hierom vraagt. Onze zorgpartners krijgen herhaaldelijk een excellente beoordeling van instanties zoals het NIAZ en V&VN als het gaat om borging van de ontwikkeling van de medewerkers.</p>

      <h2>Geen focus op ICT</h2>

      <p>ICT mag geen drempel zijn bij het ontwikkelen van medewerkers. Daarom zorgen wij dat er bijna geen ICT nodig nodig is om aan de slag te gaan. En daarbij garanderen wij ook nog eens at we 99,99% van de tijd beschikbaar zijn! Om de implementatie zo soepel mogelijk te maken realiseren wij gecertificeerde koppelingen met alle HR-systemen, met het BIG-register en Leerstation Zorg. Wij spelen alle E-Learning die voor je af of helpen je de juiste content te vinden of ontwikkelen.</p>

      <h2>CAPP Leren</h2>

      <p>Als academie wil je opgeleide medewerkers. Om je zelf over de inhoud te blijven richten heb je intelligente ondersteuning op de administratieprocessen nodig. Daarom heeft Defacto speciaal voor de ondersteuning van alle processen rondom het opleiden van uw medewerkers het Learning Management Systeem(LMS) CAPP ontwikkeld. Een uniek LMS in Europa, omdat het gezamenlijk met onze klanten is ontwikkeld, naadloos aansluitend op wat een academie in de zorg nodig heeft. CAPP Leren is een intelligente automatisering van administratie, ontwikkeling en borging. Al sinds de jaren ’90 helpt Defacto grote en kleine zorgorganisaties met E-Learning en cursusadministratie. Door innovatie op een gecombineerd vlak verlichten wij werkzaamheden van medewerker, leidinggevende, manager, IT en zelfs de kopzorg over kwaliteitsborging van het bestuur.</p>

      <p>Praktijkbegeleiders behalen voordeel uit CAPP. Zij houden meer tijd over voor inhoud van-wege de inzet van E-Learning. De cursusadministratie kan zelfs geheel geautomatiseerd worden. Bespaar daarmee op verletkosten en klassikale bijeenkomsten door de inzet van eenvoudige E-Learning met de de Starter Kit. Meer weten over CAPP Leren & E-Learning</p>

      <p><%= link_to "Meer weten over CAPP Leren & E-Learning", "capp.html", class: 'button orange' %></p>

      <h2>CAPP Ontwikkelen</h2>

      <p>Als competente professional ben je trots op je ontwikkeling. CAPP Ontwikkelen helpt moeiteloos persoonlijke ontwikkeling bijhouden. Door geïntegreerde Jaargesprekken, 360 graden feedback en competentiemanagement wordt zelfontplooiing inzichtelijk. Het laat zien waar je als medewerker staat door een geïntegreerde cursusadministratie en persoonlijk Portfolio, zowel intern als extern als dat nodig is. Een adequaat competentiemanagement helpt je als medewerker sturing te geven aan je ontwikkeling en groei. Samenwerking met derden is vanzelfsprekend. Je hoeft je niet meer druk te maken over de registratie. Verschil-lende standaarden zoals PE-Punten voor BIG-register en V&VN, competenties op basis van CANMEDS, worden reeds door onze zorgpartners ingezet en geautomatiseerd. Begin nu met het behalen van je accreditaties</p>

      <h2>Kwaliteitspaspoort</h2>

      <p>Als medewerker wil geen administratieve handelingen hoeven doen. En als kennisgerichte organisatie wil je inzicht in de kennisontwikkeling van je medewerkers. Accrediterende en certificerende instanties verwachten dat inzicht ook. Het Kwaliteitspaspoort innoveert dit proces zorgeloos, het gaat verder dan organisatie en registratie. Het geeft inzicht en richting aan de ontwikkeling van de medewerker en de teams. Zie in één oogopslag waar je organisatie nu staat. Deze beeldschone en belangrijke stuurinformatie helpt jouw zorgorganisatie om vooraan te staan.</p>

      <p><%= link_to "Meer weten over het Kwaliteitspaspoort", "Kwaliteitspaspoort.html", class: 'button orange' %></p>

    </div>

  </div>
</section>
