.hero {

  background: $orange-alt no-repeat center fixed;
  background-size: cover;
  color: $white;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 7em 1em;
    text-align: center;

    input {
      border-color: transparent;
      box-shadow: none;
    }

    button,
    .button {
      display: block;
      margin: 0 0 1.5em;

      @include media($medium-up) {
        display: inline-block;
        margin: 0 0.5em 1.5em;
      }
    }
  }

  .hero-copy {
    text-align: center;
  }

  h1 {
    font-family: 'Montserrat', $base-font-family;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 1em;

    @include media($large-up) {
      font-size: 4em;
      margin-bottom: 0.6em;
    }

    img {
      max-width: 400px;
    }
  }

  p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0 auto 2em;
    max-width: 500px;

    @include media($large-up) {
      font-size: 1.6em;
      max-width: 720px;
    }
  }
}
