@include keyframes(highlight-slide-in) {
  0% {
    @include transform(translateY(30%));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(highlight-slide-out) {
  0% {
    @include transform(translateY(0));
    opacity: 1;
  }
  100% {
    @include transform(translateY(30%));
    opacity: 0;
  }
}

.highlight {
  $highlight-padding: 30px;

  @include animation(highlight-slide-in 0.9s cubic-bezier(0.77, 0, 0.175, 1));
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  box-shadow: 0px 0px 60px rgba(#000, 0.2);
  left: 0;
  max-width: 320px;
  min-height: 200px;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 999999998;

  &.closing {
    @include animation(highlight-slide-out 0.4s ease-in);
  }

  .close {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 2px 4px 0px rgba(#000, 0.34);
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    z-index: 999999999;

    img {
      @include transition(opacity 0.2s ease);
      opacity: 0.6;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  button {
    border-radius: 5px;
    padding: 0.65em 1em;
    width: 100%;
  }

  .highlight-header {
    padding: $highlight-padding;
    position: relative;

    img {
      margin: auto;
    }
  }

  .highlight-title {
    font-size: 1.6em;
    font-weight: 300;
    margin: 0;
  }

  .highlight-bottom {
    background-color: $lighter-gray;
    padding: $highlight-padding;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      top: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
      left: 50%;
      margin-left: -15px;
    }
  }

  &.right {
    left: auto;
    right: 0;

    .close {
      left: -10px;
      right: auto;
    }
  }
}
