@include keyframes(popup-show) {
  0% {
    @include transform(translateY(30%));
    opacity: 0;
  }

  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(popup-hide) {
  0% {
    @include transform(translateY(0));
    opacity: 1;
  }

  100% {
    @include transform(translateY(30%));
    opacity: 0;
  }
}

$popup-padding: 30px;
$popup-mobile-mode: max-width 400px;
$popup-hide-mode: max-height 570px;

.popup {
  background-color: $white;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  box-shadow: 0 0 60px rgba($black, 0.2);
  display: none;
  left: 0;
  max-width: 320px;
  min-height: 200px;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 9999999999;

  @include media($popup-hide-mode) {
    display: none !important;
  }

  @include media($popup-mobile-mode) {
    left: 3%;
    max-width: 94%;
  }

  &.popup-show {
    @include animation(popup-show 0.9s cubic-bezier(0.77, 0, 0.175, 1));
    display: block;
  }

  &.popup-hide {
    @include animation(popup-hide 0.4s ease-in);
  }

  input {
    padding: 0.4em 0.5em;
  }

  button {
    padding: 0.4em 0.5em;
    width: 100%;
  }

  .close {
    background-color: $white;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba($black, 0.34);
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    z-index: 999999999;

    img {
      @include transition(opacity 0.2s ease);
      opacity: 0.6;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  .popup-img {
    display: block;
    margin: auto;
    width: 80%;
  }

  .pre {
    white-space: nowrap;
  }

  .popup-header,
  .popup-bottom {
    padding: $popup-padding;
    position: relative;

    @include media($popup-mobile-mode) {
      padding: $popup-padding / 1.5;
    }
  }

  .popup-header {
    padding-bottom: $popup-padding / 2;
  }

  .popup-title {
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 0.6em;
  }

  .popup-bottom {
    background-color: $lighter-gray;

    @include media($popup-mobile-mode) {
      padding-top: $popup-padding;
    }

    &::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid $white;
      content: "";
      display: block;
      left: 50%;
      margin-left: -15px;
      position: absolute;
      top: 0;
      width: 0;
    }
  }

  &.right {
    left: auto;
    right: 0;

    .close {
      left: -10px;
      right: auto;
    }
  }
}
