.social-share {
  margin: 2em 0 1em;
  text-align: center;

  .title {
    color: #9eabb3;
    margin-bottom: 5px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    font-size: 24px;
    list-style-type: none;
    margin: 0 5px;
  }

  a {
    color: #bbc7cc !important;

    &.icon-twitter2:hover {
      color: #55acee !important;
    }

    &.icon-facebook:hover {
      color: #3b5998 !important;
    }

    &.icon-google-plus:hover {
      color: #dd4b39 !important;
    }

    &.icon-linkedin2:hover {
      color: #00a0dc !important;
    }
    &.icon-xing:hover {
      color: #026466 !important;
    }
  }

  span {
    display: none;
  }
}
