<div class="sidebar">
  <h3>Diensten</h3>
  <nav>
    <ul>
      <li><%= nav_link_to "E-Learning", "/elearning" %></li>
      <li><%= nav_link_to "Implementaties", "/implementaties" %></li>
      <li><%= nav_link_to "Hosting & Security", "/hosting" %></li>
      <li><%= nav_link_to "Koppelingen", "/koppelingen" %></li>
    </ul>
  </nav>
</div>
