<div class="sidebar">
  <h3>Diensten</h3>
  <nav>
    <ul>
      <li><%= nav_link_to "E-Learning", "/elearning.html" %></li>
      <li><%= nav_link_to "Implementaties", "/implementaties.html" %></li>
      <li><%= nav_link_to "Techniek & Security", "/technisch.html" %></li>
      <li><span>Koppelingen</span></li>
    </ul>
  </nav>
</div>
