<div class="sidebar">
  <h3>Diensten</h3>
  <nav>
    <ul>
      <li><%= nav_link_to "E-Learning", "/elearning.html" %></li>
      <li><%= nav_link_to "Implementaties", "/implementaties.html" %></li>
      <li><%= nav_link_to "Hosting & Security", "/hosting.html" %></li>
      <li><%= nav_link_to "Koppelingen", "/koppelingen.html" %></span></li>
    </ul>
  </nav>
</div>
