<section>
  <article>

    <div class="row">

      <p>Das Gesundheitswesen ist dynamisch und komplex. Die Anforderungen an die Mitarbeiter steigen kontinuierlich was dazu führt, dass die bestehenden Kompetenzen immer relevanter werden und Talentförderung ein wichtiges Thema ist, um die Qualität des Krankenhauses zu sichern. Kennen Sie jedoch die Qualifikationen und Entwicklungsstände Ihrer Mitarbeiter? Wissen Sie, welche ärztlichen Tätigkeiten an wen übertragen wurden oder wer über welchen Gerätepass verfügt?</p>

      <h2>Überblick aller Qualifikationen</h2>

      <p>Mit dem Qualitätspass erhalten Sie eine Übersicht über die Kompetenzen in Ihrem Haus und direkt Einsicht in die Qualifikationen Ihrer Mitarbeiter. Legen Sie individuelle oder organisationsweite Anforderungsprofile und Berufsprofile fest und behalten Sie den Überblick über die Qualität Ihr Personal. So können Sie rechtzeitig Probleme feststellen und individuelle Entwicklungspläne dementsprechend anpassen.</p>

      <p>Zudem können Sie die Planung Ihres Fortbildungsbudgets auf Basis des Qualitätspasses effektiv auf Ihre Ziele und Prioritäten zuschneiden. Durch übersichtliche Darstellungen gehen Sie zielgerichtet vor und gebrauchen Ihr Budget für relevante Themen.</p>

      <p>Fördern Sie lebenslanges Lernen und erhalten Sie qualifizierte Mitarbeiter die ihre Beschäftigungsfähigkeit erhalten und Kompetenzen weiterentwickeln.</p>

      <ul>
        <li>Einsicht in Qualifikationen und Entwicklungsstände</li>
        <li>Übersicht über Pflichtschulungen, Gerätepässe und ärztliche Tätigkeiten</li>
        <li>Organisation des Beauftragtenwesens</li>
      </ul>

      <p class="featured"><span class="star">*</span>Von allen Mitarbeitern wissen wer sie sind, was sie können und was sie dürfen</p>

      <h2>Entwicklungsplan für Ihre Mitarbeiter</h2>

      <p>Mit dem Qualitätspass können Ihre Mitarbeitern sehen, was sie tun müssen, um sich weiter zu entwickeln. Zeigen Sie ihren Mitarbeitern, welche Anforderungen sie für Ihre tägliche Arbeit brauchen, so wie zum Beispiel die jährliche Brandschutz-Unterweisung oder Hygieneschulung. Geben Sie Ihnen einen Überblick über die Qualifikationen, die Sie für eine bestimmte Entwicklung erfüllen müssen. Legen Sie organisationsweite Anforderungsprofile an, spitzen Sie sie auf Abteilungsniveau bzw. Stationsniveau zu oder entwickeln Sie individuelle Entwicklungspläne für Ihre Mitarbeiter. Alles ist möglich mit dem Qualitätspass!</p>

      <p>Sowohl Sie als auch Ihre Mitarbeiter behalten eine Übersicht über ihre Kompetenzen und ihre persönliche Entwicklung. Denn gemeinsame Verantwortung ist ein wichtiger Baustein für eine erfolgreiche Zusammenarbeit!</p>

      <ul>
        <li>Anforderungsprofile auf Organisations-, sowie Abteilungsniveau bzw. Stationsniveau</li>
        <li>Individueller Entwicklungsplan und lebenslanges Lernen</li>
        <li>Qualitätsmanagement durch gemeinsame Verantwortung</li>
      </ul>

      <h2>Vereinfachung des Zertifizierungsprozesses</h2>

      <p>Durch die ständig steigende Anforderungen und den rechtlichen Neuerungen im Gesundheitswesen, wird es immer wichtiger die Leistungen und Qualitäten eines Krankenhauses anzeigen zu können und das Qualitätsmanagement effizient durchzuführen. Zertifizierungen wie das KTQ und ISO 9001 sind heutzutage notwendige Instrumente im steigenden Wettbewerb.</p>

      <p>Mit dem Qualitätspass erleichtern Sie sich diese Aufgabe erheblich und sparen auch noch Zeit. Alle Kompetenzen und Qualifikationen werden strukturiert dargestellt. Zudem erhalten Sie mit dem umfassenden Berichtwesen benötigte Informationen in Sekundenschnelle. Durch die dadurch geschaffene Transparenz und Übersichtlichkeit werden Audits ein Kinderspiel.</p>

      <ul>
        <li>Effizientes Qualitätsmanagement</li>
        <li>Steigerung der Wettbewerbsfähigkeit</li>
        <li>Realistische Kalkulierung von Ziele</li>
      </ul>
    </div>

  </article>
</section>
