<section>
  <article>

    <div class="row">

      <h2>Der CAPP Qualitätspass auf einem Blick</h2>

      <ul>
      	<li>Ihre Organisation legt Profile fest mit den Funktions- und Organisationsanforderungen oder den Berufsprofilen Ihrer Branche.
				<li>Dies ist die Basis des Qualitätspass Ihres Mitarbeiters, mit allen internen und externen Anforderungen die erfüllt werden müssen.
				<li>Der individuelle Pass dient als Referenz für den Mitarbeiter um seine Qualifikationen und Kompetenzen zu bewachen.
				<li>Der Vorgesetzte kann so rechtzeitig Probleme auf individuellem und Teamniveau feststellen und Entwicklungspläne dementsprechend anpassen.
				<li>Die Personalleitung verfügt über aktuelle und genaue Steuerungsinformationen über alle Qualifikationen auf jeden Organisationslevel.
				<li>Der Vorstand kann seine Führungsverantwortlichkeiten gegenüber dem Aufsichtsrat und Akkreditierungsstellen veranschaulichen
				<li>Mit dem Qualitätspass können Genehmigungen vergeben werden zu Gerätepässen, Zugangsniveaus innerhalb Ihrer IT Systeme und Schnittstellen zu externen Qualitätsregistern
			</ul>

      <h3>Eigene Verantwortlichkeit</h3>

			<p>Mit CAPP können Mitarbeiter ihre eigenen Lernmomente bestimmen, Fort- und Weiterbildungen suchen, sich selbst einplanen und E-Learning Module direkt folgen. Mitarbeiter erhalten somit Selbstverantwortlichkeit und können Ihre eigenen Qualifikationen und Kompetenzen beibehalten.</p>

    </div>

  </article>
</section>
