### Wie funktioniert das Starterkit?

Mit dem E-Learning Starterkit entwickeln Sie schnell und einfach Ihre eigenen E-Learning Module über Themen die bei Ihnen relevant sind. Ob es sich um spezifische Fachkenntnisse, einen Verhaltenskodex oder digitale Tests handelt, bei der Erstellung ihrer eigenen Lernumgebung können sich Ihre Mitarbeiter kreativ ausleben. Das Starterkit ist ein Komplettpaket und umfasst Hardware, Software und Beratung damit Ihr Start in der E-Learning Welt ein Erfolg wird.

Defacto regelt für Sie alles was nötig ist, von der Installation bis zu den Lizenzen. Wenn Sie darüber hinaus unsere Hilfe benötigen, unterstützen wir Sie gern zusätzlich bei der Definierung Ihrer E-Learning Strategie sowie dem Erstellen von komplexen Modulen.

### Was ist in dem Paket enthalten?

- Ein Laptop mit:
   - einer nutzerfreundlichen Authoring Software
   - Beispielmodulen
- das Buch „Abenteuer E-Learning“
- eine hochauflösende Kamera
- ein professionelles USB Studiomikrofon
- zwei Tage praktisches Training
- ein Jahr Kundenservice

### Können Sie E-Learning direkt einsetzen?

Nach dem zweiten Trainingstag können Sie direkt loslegen und selbständig Lernmaterial für und mit Ihrer Organisation entwickeln. Zusammen schaffen wir also eine gute Basis für Ihre Organisation und kombinieren unsere Expertise zum Thema E-Learning mit Ihrem inhaltlichen  Wissen. Damit sind Sie gut gerüstet um danach selbst weiter zu arbeiten.

> „Die Zeit, in der man abhängig von teuren E-Learning Anbietern ist, ist vorbei. Heutzutage ist es so leicht, organisationseigene E-Learning Module zu erstellen.“
> <span>- Hans Veeger, Geschäftsführer Defacto</span>
