## Mehr erreichen mit weniger

Wechseln Sie über vom traditionellen Lernen zu E-Learning und Lerninhalte selbst (in-house) entwickeln. Einfach und kostengünstig.

## Wie funktioniert es?

Mit dem E-Learning Starterkit entwickeln Sie schnell und einfach Ihre eigenen E-Learning Module über spezifische Fachkenntnis, den Verhaltenskodex oder digitale Tests und Quizzes. Das Starterkit ist ein Komplettpaket mit Hardware, Software und Beratung.

Defacto nehmt Ihnen die Sorgen ab und regelt alles Nötige, von Installation bis Lizenzen.
Wenn gewünscht, unterstützen wir Sie zusätzlich bei der Definierung Ihrer E-Learning Strategie, dem Erstellen von komplexeren Modulen oder Personalmangel.


## Was erhalten Sie?
- Einen Laptop mit:
- Nutzerfreundliche Authoring Software
- Beispiel-Module
- Das Buch: ‘Abenteuer E-Learning’
- Hochauflösende Kamera
- Professionelles USB Studiomikrofon
- Zwei Tage praktisches Training
- Ein Jahr Kundenservice


## Direkt einsetzen

Nach dem zweiten Trainingstag sind Sie dazu im Stande selbstständig Lernmaterial zu entwickeln und oft sind die ersten Module und Tests bereits geschafft. Holen Sie sich somit das Wissen und die Expertise zum Thema E-Learning ins Haus.

> Die Zeit, in der man abhängig von teuren E-Learning Anbietern ist, ist vorbei. Heutzutage ist es so leicht organisations-eigene E-Learning Module zu erstellen.
> <span>- Hans Veeger, Geschäftsführer Defacto</span>
