## Meer gedaan krijgen met minder

Door de overstap te maken van traditioneel leren naar E-learning en het lesmateriaal zelf (in-house) te ontwikkelen, realiseert u op eenvoudige wijze een forse kostenbesparing. Geld dat u gráág ergens anders aan besteedt.

## Hoe werkt het?

Met de E-learning Starterkit ontwikkelt u betaalbaar, snel en eenvoudig uw eigen E-learning modules, gericht op specifieke vakkennis, gedragscodes of zelfs digitale toetsen. De Starterkit bestaat uit een totaalpakket van hardware, software en consultancy.

Defacto neemt u alle zorg uit handen en regelt de aanschaf van hardware en software, installatie en licenties voor u.
Indien gewenst is aanvullende ondersteuning, zoals het ontwikkelen van complexere modules, het definiëren van uw E-learning beleid of ondersteuning bij capaciteitsgebrek altijd mogelijk.

## Wat krijgt u?

- Een laptop, met daarop:
- Zeer gebruiksvriendelijke Authoring software
- Voorbeeld-modules ter inspiratie
- Het boek: ‘Leren en Laten Leren’
- High Definition camera
- Microfoon
- Twee dagen training on the job
- Eén jaar helpdesk-support

## Meteen inzetbaar

Aan het eind van de tweede trainingsdag bent u volledig opgeleid en in staat om zelfstandig lesmateriaal te ontwikkelen en zijn de eerste lesmodules en afrondende toetsen vaak al opgeleverd. Haal op eenvoudige en betaalbare wijze een enorme hoeveelheid kennis en expertise op het gebied van E-learning in huis.

> De tijd van het afhankelijk zijn van dure leveranciers voor al je E-Learning materiaal is echt voorbij. Je kunt tegenwoordig zo gemakkelijk zelf, organisatie-eigen E-Learning maken.
> <span>- Hans Veeger, Directeur Defacto</span>
