@mixin button($color) {
  background-color: $color;
  border: 2px solid $color;
  color: #fff;

  &:hover,
  &:focus {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
    color: #fff;
  }

  &.outline {
    background-color: transparent !important;
    border-color: $color;
    color: $color;

    &:hover,
    &:focus {
      border-color: darken($color, 10%);
      color: darken($color, 15%);
    }
  }
}

#{$all-button-inputs},
button,
.button {
  @include appearance(none);
  @include button($action-color);
  @include transition(all 0.15s ease-out);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size * 1.2;
  font-weight: 600;
  padding: $base-spacing / 2;
  text-decoration: none;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.big {
    font-size: 1.3em;
  }

  &.blue {
    @include button($blue);
  }

  &.green {
    @include button($green);
  }

  &.red {
    @include button($red);
  }

  &.turquoise {
    @include button($turquoise);
  }

  &.white {
    @include button(#fff);
    color: lighten($base-font-color, 15);

    &:hover,
    &:focus {
      background-color: #fff;
      color: $base-font-color;
    }

    &.outline {
      &:hover,
      &:focus {
        border-color: #fff;
        color: #fff;
      }
    }
  }

  &.rounded {
    border-radius: 5px;
    vertical-align: top;
  }
}
