body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

// h1 {
//   font-size: 4em;
// }
h1,
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
  font-weight: 700;
}

p {
  margin: $base-spacing 0;
}

a {
  @include transition(color 0.1s linear);
  color: $action-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

blockquote {
  border-left: 5px solid $light-gray;
  padding: $small-spacing;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

figcaption,
.caption {
  font-style: italic;
  text-align: center;
}
