// Typography
$base-font-family: 'Open Sans', $helvetica;
// $heading-font-family: 'Montserrat', $base-font-family;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 0.9em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #ddd;

// $blue: #6ba1cb;
$green: #6bb6a1;
$red: #ec766c;

$orange-light: #dbb10c;
// $orange-dark:  #d98815;
$orange-dark:  #ff6908;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $orange-dark;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
