// Header
$header-height: 80px;

// Typography
$base-font-family: 'Open Sans', $helvetica;
// $heading-font-family: 'Montserrat', $base-font-family;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #79c5d6;
$blue-alt: #73bbcb;
$orange: #f1b956;
$orange-alt: #fad46b;
$green: #80b971;
$red: #f47447;
$turquoise: #40b383;
$white: #fff;
$black: #000;
$gray-menu: #444;

// Grays (needs clean-up)
$lightest-gray: #fbfbfb;
$lighter-gray: #f2f2f2;
$light-gray-two: #f9f9f9;
$light-gray: #ddd;
$gray: #eaeaea;
$medium-gray: #666;
$dark-gray: #333;

$post-meta: #9eabb3;
$post-border: #ebf2f6;

$placeholder: #aaa;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
