<%
author = blog_author(article)
author_name = author ? blog_author_name(author) : article.data.author
%>

<% if author && src = team_avatar_url(author) %>
  <div class="author-avatar">
    <%= image_tag src, alt: author_name, class: "avatar" %>
  </div>
<% end %>
<div class="author">
  <span class="author-name"><%= author_name %></span>
  <time datetime="<%= article.date.strftime('%F') %>"><%= I18n.l(article.date, format: "%e %B %Y", locale: I18n.locale.to_s) %></time>
</div>
