<div id="branches">
    <div class="branches-info">
        <p>Nunc varius mattis mauris eget ullamcorper. Nullam aliquam ut dui vitae egestas. Duis ut mi a eros aliquet pharetra in sit amet est. Etiam tempor ante quis nisi facilisis, vitae faucibus sem hendrerit. Morbi a metus in purus ullamcorper ultrices.</p>
    </div>
    <div class="branche-block">
        <div class="green">
            <img src="images/zorg-icon.png" alt="Topzorg icon" title="Topzorg">
            <h2>Topzorg</h2>
            <p>Curabitur aliquet ornare magna, sit amet ultrices turpis vulputate ac. Proin at justo quis velit tincidunt adipiscing at at dui. Morbi ac leo enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer convallis tempus orci eget tincidunt. Curabitur dictum purus mattis nisi vulputate commodo. Aliquam vitae porta mi. Sed interdum, nibh a scelerisque fringilla, erat leo commodo sem, eu dictum dui massa sed quam. Quisque faucibus egestas velit.</p>
        </div>
    </div>
    <div class="branche-block">
        <div class="blue">
            <img src="images/overheid-icon.png" alt="Overheid icon" title="Overheid">
            <h2>Overheid</h2>
            <p>Curabitur aliquet ornare magna, sit amet ultrices turpis vulputate ac. Proin at justo quis velit tincidunt adipiscing at at dui. Morbi ac leo enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer convallis tempus orci eget tincidunt. Curabitur dictum purus mattis nisi vulputate commodo. Aliquam vitae porta mi. Sed interdum, nibh a scelerisque fringilla, erat leo commodo sem, eu dictum dui massa sed quam. Quisque faucibus egestas velit.</p>
        </div>
    </div>
    <div class="branche-block">
        <div class="last orange">
            <img src="images/bedrijfsleven-icon.png" alt="Bedrijfsleven icon" title="Bedrijfsleven">
            <h2>Bedrijfsleven</h2>
            <p>Curabitur aliquet ornare magna, sit amet ultrices turpis vulputate ac. Proin at justo quis velit tincidunt adipiscing at at dui. Morbi ac leo enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer convallis tempus orci eget tincidunt. Curabitur dictum purus mattis nisi vulputate commodo. Aliquam vitae porta mi. Sed interdum, nibh a scelerisque fringilla, erat leo commodo sem, eu dictum dui massa sed quam. Quisque faucibus egestas velit.</p>
        </div>
    </div>
</div>
