<div id="branches">
    <div class="branches-info">
        <p>
            Ziekenhuizen, ministeries en grote organisaties in het bedrijfsleven werken met onze innovative software.
        </p>
    </div>
    <div class="branche-block">
        <div class="green">
            <img src="images/zorg-icon.png" alt="Topzorg icon" title="Topzorg">
            <h2>Topzorg</h2>
            <p>In de zorg is het niet alleen belangrijk is dat je een bepaalde kwaliteit kan behalen, maar ook dat je kan aantonen dat je de kwalificaties hebt die daarbij horen. Je moet immers een betrouwbare partij zijn voor je patiënten, <!--maar ook voor zorgverzekeraars en accrediterende instanties. -->Onze software helpt je zowel bij het opleiden van je mensen, als bij het bijhouden van hun competenties.</p>
        </div>
    </div>
    <div class="branche-block">
        <div class="blue">
            <img src="images/overheid-icon.png" alt="Overheid icon" title="Overheid">
            <h2>Overheid</h2>
            <p>De overheid is een grote werkgever, waar bij altijd het maatschappelijk doel voorop staat. Zij heeft de moeilijke positie dat ze de verantwoordelijkheid heeft haar geld effectief uit te geven, en daarnaast het goede voorbeeld te geven voor alle werkgevers in Nederland. Met onze software vallen  beide aspecten op hun plek; We helpen medewerkers zich te ontwikkelen en doen dat op een effectieve en kostenbesparende manier.</p>
        </div>
    </div>
    <div class="branche-block">
        <div class="last orange">
            <img src="images/bedrijfsleven-icon.png" alt="Bedrijfsleven icon" title="Bedrijfsleven">
            <h2>Bedrijfsleven</h2>
            <p>Curabitur aliquet ornare magna, sit amet ultrices turpis vulputate ac. Proin at justo quis velit tincidunt adipiscing at at dui. Morbi ac leo enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer convallis tempus orci eget tincidunt. Curabitur dictum purus mattis nisi vulputate commodo. Aliquam vitae porta mi. Sed interdum, nibh a scelerisque fringilla, erat leo commodo sem, eu dictum dui massa sed quam. Quisque faucibus egestas velit.</p>
        </div>
    </div>
</div>
