<header>
    <a class="logo" href="" title="&lt;some smart SEO text&gt;">
        <img src="images/logo.png" alt="Logo Defacto" title="&lt;some smart SEO text&gt;" width="205" height="34">
    </a>

    <div class="phone">
        <a href="tel:+31503144832">050 314 48 32</a>
    </div>

    <nav class="primary-nav">
        <ul>


            <li class="active"><a href="/index.html" class="active">HOME</a></li>



            <li><a href="/blog.html">BLOG</a></li>



            <li><a href="/oplossingen.html">OPLOSSINGEN</a></li>



            <li><a href="/over_ons.html">OVER ONS</a></li>


        </ul>
        <a href="#" id="pull">Menu</a>
    </nav>
</header>
