<div id="clients" >
    <p>Wij ontwikkelen innovatieve software in het werkveld van Opleiden &amp; Ontwikkelen. <a href="#showcase" title="Link to awesome showcase">Bekijk onze showcase om te zien wat er mogelijk is.</a>
    </p>

    <div class="center">
        <img src="images/logos/kpn.jpg" alt="KPN logo" title="KPN">
        <img src="images/logos/achmea.jpg" alt="Achmea logo" title="Achmea">
        <img src="images/logos/zinn.jpg" alt="ZINN logo" title="ZINN">
        <img src="images/logos/unit4.jpg" alt="UNIT4 logo" title="UNIT4">
        <img src="images/logos/uwv.jpg" alt="UWV logo" title="UWV">
        <img src="images/logos/maandag.jpg" alt="maandag logo" title="maandag">
    </div>
</div>
