<div id="slider">
    <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-slides="&gt; div" data-cycle-timeout="5000" data-cycle-pager="#cycle-custom-pager" data-cycle-pager-template="" data-cycle-auto-height="container" style="position: relative; height: 593px;">
        <a href="#left" class="cycle-prev" title="">
            <img src="images/slidernav-left.png" title="" alt="">
        </a>



        <a href="#right" class="cycle-next" title="">
            <img src="images/slidernav-right.png" title="" alt="">
        </a>
        <div class="slide cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; display: none;">
            <h2>Oplossingen voor uw organisatie</h2>
            <img src="images/screen.png" alt="" title="">
            <div class="slide-text right-box">
                <p>Quisque dolor felis, vulputate suscipit sapien eget, mollis condimentum velit. Proin eu neque fringilla, gravida justo sit amet, suscipit nibh.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris ultricies eleifend diam, ut porttitor leo porta id. Vestibulum fringilla enim quis nisi malesuada, id porta nibh consequat. Vestibulum scelerisque enim id consequat ultrices.</p>
                <a href="#leesmeer" class="btn secondary">Lees verder</a>
            </div>
        </div>
        <div class="slide cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; display: block; opacity: 1;">
            <h2>Een hele mooie andere oplossing</h2>
            <img src="images/macbook.png" alt="" title="">
            <div class="slide-text right-box">
                <p>In hac habitasse platea dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla tristique. Morbi mattis ullamcorper velit. Phasellus gravida semper nisi. Nullam vel sem.</p>
                <p>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Sed hendrerit. Morbi ac felis. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede.</p>
                <a href="#leesmeer" class="btn secondary">Lees verder</a>
            </div>
        </div>
    </div>
    <div id="cycle-custom-pager">
        <a href="#" class="">360 feedback</a>
        <a href="#" class="last cycle-pager-active">learningspaces</a>
    </div>
</div>
