
    <div id="solutions">
        <div class="">





            <div>
                <h2>Oplossingen voor uw organisatie</h2>
                <img src="images/screen.png" alt="" title="">
                <div class="slide-text right-box">
                    <p>Quisque dolor felis, vulputate suscipit sapien eget, mollis condimentum velit. Proin eu neque fringilla, gravida justo sit amet, suscipit nibh.</p>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris ultricies eleifend diam, ut porttitor leo porta id. Vestibulum fringilla enim quis nisi malesuada, id porta nibh consequat. Vestibulum scelerisque enim id consequat ultrices.</p>
                    <a href="#leesmeer" class="btn secondary">Lees verder</a>
                </div>
            </div>
            <div class="slide cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; display: block; opacity: 1;">
                <h2>Oplossingen voor uw organisatie</h2>
                <img src="images/screen.png" alt="" title="">
                <div class="slide-text right-box">
                    <p>Quisque dolor felis, vulputate suscipit sapien eget, mollis condimentum velit. Proin eu neque fringilla, gravida justo sit amet, suscipit nibh.</p>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris ultricies eleifend diam, ut porttitor leo porta id. Vestibulum fringilla enim quis nisi malesuada, id porta nibh consequat. Vestibulum scelerisque enim id consequat ultrices.</p>
                    <a href="#leesmeer" class="btn secondary">Lees verder</a>
                </div>
            </div>
            <div id="cycle-custom-pager">
                <a href="#" class="">360 feedback</a>
                <a href="#" class="">learningspaces</a>
            </div>
        </div>
        </div>

    </div>
