---
title: Wij zijn Defacto
---


<div id="mood">
    <div class="mood-content">
        <h1>Developing people</h1>
        <span class="sub-title">Developing People since 1987</span>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida est posuere eleifend porta. Sed quis molestie odio. In hac habitasse platea dictumst. Vestibulum rutrum libero ut sem fermentum dignissim.</p>
        <a class="btn" href="#contact">Contact</a>
    </div>
</div>
<%= partial "references" %>
<%= partial "markets" %>
<%= partial "solutions" %>
