---
title: Seminar
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Workshop: De oplossing voor het Convenant Medische Technologie</h1>
        <a href="#" class="button">Meld je aan voor de workshop</a>
    </div>
  </div>
</div>
<section>
  <div class="headline">
    <h2>
      Hoe borg ik expliciet de bekwaamheden rondom het gebruik van medische technologie in mijn ziekenhuis?
    </h2>
  </div>
</section>
<section class="gray">
  <div class="row">
    <article>
      <p>
        Sinds eind 2011 is het Convenant Medische Technologie van kracht, dat de veiligheid bij de aanschaf de verkoop en het gebruik van medische technologie moet borgen.
      </p>
      <p>
        In 2014 constateerde de Inspectie voor de Volksgezondheid echter dat “een systeem om te komen tot het expliciet maken van bekwaamheden nodig voor de veilige toepassing van medische technologie en de borging van bekwaamheden van gebruikers is in de meeste ziekenhuizen nog onvoldoende, vooral voor wat betreft de medisch specialisten”.
      </p>
      <p>
        Het is dus noodzakelijk om bekwaamheden rondom medische technologische expliciet vast te leggen, maar hoe pak je dat aan?
      </p>
      <p>
        Met het Kwaliteitspaspoort biedt Defacto dé oplossing voor het expliciet vastleggen van deze bekwaamheden. Met deze workshop willen wij u de gelegenheid geven in te zien hoe u in 3 stappen de borging van bekwaamheden kunt inrichten.
      </p>
    </article>
  </div>
</section>
<section>
  <div class="headline">
    <h2>
      In 3 stappen borging van het Convenant Medische Technologie
    </h2>
  </div>
</section>
<section class="product-highlights gray">

  <div class="col description">
    <div class="inner">
      <div>
        <p>
          Op <strong>dinsdag 24 en donderdag 26 november</strong> aanstaande organiseren wij de workshop ‘De oplossing voor het Convenant Medische Technologie’ voor leidinggevenden en medewerkers die dagelijks te maken krijgen met het vastleggen van bekwaamheden rondom medische technologie. De workshop heeft alles om te laten zien hoe borging van deze bekwaamheden ingericht kan worden in 3 stappen.
        </p>
        <p>
          Dit zal geschieden aan de hand van aansprekende praktijkvoorbeelden uit het Rivierenland Ziekenhuis en het Sint Fransiscus Vlietland Gasthuis waar deze borging al is gegarandeerd.
        </p>
      </div>
      <a class="button" href="#">Meld je aan</a>
    </div>
  </div>

  <div class="col description">
    <div class="inner">
      <div>
        <h3>Onderwerpen die deze middag aan de orde zullen komen, zijn:</h3>
        <ul>
          <li>Wat moet ik vastleggen?</li>
          <li>Van welke medewerkers moeten bekwaamheden vastgelegd worden?</li>
          <li>Hoe leg ik bekwaamheden vast?</li>
          <li>Wat voor investering is vereist voor het vastleggen van bekwaamheden?</li>
          <li>Welke 3 stappen zijn noodzakelijk voor succesvolle borging?</li>
          <li>Hoe borg je impliciete bekwaamheden die op de afdeling aanwezig zijn?</li>
          <li>Hoe zorg je dat zorgprofessionals ook daadwerkelijk gaan registeren?</li>
          <li>Hoeveel tijd en moeite gaat dit kosten?</li>
          <li>Wat levert het op?</li>
        </ul>
    </div>
  </div>

</section>

<section class="gray">
  <div class="row">
    <h3>Het programma</h3>
    <br>
    <ul class="program">
        <li>
          <div class="time">13:00 uur</div>
          <h4>Inloop met lunch</h4>
        </li>
        <li>
          <div class="time">13:30 uur</div>
          <h4>Welkomstwoord en introductie</h4>
        </li>
        <li>
          <div class="time">13:45 – 16:45 uur</div>
          <h4>Een rijkgevuld programma met de volgende sessies:</h4>

          <ul>
            <li>
              <h5>Kennismakingsronde</h5>
            </li>
            <li>
              <h5>Inleiding door Gerwin Veenstra/ Joep Lenglet</h5>
            <li>
              <h5>Feedback en vragenronde</h5>
            </li>
            <li>
              <h5>Praktische tips voor invoering door Gerwin Veenstra / Joep Lenglet</h5>
            </li>
            <li>
              <h5>Afronding en borrel</h5>
            </li>
          </ul>

        </li>
        <li>
          <div class="time">16:45 uur</div>
          <h4>Plenaire afsluiting met ruimte voor vragen en discussie</h4>
        </li>
        <li>
          <div class="time">17:00 uur</div>
          <h4>Netwerkborrel</h4>
        </li>
      </ul>

  </div>
</section>

<section class="gray">
  <a class="button" href="#">Meld je aan</a>
</section>

