---
title: "Workshop: Hoe borg ik het Convenant MT?"
---

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Workshop: Hoe borg ik het Convenant Medische Technologie?</h1>
        <%= markitdown "Leer van de ervaringen van andere ziekenhuizen en zie hoe het **Convenant Veilige Toepassing Medische Technologie** in 3 stappen geborgd wordt." %>
    </div>
  </div>
</div>

<section class="gray locations">
  <div class="row">
    <p class="col">
      <strong>Dinsdag 24 november</strong><br>
      Ziekenhuis Rivierenland,<br>
      Tiel<br>
      <a href="https://defactoseminar.typeform.com/to/HX3DsW?datum=24" class="button">Meld je aan</a>
    </p>
    <p class="col">
      <strong>Donderdag 26 november</strong><br>
      Leids Universitair Medisch Centrum,<br>
      Leiden<br>
      <a href="https://defactoseminar.typeform.com/to/HX3DsW?datum=26" class="button">Meld je aan</a>
    </p>
  </div>
</section>

<section class="intro">
  <div class="row">
    <article>
    <h2>
      In drie stappen borging van het Convenant Medische Technologie
    </h2>
      <p>
        Sinds eind 2011 is het <strong>Convenant Veilige Toepassing Medische Technologie</strong> van kracht, dat de veiligheid bij de aanschaf de verkoop en het gebruik van medische technologie moet borgen.
      </p>
      <p>
        Het restrictieve beleid van de Inspectie voor de Volksgezondheid maakt het noodzakelijk om bekwaamheden en bevoegdheden rondom het gebruik van medische technologie expliciet aantoonbaar te kunnen maken, maar hoe pak je dat aan?
      </p>
      <p>
        Met het Kwaliteitspaspoort biedt Defacto dé oplossing voor het expliciet vastleggen van deze bekwaamheden. Met deze workshop willen wij u de gelegenheid geven in te zien hoe u in drie stappen de borging van bekwaamheden kunt inrichten.
      </p>
    </article>
  </div>
</section>

<section class="product-highlights gray">
  <div class="col description">
    <div class="inner">
      <div>
        <p>
          Op <strong>dinsdag 24</strong> en <strong>donderdag 26 november</strong> aanstaande organiseren wij de workshop ‘Hoe borg ik het Convenant Medische Technologie?’ voor leidinggevenden en medewerkers die dagelijks te maken krijgen met het vastleggen van bekwaamheden rondom medische technologie. De workshop laat in 3 stappen zien hoe borging van het Convenant Medische Technologie gerealiseerd kan worden.
        </p>
        <p>
          Dit zal geschieden aan de hand van aansprekende praktijkvoorbeelden uit het <strong>Ziekenhuis Rivierenland</strong> en het <strong>LUMC</strong> waar deze borging al is gegarandeerd.
        </p>
      </div>
    </div>
  </div>

  <div class="col description">
    <div class="inner">
      <div>
        <h3>Aan de hand van een uitgewerkte praktijk casus komende de onderstaande onderwerpen aan de orde.</h3>
        <ul>
          <li>Hoe borg ik de bekwaamheid van mijn medewerkers in het gebruik van medische apparatuur (verschillende smaken worden besproken)?</li>
          <li>Wat betekent het voor mijn organisatie om dit proces op te zetten (financieel, technisch en op de werkvloer)?</li>
          <li>Hoe maak ik het Convenant Medische Technologie een permanent onderdeel van de kwaliteitsmonitoring op mijn afdeling/in mijn ziekenhuis?</li>
          <li>Hoe krijg ik mijn medewerkers mee in dit proces? </li>
          <li>Hoe tonen we de bekwaamheid van medewerkers aan ten opzichte van externe stakeholders als Inspectie, NIAZ, etc.?</li>
        </ul>
    </div>
  </div>
</section>

<section class="program">
  <div class="row">
    <h3>Het programma</h3>
    <br>
    <br>

    <div class="col program-1">
      <h4 class="program-heading">
        Dinsdag 24 november<br>
        <span>Ziekenhuis Rivierenland, Tiel</span>
      </h4>

      <ul class="program-list">
        <li>
          <div class="time">14:30 uur</div>
          <h4>Inloop</h4>
        </li>
        <li>
          <div class="time">15:00 uur</div>
          <h4>Welkomstwoord & inleiding (Gerwin Veenstra)</h4>
        </li>
        <li>
          <div class="time">15:15 – 17:00 uur</div>
          <ul>
            <li>
              <h5>Kennismakingsronde</h5>
            </li>
            <li>
              <h5>Praktijkcase door Ziekenhuis Rivierenland</h5>
            <li>
              <h5>Praktische tips bij invoering (Gerwin Veenstra)</h5>
            </li>
            <li>
              <h5>Feedback en vragenronde</h5>
            </li>
          </ul>
        </li>
        <li>
          <div class="time">17:00 uur</div>
          <h4>Afronding</h4>
        </li>
      </ul>
      <a href="https://defactoseminar.typeform.com/to/HX3DsW?datum=24" class="button">Meld je aan</a>
    </div>

    <div class="col program-2">
      <h4 class="program-heading">
        Donderdag 26 november<br>
        <span>Leids Universitair Medisch Centrum, Leiden</span>
      </h4>

      <ul class="program-list">
        <li>
          <div class="time">14:30 uur</div>
          <h4>Inloop</h4>
        </li>
        <li>
          <div class="time">15:00 uur</div>
          <h4>Welkomstwoord & inleiding (Joep Lenglet)</h4>
        </li>
        <li>
          <div class="time">15:15 – 17:00 uur</div>
          <ul>
            <li>
              <h5>Kennismakingsronde</h5>
            </li>
            <li>
              <h5>Praktijkcase door LUMC</h5>
            <li>
              <h5>Praktische tips bij invoering (Joep Lenglet)</h5>
            </li>
            <li>
              <h5>Feedback en vragenronde</h5>
            </li>
          </ul>
        </li>
        <li>
          <div class="time">17:00 uur</div>
          <h4>Afronding</h4>
        </li>
      </ul>
      <a href="https://defactoseminar.typeform.com/to/HX3DsW?datum=26" class="button">Meld je aan</a>
    </div>

  </div>
</section>
