---
title: "Workshop: Hoe borg ik het Convenant MT? - 28 januari 2016"
---
<%
def old_action
headers["Status"] = "301 Moved Permanently"
redirect_to "http://www.ronalddijkstra.nl"
end
%>

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Workshop: Hoe borg ik het Convenant Medische Technologie?</h1>
        <%= markitdown "Leer van de ervaringen van andere ziekenhuizen en zie hoe het Convenant Veilige Toepassing Medische Technologie in 3 stappen geborgd wordt." %>
        <p>
          <strong>Waar?</strong> Defacto, Zuiderpark 3, 9724 AD, Groningen<br>
          <strong>Wanneer?</strong> Donderdag 28 januari 2016, 14:30 uur<br><br>
          <a href="https://defactoseminar.typeform.com/to/HEKv83?datum=28" class="button cta-big">Meld je nu aan &raquo;</a>
        </p>
    </div>
  </div>
</div>

<section class="intro">
  <div class="row">
    <article>
    <h2>
      In 3 stappen borging van het Convenant Medische Technologie
    </h2>
      <p>
        Sinds eind 2011 is het <strong>Convenant Veilige Toepassing Medische Technologie</strong> van kracht, dat de veiligheid bij de aanschaf de verkoop en het gebruik van medische technologie moet borgen.
      </p>
      <p>
        Het restrictieve beleid van de Inspectie voor de Volksgezondheid maakt het noodzakelijk om bekwaamheden en bevoegdheden rondom het gebruik van medische technologie expliciet aantoonbaar te kunnen maken, maar hoe pak je dat aan?
      </p>
      <p>
        Met het Kwaliteitspaspoort biedt Defacto dé oplossing voor het expliciet vastleggen van deze bekwaamheden. Met deze workshop willen wij u de gelegenheid geven in te zien hoe u in 3 stappen de borging van bekwaamheden kunt inrichten.
      </p>
    </article>
  </div>
</section>

<section class="intro gray">
  <div class="row">
    <article>
      <p>
          Op <strong>donderdag 28 januari</strong> organiseren wij de workshop <strong>‘Hoe borg ik het Convenant Medische Technologie?’</strong> voor leidinggevenden en medewerkers die dagelijks te maken krijgen met het vastleggen van bekwaamheden rondom medische technologie. De workshop laat in 3 stappen zien hoe borging van het Convenant Medische Technologie gerealiseerd kan worden en biedt tevens de mogelijkheid om direct vragen te stellen aan onze medewerkers.
        </p>
        <p>
          Dit zal geschieden aan de hand van aansprekende praktijkvoorbeelden uit diverse ziekenhuizen waar deze borging al is gegarandeerd.
        </p>
    </article>
  </div>
</section>

<section class="intro">
  <div class="row">
    <article>
        <h3>Aan de hand van een uitgewerkte praktijk casus komen de onderstaande onderwerpen aan de orde:</h3>
          <ul>
            <li>Hoe borg ik de bekwaamheid van mijn medewerkers in het gebruik van medische apparatuur (verschillende smaken worden besproken)?</li>
            <li>Wat betekent het voor mijn organisatie om dit proces op te zetten (financieel, technisch en op de werkvloer)?</li>
            <li>Hoe maak ik het Convenant Medische Technologie een permanent onderdeel van de kwaliteitsmonitoring op mijn afdeling/in mijn ziekenhuis?</li>
            <li>Hoe krijg ik mijn medewerkers mee in dit proces? </li>
            <li>Hoe tonen we de bekwaamheid van medewerkers aan ten opzichte van externe stakeholders als Inspectie, NIAZ, etc.?</li>
          </ul>
    </article>
  </div>
</section>

<section class="program gray">
  <div class="row">
    <h3>Het programma</h3>

    <div class="row program-1">
      <ul class="program-list">
        <li>
          <div class="time">14:30 uur</div>
          <h4>Inloop</h4>
        </li>
        <li>
          <div class="time">15:00 uur</div>
          <h4>Welkomstwoord en inleiding door Joep Lenglet</h4>
        </li>
        <li>
          <div class="time">15:15 – 17:00 uur</div>
          <ul>
            <li>
              <h5>Kennismakingsronde</h5>
            </li>
            <li>
              <h5>Praktijkcase</h5>
            <li>
              <h5>Praktische tips bij invoering door Joep Lenglet</h5>
            </li>
            <li>
              <h5>Feedback en vragenronde</h5>
            </li>
          </ul>
        </li>
        <li>
          <div class="time">17:00 uur</div>
          <h4>Afsluiting en borrel</h4>
        </li>
      </ul>
    </div>
 </div>
</section>

<div class="register">
  <div class="register-inner">
       <p>
          <a href="https://defactoseminar.typeform.com/to/HEKv83?datum=28" class="button cta-big">Meld je nu aan &raquo;</a>
        </p>
  </div>
</div>

<%= partial "contact-info" %>
<%= partial "map" %>
