<section class="feature-list three">
  <div class="row">

    <div class="headline">
      <h2>Entwickeln Sie sich selbst oder Ihre Organisation, indem Sie von allen Seiten Feedback erhalten:</h2>
    </div>

    <div class="col">
      <h3>Feedback anfragen</h3>
      <p>Fragen Sie um Feedback in 3 einfachen Schritten: wählen Sie ein Thema, selektieren Sie ein Fragebogen und laden Sie Kollegen, Vorgesetzte, Kunden oder andere Personen ein, von denen Sie Feedback bekommen möchten. </p>
    </div>

    <div class="col">
      <h3>Beurteilt werden</h3>
      <p>Diejenigen, die Sie um Feedback gefragt haben, erhalten eine Einladung per E-Mail. Über die Einladung wird man direkt zum Fragebogen weitergeleitet, den Ihre Kollegen dann anonym ausfüllen können.</p>
    </div>

    <div class="col">
      <h3>Resultate einsehen</h3>
      <p>In einer übersichtlichen Grafik können Sie Ergebnisse direkt einsehen. Damit haben Sie alles auf einen Blick und sehen direkt wo Ihr Entwicklungspotential liegt und Sie als nächstes ansetzen können. Profitieren Sie von der Multiperspektivität!</p>
    </div>

  </div>
</section>
